{% comment %}
ATB-SCHEMA{
  "name": "PDP Image with Text",
  "id": "pdp-image-with-text",
  "banner": "",
  "icon": "",
  "tags": "",
  "description": "",
  "class": "",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": ""
    },
    {
      "type": "text",
      "id": "atb_section_id",
      "label": "Section ID",
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center",
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_layout",
      "label": "Mobile Layout",
      "options": [
        {
          "label": "Stacked",
          "value": "stacked"
        },
        {
          "label": "Slider",
          "value": "owl-carousel owl-theme"
        }
      ],
      "default": "stacked",
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_stacked_row",
      "label": "Desktop Stacked row per column",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        },
        {
          "label": "3",
          "value": "3"
        },
        {
          "label": "4",
          "value": "4"
        }
      ],
      "default": "2",
      "info": "Enabled if Layout selected is Stacked"
    },
    {
      "type": "select",
      "id": "atb_mobile_stacked_row",
      "label": "Mobile Stacked row per column",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        }
      ],
      "default": "1",
      "info": "Enabled if Layout selected is Stacked"
    },
    {
      "type": "select",
      "id": "atb_slider_row",
      "label": "Desktop slider row per column",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        },
        {
          "label": "3",
          "value": "3"
        },
        {
          "label": "4",
          "value": "4"
        }
      ],
      "default": "2",
      "info": "Enabled if Layout selected is Slider"
    },
    {
      "type": "select",
      "id": "atb_mobile_slider_row",
      "label": "Mobile slider row per column",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        },
        {
          "label": "3",
          "value": "3"
        },
        {
          "label": "4",
          "value": "4"
        }
      ],
      "default": "1",
      "info": "Enabled if Layout selected is Slider"
    },
    {
      "type": "text",
      "id": "blocks",
      "label": "Block ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": "",
      "repeatable": "Image-Content"
    },
    {
      "type": "image_picker",
      "id": "block_image",
      "label": "Image",
      "repeatable": "Image-Content",
      "info": ""
    },
    {
      "type": "image_picker",
      "id": "block_mobile_image",
      "label": "Mobile Image",
      "repeatable": "Image-Content",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_image_alt",
      "label": "Image Alt",
      "repeatable": "Image-Content",
      "info": ""
    },
    {
      "type": "wysiwyg",
      "id": "block_subtext_top",
      "label": "Subtext Top",
      "repeatable": "Image-Content",
      "info": ""
    },
    {
      "type": "wysiwyg",
      "id": "block_subtext_bottom",
      "label": "Subtext Bottom",
      "repeatable": "Image-Content",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_button_link",
      "label": "Button Link",
      "repeatable": "Image-Content",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_button_text",
      "label": "Button Text",
      "default": "Learn More",
      "repeatable": "Image-Content",
      "info": ""
    }
  ],
  "warnings": [
    "repeating image fields may not be properly handled"
  ]
}ATB-SCHEMA
{% endcomment %}


{%- include 'atb-render' field:'section_id' -%}
{%- assign section_id = val -%}
{%- include 'atb-render' field:'atb_section_id' -%}
{%- assign atb_section_id = val -%}
{%- include 'atb-render' field:'atb_alignment' -%}
{%- assign atb_alignment = val -%}
{%- include 'atb-render' field:'atb_layout' -%}
{%- assign atb_layout = val -%}
{%- include 'atb-render' field:'atb_stacked_row' -%}
{%- assign atb_stacked_row = val -%}
{%- include 'atb-render' field:'atb_mobile_stacked_row' -%}
{%- assign atb_mobile_stacked_row = val -%}
{%- include 'atb-render' field:'atb_slider_row' -%}
{%- assign atb_slider_row = val -%}
{%- include 'atb-render' field:'atb_mobile_slider_row' -%}
{%- assign atb_mobile_slider_row = val -%}
{%- include 'atb-render' field:'blocks' -%}
{%- assign blocks = val -%}
{%- include 'atb-render' field:'block_image' -%}
{%- assign block_image = val -%}
{%- include 'atb-render' field:'block_mobile_image' -%}
{%- assign block_mobile_image = val -%}
{%- include 'atb-render' field:'block_image_alt' -%}
{%- assign block_image_alt = val -%}
{%- include 'atb-render' field:'block_subtext_top' -%}
{%- assign block_subtext_top = val -%}
{%- include 'atb-render' field:'block_subtext_bottom' -%}
{%- assign block_subtext_bottom = val -%}
{%- include 'atb-render' field:'block_button_link' -%}
{%- assign block_button_link = val -%}
{%- include 'atb-render' field:'block_button_text' -%}
{%- assign block_button_text = val -%}
{%- assign no_image = images['no_image_comparison'] -%}

<section id="shopify-section-{{section_id}}" class="shopify-section ">
<section id="{{ section_id }}" class="pdp pdp-image-text">
    <div class="pdp-image-text-container {% if atb_layout == "owl-carousel owl-theme" %}pr-0{% endif%}" id="{{ atb_section_id }}">
        <div class="stacked content-alignment-{{ atb_alignment }} {% if atb_layout == "owl-carousel owl-theme" %}d-sm-none{% endif %}">
            {% for block0 in blocks %}
{%- assign my_image_key1 = block_mobile_image[forloop.index0]| split: '/files/' | last -%}
{%- assign my_image1 = images[my_image_key1] -%}
{%- assign my_image_key0 = block_image[forloop.index0]| split: '/files/' | last -%}
{%- assign my_image0 = images[my_image_key0] -%}
                <div class="stack-content stack-content-{{ atb_stacked_row }} mobile-stack-content-{{ atb_mobile_stacked_row }}">
                    {% if my_image0 != blank or my_image1 != blank %}
                        <picture>
                            <source media="(min-width:750px)" srcset="{{ my_image0 | image_url: width: 1000 }}">
                            <source media="(max-width:749px)"  srcset="{{ my_image1 | image_url: width: 749 }}">
                            <img src="{{ my_image0 | image_url: width: 1000 }}" alt="{{ block_image_alt[forloop.index0] }}" style="width: 100%;">
                        </picture>
                    {% endif %}
                    <div class="text-content">
                        {% if block_subtext_top[forloop.index0] != blank %}
                            {{ block_subtext_top[forloop.index0] }}
                        {% endif %}
                        {% if block_subtext_bottom[forloop.index0] != blank %}
                            {{ block_subtext_bottom[forloop.index0] }}
                        {% endif %}
                    </div>
                    {% if block_button_link[forloop.index0] != blank and block_button_text[forloop.index0] != blank %}
                        <a href="{{ block_button_link[forloop.index0] }}" class="pdp-button">{{ block_button_text[forloop.index0] }}</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% if atb_layout == "owl-carousel owl-theme" %}
            <div class="owl-carousel owl-theme content-alignment-{{ atb_alignment }}">
                {% for block0 in blocks %}
{%- assign my_image_key1 = block_mobile_image[forloop.index0]| split: '/files/' | last -%}
{%- assign my_image1 = images[my_image_key1] -%}
{%- assign my_image_key0 = block_image[forloop.index0]| split: '/files/' | last -%}
{%- assign my_image0 = images[my_image_key0] -%}
                    <div class="stack-content item">
                        {% if my_image0 != blank or my_image1 != blank %}
                            <picture>
                                <source media="(min-width:750px)" srcset="{{ my_image0 | image_url: width: 1000 }}">
                                <source media="(max-width:749px)"  srcset="{{ my_image1 | image_url: width: 749 }}">
                                <img src="{{ my_image0 | image_url: width: 1000 }}" alt="{{ block_image_alt[forloop.index0] }}" style="width: 100%;">
                            </picture>
                        {% endif %}
                        <div class="text-content">
                            {% if block_subtext_top[forloop.index0] != blank %}
                                {{ block_subtext_top[forloop.index0] }}
                            {% endif %}
                            {% if block_subtext_bottom[forloop.index0] != blank %}
                                {{ block_subtext_bottom[forloop.index0] }}
                            {% endif %}
                        </div>
                        {% if block_button_link[forloop.index0] != blank and block_button_text[forloop.index0] != blank %}
                            <a href="{{ block_button_link[forloop.index0] }}" class="pdp-button">{{ block_button_text[forloop.index0] }}</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
<script>
    let owl = $("#{{ section_id }} .owl-carousel");
    if(owl) {
        let owlCarousel = owl.owlCarousel({
            margin:12,
            dots:true,
            stagePadding: 39,
            responsive:{
                0:{
                    items:{{ atb_mobile_slider_row }}
                },
                749:{
                    items: {{ atb_slider_row }}
                }
            }
        })
    }
</script>

</section>