{% comment %}
ATB-SCHEMA{
  "name": "t:sections.quotes.name",
  "class": "quotes-section index-section",
  "id": "quotes",
  "banner": "",
  "icon": "",
  "tags": "",
  "description": "",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": ""
    },
    {
      "type": "checkbox",
      "id": "atb_full_width",
      "label": "Full width",
      "info": ""
    },
    {
      "type": "image_picker",
      "id": "atb_image",
      "label": "t:sections.quotes.settings.image.label",
      "info": ""
    },
    {
      "type": "image_picker",
      "id": "atb_image_mobile",
      "label": "t:sections.quotes.settings.image_mobile.label",
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_image_style",
      "label": "t:sections.quotes.settings.image_style.label",
      "options": [
        {
          "label": "t:sections.quotes.settings.image_style.options__1.label",
          "value": "right"
        },
        {
          "label": "t:sections.quotes.settings.image_style.options__2.label",
          "value": "full"
        }
      ],
      "default": "right",
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_heading_style",
      "label": "Heading alignment",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        }
      ],
      "default": "left",
      "info": ""
    },
    {
      "type": "text",
      "id": "atb_title",
      "label": "t:sections.quotes.settings.title.label",
      "default": {
        "cs": "Ohlasy",
        "da": "Udtalelser",
        "de": "Testimonials",
        "en": "Testimonials",
        "es": "Testimonios",
        "fi": "Suositukset",
        "fr": "Témoignages",
        "it": "Testimonial",
        "ja": "お客様の声",
        "ko": "추천",
        "nb": "Tilbakemeldinger fra kunder",
        "nl": "Getuigenissen",
        "pl": "Referencje",
        "pt-BR": "Depoimentos",
        "pt-PT": "Depoimentos",
        "sv": "Kundberättelser",
        "th": "เสียงชื่นชมจากลูกค้า",
        "tr": "Kullanıcı görüşleri",
        "vi": "Chứng thực",
        "zh-CN": "感言",
        "zh-TW": "推薦文"
      },
      "info": ""
    },
    {
      "type": "text",
      "id": "atb_subtitle",
      "label": "t:sections.quotes.settings.subtitle.label",
      "default": "Subtitle",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_bg_color",
      "label": "t:sections.quotes.settings.background_color.label",
      "default": "rgba(0,0,0,0)",
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_title_color",
      "label": "t:sections.quotes.settings.title_color.label",
      "default": "#000",
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_enable_carousel",
      "label": "t:sections.quotes.settings.enable_carousel.label",
      "default": true,
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_show_dots",
      "label": "t:sections.quotes.settings.show_dots.label",
      "default": true,
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_show_arrows",
      "label": "t:sections.quotes.settings.show_arrows.label",
      "default": true,
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_enable_autoplay",
      "label": "t:sections.quotes.settings.enable_autoplay.label",
      "default": true,
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_cycle_speed",
      "min": 1,
      "max": 8,
      "step": 1,
      "unit": "t:sections.quotes.settings.cycle_speed.unit",
      "label": "t:sections.quotes.settings.cycle_speed.label",
      "default": 5,
      "info": ""
    },
    {
      "type": "text",
      "id": "blocks",
      "label": "Block ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": "",
      "repeatable": "t:sections.quotes.blocks.quote.name"
    },
    {
      "type": "text",
      "id": "block_title",
      "label": "t:sections.quotes.blocks.quote.settings.title.label",
      "default": "Review heading",
      "repeatable": "t:sections.quotes.blocks.quote.name",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_mobile_title",
      "label": "Heading(Mobile)",
      "repeatable": "t:sections.quotes.blocks.quote.name",
      "info": ""
    },
    {
      "type": "wysiwyg",
      "id": "block_quote",
      "label": "t:sections.quotes.blocks.quote.settings.quote.label",
      "default": {
        "cs": "<p>Přidejte recenze a ohlasy zákazníků, které vyjadřují jejich spokojenost s vaším obchodem.</p>",
        "da": "<p>Tilføj kundeanmeldelser og udtalelser for at fremhæve din butiks tilfredse kunder.</p>",
        "de": "<p>Kunden-Reviews und Testimonials, die Kundenzufriedenheit beweisen.</p>",
        "en": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>",
        "es": "<p>Agrega las reseñas y los testimonios de los clientes para mostrar a los clientes satisfechos de tu tienda.</p>",
        "fi": "<p>Lisää asiakasarviointeja ja suositteluja esimerkeiksi myymäläsi tyytyväisistä asiakkaista.</p>",
        "fr": "<p>Ajoutez des avis et témoignages pour mettre en avant vos clients satisfaits.</p>",
        "it": "<p>Aggiungi recensioni e testimonianze sul tuo negozio per dimostrare che i clienti sono soddisfatti.</p>",
        "ja": "<p>あなたのストアの幸せなお客様を紹介するために、カスタマーレビューとお客様の声を追加してください。</p>",
        "ko": "<p>고객 리뷰 및 추천을 추가하여 스토어에 만족한 고객을 보여주십시오.</p>",
        "nb": "<p>Legg til kundeomtaler og anbefalinger for å vise frem butikkens glade kunder.</p>",
        "nl": "<p>Voeg beoordelingen van klanten en testimonials toe om te laten zien dat je klanten tevreden zijn.</p>",
        "pl": "<p>Dodaj opinie i referencje od klientów, aby pokazać zadowolenie klientów Twojego sklepu.</p>",
        "pt-BR": "<p>Adicione comentários e depoimentos para dar destaque aos clientes satisfeitos com a sua loja.</p>",
        "pt-PT": "<p>Adicione análises e testemunhos para mostrar os clientes felizes da sua loja.</p>",
        "sv": "<p>Lägg till kundrecensioner och berättelser för att visa upp din butiks nöjda kunder.</p>",
        "th": "<p>เพิ่มรีวิวและเสียงชื่นชมจากลูกค้าเพื่อนำเสนอลูกค้าที่ได้รับความพึงพอใจจากร้านค้า</p>",
        "tr": "<p>Müşteri değerlendirmeleri ve kullanıcı görüşleri ekleyerek mağazanızdan memnun kalan müşterileri gösterin.</p>",
        "vi": "<p>Thêm đánh giá và chứng thực từ khách hàng để chứng minh khách hàng hài lòng với cửa hàng.</p>",
        "zh-CN": "<p>添加客户评论和感言，以展示对您的商店满意的客户。</p>",
        "zh-TW": "<p>新增顧客評論和推薦文，展示對您商店滿意之顧客。</p>"
      },
      "repeatable": "t:sections.quotes.blocks.quote.name",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_author",
      "label": "t:sections.quotes.blocks.quote.settings.author.label",
      "default": {
        "cs": "Jméno autora",
        "da": "Forfatterens navn",
        "de": "Name des Autors",
        "en": "Author's name",
        "es": "Nombre del autor",
        "fi": "Kirjoittajan nimi",
        "fr": "Nom de l'auteur",
        "it": "Nome dell'autore",
        "ja": "筆者の名前",
        "ko": "작성자 이름",
        "nb": "Forfatterens navn",
        "nl": "Naam auteur",
        "pl": "Nazwisko autora",
        "pt-BR": "Nome do autor",
        "pt-PT": "Nome do autor",
        "sv": "Författarens namn",
        "th": "ชื่อผู้เขียน",
        "tr": "Yazar adı",
        "vi": "Tên tác giả",
        "zh-CN": "作者姓名",
        "zh-TW": "作者名稱"
      },
      "repeatable": "t:sections.quotes.blocks.quote.name",
      "info": ""
    },
    {
      "type": "select",
      "id": "block_image_format",
      "label": "Image format",
      "options": [
        {
          "value": "svg",
          "label": "SVG"
        },
        {
          "value": "image",
          "label": "PNG or JPG"
        }
      ],
      "default": "image",
      "repeatable": "t:sections.quotes.blocks.quote.name",
      "info": ""
    },
    {
      "type": "image_picker",
      "id": "block_image",
      "label": "t:sections.quotes.blocks.quote.settings.image.label",
      "repeatable": "t:sections.quotes.blocks.quote.name",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_svg_image",
      "label": "SVG image url",
      "info": "Upload SVG image into [Files](https://ecoflow-tech.myshopify.com/admin/settings/files) and paste the URL here.",
      "repeatable": "t:sections.quotes.blocks.quote.name"
    }
  ],
  "warnings": [
    "repeating image fields may not be properly handled"
  ]
}ATB-SCHEMA
{% endcomment %}


{%- include 'atb-render' field:'section_id' -%}
{%- assign section_id = val -%}
{%- include 'atb-render' field:'atb_full_width' -%}
{%- assign atb_full_width = val -%}
{%- include 'atb-render' field:'atb_image' -%}
{%- assign atb_image = val -%}
{%- include 'atb-render' field:'atb_image_mobile' -%}
{%- assign atb_image_mobile = val -%}
{%- include 'atb-render' field:'atb_image_style' -%}
{%- assign atb_image_style = val -%}
{%- include 'atb-render' field:'atb_heading_style' -%}
{%- assign atb_heading_style = val -%}
{%- include 'atb-render' field:'atb_title' -%}
{%- assign atb_title = val -%}
{%- include 'atb-render' field:'atb_subtitle' -%}
{%- assign atb_subtitle = val -%}
{%- include 'atb-render' field:'atb_bg_color' -%}
{%- assign atb_bg_color = val -%}
{%- include 'atb-render' field:'atb_title_color' -%}
{%- assign atb_title_color = val -%}
{%- include 'atb-render' field:'atb_enable_carousel' -%}
{%- assign atb_enable_carousel = val -%}
{%- include 'atb-render' field:'atb_show_dots' -%}
{%- assign atb_show_dots = val -%}
{%- include 'atb-render' field:'atb_show_arrows' -%}
{%- assign atb_show_arrows = val -%}
{%- include 'atb-render' field:'atb_enable_autoplay' -%}
{%- assign atb_enable_autoplay = val -%}
{%- include 'atb-render' field:'atb_cycle_speed' -%}
{%- assign atb_cycle_speed = val -%}
{%- include 'atb-render' field:'blocks' -%}
{%- assign blocks = val -%}
{%- include 'atb-render' field:'block_title' -%}
{%- assign block_title = val -%}
{%- include 'atb-render' field:'block_mobile_title' -%}
{%- assign block_mobile_title = val -%}
{%- include 'atb-render' field:'block_quote' -%}
{%- assign block_quote = val -%}
{%- include 'atb-render' field:'block_author' -%}
{%- assign block_author = val -%}
{%- include 'atb-render' field:'block_image_format' -%}
{%- assign block_image_format = val -%}
{%- include 'atb-render' field:'block_image' -%}
{%- assign block_image = val -%}
{%- include 'atb-render' field:'block_svg_image' -%}
{%- assign block_svg_image = val -%}
{%- if atb_full_width == blank -%}
{%- assign atb_full_width = false -%}
{%- else -%}
{%- assign atb_full_width = true -%}
{%- endif -%}
{%- if atb_enable_carousel == blank -%}
{%- assign atb_enable_carousel = false -%}
{%- else -%}
{%- assign atb_enable_carousel = true -%}
{%- endif -%}
{%- if atb_show_dots == blank -%}
{%- assign atb_show_dots = false -%}
{%- else -%}
{%- assign atb_show_dots = true -%}
{%- endif -%}
{%- if atb_show_arrows == blank -%}
{%- assign atb_show_arrows = false -%}
{%- else -%}
{%- assign atb_show_arrows = true -%}
{%- endif -%}
{%- if atb_enable_autoplay == blank -%}
{%- assign atb_enable_autoplay = false -%}
{%- else -%}
{%- assign atb_enable_autoplay = true -%}
{%- endif -%}
{%- assign atb_cycle_speed = atb_cycle_speed | plus: 0 -%}
{%- assign atb_image_key = atb_image| split: '/files/' | last -%}{%- assign atb_image = images[atb_image_key] -%}{%- assign atb_image_mobile_key = atb_image_mobile| split: '/files/' | last -%}{%- assign atb_image_mobile = images[atb_image_mobile_key] -%}{%- assign no_image = images['no_image_comparison'] -%}

<section id="shopify-section-{{section_id}}" class="shopify-section quotes-section index-section">

{% assign image = atb_image %}
{% assign mobile_image = atb_image_mobile %}
{% assign image_style = atb_image_style %}
{% assign enable_carousel = atb_enable_carousel %}

<section id="section-{{ section_id }}" data-section-id="{{ section_id }}" data-section-type="quotes" class='fade-in-animation {% if image != blank or mobile_image != blank %} section_with_bg {% endif %}' >

   <div class='section_bg image_style_{{image_style}}'>
	{% if image != blank %}
        <img
             class="section_bg_image {% if mobile_image != blank %} small--hide {% endif %}"
             srcset="{%- if image.width >= 375 -%}{{ image | img_url: '375x' }} 375w,{%- endif -%}
                {%- if image.width >= 720 -%}{{ image | img_url: '720x' }} 750w,{%- endif -%}
                {%- if image.width >= 1066 -%}{{ image | img_url: '1066x' }} 1066w,{%- endif -%}
             	{%- if image.width >= 1500 -%}{{ image | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if image.width >= 1780 -%}{{ image | img_url: '1780x' }} 1780w,{%- endif -%}
                {%- if image.width >= 2000 -%}{{ image | img_url: '2000x' }} 2000w,{%- endif -%}
                {%- if image.width >= 2800 -%}{{ image | img_url: '2800x' }} 2800w{%- endif -%}"
             src="{{ image | img_url: '750x' }}"
             sizes="100vw"
             loading="lazy"
             width="{{ image.width }}"
        	 height="{{ image.height }}"
            alt="{{image.alt | default: atb_title }}">

      {% if mobile_image != blank %}
        <img
             class="section_bg_image mobile_image medium-up--hide"
             srcset="{%- if mobile_image.width >= 375 -%}{{ mobile_image | img_url: '375x' }} 375w,{%- endif -%}
                {%- if mobile_image.width >= 720 -%}{{ mobile_image | img_url: '720x' }} 750w,{%- endif -%}
                {%- if mobile_image.width >= 1066 -%}{{ mobile_image | img_url: '1066x' }} 1066w,{%- endif -%}
             	{%- if mobile_image.width >= 1500 -%}{{ mobile_image | img_url: '1500x' }} 1500w{%- endif -%}"
             src="{{ mobile_image | img_url: '535x' }}"
             sizes="100vw"
             loading="lazy"
             width="{{ mobile_image.width }}"
        	 height="{{ mobile_image.height }}"
             alt="{{mobile_image.alt | default: atb_title }}">
      {% endif %}



	  {% endif %}
  </div>


  {%- capture flickity_options -%}
{
  "prevNextButtons": false,
  "wrapAround": false,
  "dragThreshold": 15,
 "cellAlign": "left",
  "wrapAround": true,
  "pauseAutoPlayOnHover": true,
  "autoPlay": {% if atb_enable_autoplay %}{{ atb_cycle_speed | times: 1000 }}{% else %}false{% endif %},
  "pageDots": {% if atb_show_dots %}true{% else %}false{%endif %}
}
{%- endcapture -%}

{% if atb_heading_style == 'left' %}
  {% capture header_classes_alignment %}section-header text-left{% endcapture %}
  {% capture subtitle_class_alignment %}h5{% endcapture %}
  {% else %}
  {% capture header_classes_alignment %}section-header section-title{% endcapture %}
  {% capture subtitle_class_alignment %}section-header--subtitle{% endcapture %}
{% endif %}

    <div class="{% if atb_full_width %}page-width{% else %}page-width-small{% endif %}" >

      {% if atb_title != blank %}
      <div class="{{ header_classes_alignment }} homepage_subtitle_style_{{settings.homepage_subtitle_color}}">
          {% if atb_title != blank %}
          <h2>{{ atb_title  }}</h2>
          {% endif %}
          {% if atb_subtitle != blank  %}
          <span class='{{ subtitle_class_alignment }}'>{{ atb_subtitle  }}</span>
          {% endif %}

          {% if atb_show_arrows and enable_carousel %}
          <div class='slider_custom_arrows'>
            <a href="javascript:void(0)" id='button_prev_{{section_id}}' class='button-prev btn btn--circle-arrow' aria-label="Previous" aria-describedby="button previous">
              {% include 'atb-icon'  with 'tail-left'  %}
            </a>
            <a href="javascript:void(0)" id='button_next_{{section_id}}' class='button-next btn btn--circle-arrow' aria-label="Next" aria-describedby="button next">
              {% include 'atb-icon'  with 'tail-right'  %}
            </a>
          </div>
          {% endif %}
      </div>
      {% endif %}



  </div>
  <div class='{% unless enable_carousel %}{% if atb_full_width %}page-width{% else %}page-width-small{% endif %}{% endunless %} testimonials_row'>

    <div class='zoom-fade-animation testimonials_slider' style="background-color: {{atb_bg_color}};" {% if enable_carousel %}data-flickity-config='{{ flickity_options }}'{% endif %}>
      {% for block0 in blocks %}
{%- assign my_image_key0 = block_image[forloop.index0]| split: '/files/' | last -%}
{%- assign my_image0 = images[my_image_key0] -%}
      <div class='testimonial_block zoom-fade-animation-element-wrapper'>
        {% if my_image0 != blank %}
        <div class='author_image'>
          {% if block_image_format[forloop.index0] == 'image' %}
            {% assign block_image = my_image0 %}
            <img src='{{ block_image | img_url:"200x"}}'
              srcset="{{ block_image | img_url: '200x' }} 1x, {{ block_image | img_url: '200x', scale: 2 }} 2x"
              loading="lazy"
              width="{{block_image.width}}"
              height="{{block_image.height}}"
              class='zoom-fade-animation-element'
              alt='{{ block_title[forloop.index0] }}' />
          {% else %}
            <img src="{{ block_svg_image[forloop.index0] }}"
                 class="zoom-fade-animation-element"
                 alt="{{ block_title[forloop.index0] }}" />
          {% endif %}
        </div>
        {% endif %}
        {% if block_title[forloop.index0] != blank %}
          <span class='title h4 {% if block_mobile_title[forloop.index0] != blank %}hideMobile{% endif %}'>{{ block_title[forloop.index0] }} </span>
        {% endif %}
        {% if block_mobile_title[forloop.index0] != blank %}
          <span class='title h4 hideDesktop'>{{ block_mobile_title[forloop.index0] }} </span>
        {% endif %}
        {% if block_quote[forloop.index0] != blank %}
        <div class='quote'> {{ block_quote[forloop.index0]  }}</div>
        {% endif %}
        {% if block_author[forloop.index0] != blank %}
        <p class='author_name h6'>{{ block_author[forloop.index0] }} </p>
        {% endif %}
      </div>
      {% endfor %}
    </div>

  </div>
  <style>
    #section-{{ section_id }} .section-header  h2 {
      color: {{ atb_title_color }};
    }
    #section-{{ section_id }} .homepage_subtitle_style_match_header .h5 {
      color: {{ atb_title_color }};
    }
     #section-{{ section_id }}  .homepage_subtitle_style_match_header .h5:before {
      background: {{ atb_text_color }};
    }
  </style>

</section>



</section>