{% comment %}
ATB-SCHEMA{
  "name": "Banner Slideshow",
  "id": "eco-banner",
  "banner": "",
  "icon": "",
  "tags": "",
  "description": "",
  "class": "",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": ""
    },
    {
      "type": "select",
      "id": "atb_autoplay_setting",
      "label": "Autoplay Setting",
      "options": [
        {
          "value": "true",
          "label": "Enable"
        },
        {
          "value": "false",
          "label": "Disable"
        }
      ],
      "default": "false",
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_autoplay_speed",
      "label": "Autoplay Speed",
      "options": [
        {
          "value": "1000",
          "label": "1 sec"
        },
        {
          "value": "2000",
          "label": "2 sec"
        },
        {
          "value": "3000",
          "label": "3 sec"
        },
        {
          "value": "4000",
          "label": "4 sec"
        },
        {
          "value": "5000",
          "label": "5 sec"
        },
        {
          "value": "6000",
          "label": "6 sec"
        },
        {
          "value": "7000",
          "label": "7 sec"
        },
        {
          "value": "8000",
          "label": "8 sec"
        },
        {
          "value": "9000",
          "label": "9 sec"
        },
        {
          "value": "10000",
          "label": "10 sec"
        }
      ],
      "default": "4000",
      "info": "Autoplay must be enabled to set autoplay speed"
    },
    {
      "type": "text",
      "id": "blocks",
      "label": "Block ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": "",
      "repeatable": "Slide"
    },
    {
      "id": "block_background_image",
      "type": "image_picker",
      "label": "Background image",
      "repeatable": "Slide",
      "info": ""
    },
    {
      "id": "block_background_image_mobile",
      "type": "image_picker",
      "label": "Background image Mobile",
      "repeatable": "Slide",
      "info": ""
    },
    {
      "id": "block_image_link",
      "type": "text",
      "label": "Image Link",
      "repeatable": "Slide",
      "info": ""
    },
    {
      "id": "block_title",
      "type": "text",
      "label": "Heading",
      "default": "Slideshow",
      "repeatable": "Slide",
      "info": ""
    },
    {
      "id": "block_text",
      "type": "text",
      "label": "Subheading",
      "default": "Introduce customers to your shop with lifestyle and product imagery",
      "repeatable": "Slide",
      "info": ""
    },
    {
      "id": "block_color",
      "type": "color",
      "label": "Text color",
      "default": "#FFFFFF",
      "repeatable": "Slide",
      "info": ""
    },
    {
      "id": "block_text_alignment",
      "type": "select",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "repeatable": "Slide",
      "info": ""
    },
    {
      "id": "block_button1_label",
      "type": "text",
      "label": "Button 1 label",
      "default": "Button",
      "repeatable": "Slide",
      "info": ""
    },
    {
      "id": "block_button1_link",
      "type": "text",
      "label": "Button 1 link",
      "repeatable": "Slide",
      "info": ""
    },
    {
      "id": "block_button2_label",
      "type": "text",
      "label": "Button 2 label",
      "default": "Button",
      "repeatable": "Slide",
      "info": ""
    },
    {
      "id": "block_button2_link",
      "type": "text",
      "label": "Button 2 link",
      "repeatable": "Slide",
      "info": ""
    }
  ],
  "warnings": [
    "repeating image fields may not be properly handled"
  ]
}ATB-SCHEMA
{% endcomment %}


{%- include 'atb-render' field:'section_id' -%}
{%- assign section_id = val -%}
{%- include 'atb-render' field:'atb_autoplay_setting' -%}
{%- assign atb_autoplay_setting = val -%}
{%- include 'atb-render' field:'atb_autoplay_speed' -%}
{%- assign atb_autoplay_speed = val -%}
{%- include 'atb-render' field:'blocks' -%}
{%- assign blocks = val -%}
{%- include 'atb-render' field:'block_background_image' -%}
{%- assign block_background_image = val -%}
{%- include 'atb-render' field:'block_background_image_mobile' -%}
{%- assign block_background_image_mobile = val -%}
{%- include 'atb-render' field:'block_image_link' -%}
{%- assign block_image_link = val -%}
{%- include 'atb-render' field:'block_title' -%}
{%- assign block_title = val -%}
{%- include 'atb-render' field:'block_text' -%}
{%- assign block_text = val -%}
{%- include 'atb-render' field:'block_color' -%}
{%- assign block_color = val -%}
{%- include 'atb-render' field:'block_text_alignment' -%}
{%- assign block_text_alignment = val -%}
{%- include 'atb-render' field:'block_button1_label' -%}
{%- assign block_button1_label = val -%}
{%- include 'atb-render' field:'block_button1_link' -%}
{%- assign block_button1_link = val -%}
{%- include 'atb-render' field:'block_button2_label' -%}
{%- assign block_button2_label = val -%}
{%- include 'atb-render' field:'block_button2_link' -%}
{%- assign block_button2_link = val -%}
{%- assign no_image = images['no_image_comparison'] -%}

<section id="shopify-section-{{section_id}}" class="shopify-section ">
{{ 'jquery.min.js' | asset_url | script_tag }}
{{ 'slick.js' | asset_url | script_tag }}
<section class="eco-banner eco-banner-1">
    <!--   <div class="container-fluid">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
          {% for block0 in blocks %}
{%- assign my_image_key1 = block_background_image_mobile[forloop.index0]| split: '/files/' | last -%}
{%- assign my_image1 = images[my_image_key1] -%}
{%- assign my_image_key0 = block_background_image[forloop.index0]| split: '/files/' | last -%}
{%- assign my_image0 = images[my_image_key0] -%}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.index | minus: 1}}" class="{% if forloop.index == 1 %}active {% endif %}"></li>
          {% endfor %}
          </ol>
          <div class="carousel-inner">
            {% for block0 in blocks %}
{%- assign my_image_key1 = block_background_image_mobile[forloop.index0]| split: '/files/' | last -%}
{%- assign my_image1 = images[my_image_key1] -%}
{%- assign my_image_key0 = block_background_image[forloop.index0]| split: '/files/' | last -%}
{%- assign my_image0 = images[my_image_key0] -%}
              <div class="carousel-item {% if forloop.index == 1 %}active {% endif %}">
                <div class="inner-carl">
                  <img class="d-block w-100 lazyload desktop-image" data-src="{{my_image0 | img_url: '2400x'}}" src="" alt="First slide">
                  <img class="d-block w-100 lazyload mobile-image" data-src="{{my_image1 | img_url: '1800x'}}" src="" alt="First slide">
                  <div class="carousel-caption">
    {% if block_title[forloop.index0] != blank %}
                    <h5>{{ block_title[forloop.index0] }}</h5>
    {% endif %}
                    <p style="color: {{ block_color[forloop.index0] }}">{{ block_text[forloop.index0] }}</p>
                    <div>
                      <a href="{{block_button1_link[forloop.index0]}}" class="btn blue-btn btn-primary px-4 m-1" title="">{{block_button1_label[forloop.index0]}}</a>
                      <a href="{{block_button2_link[forloop.index0]}}" class="btn blue-btn btn-primary px-4 m-1" title="">{{block_button2_label[forloop.index0]}}</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          {% if blocks.size > 1 %}
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <svg width="16" viewBox="0 0 24 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20.3334 41.1415L23.9697 37.4916L7.60609 21.0671L23.9697 4.64257L20.3334 0.992676L0.333363 21.0671L20.3334 41.1415Z" fill="black" fill-opacity="0.14"/>
            </svg>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <svg width="16" viewBox="0 0 24 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M3.96968 41.1415L0.333313 37.4916L16.697 21.0671L0.333313 4.64257L3.96968 0.992676L23.9697 21.0671L3.96968 41.1415Z" fill="black" fill-opacity="0.14"/>
            </svg>
          </a>
          {% endif %}
        </div>
      </div> -->
      <div class="home-hero-slider">
        {% for block0 in blocks %}
{%- assign my_image_key1 = block_background_image_mobile[forloop.index0]| split: '/files/' | last -%}
{%- assign my_image1 = images[my_image_key1] -%}
{%- assign my_image_key0 = block_background_image[forloop.index0]| split: '/files/' | last -%}
{%- assign my_image0 = images[my_image_key0] -%}
          <div class="inner-carl">
            {% if block_image_link[forloop.index0] != blank %}
              <a href="{{block_image_link[forloop.index0]}}">
            {% endif %}
                  <img class="w-100 hideMobile" loading="lazy" srcset="{{my_image0 | img_url: '2400x'}}" src="" alt="First slide">
                  <img class="w-100 hideDesktop" loading="lazy" srcset="{{my_image1 | img_url: '1800x'}}" src="" alt="First slide">
            {% if block_image_link[forloop.index0] != blank %}
              </a>
            {% endif %}
              <div class="carousel-caption">
                {% if block_title[forloop.index0] != blank %}
              <h5>{{ block_title[forloop.index0] }}</h5>
                {% endif %}
              <p style="color: {{ block_color[forloop.index0] }}">{{ block_text[forloop.index0] }}</p>
              <div>
                {% if block_button1_label[forloop.index0] != blank  %}
                    <a href="{{block_button1_link[forloop.index0]}}" class="btn blue-btn btn-primary px-4 m-1" title="">{{block_button1_label[forloop.index0]}}</a>
                {% endif %}
                {% if block_button2_label[forloop.index0] != blank  %}
                    <a href="{{block_button2_link[forloop.index0]}}" class="btn blue-btn btn-primary px-4 m-1" title="">{{block_button2_label[forloop.index0]}}</a>
                  {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>

    <script>
      $('.home-hero-slider').slick({
        arrows: true,
        dots: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        pauseOnHover: false,
        autoplay: {{ atb_autoplay_setting }},
        autoplaySpeed: {{ atb_autoplay_speed }},
      });
    </script>

    


</section>