{%- comment %}<locksmith:e7ab>{% endcomment -%}
  {%- include 'locksmith' -%}
{%- comment %}</locksmith:e7ab>{% endcomment -%}

<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>{{ locksmith_initializations }}
{% render 'yoast-seo' %}

  <script>
    try{
      if(typeof Shopify === "undefined") window.Shopify = {};
      Shopify.reRenderCartCustom = async ()=>{
        await theme.Cart.prototype._onProductAdded();
      };
      Shopify.do_not_add_freegift_attribute = true;
    } catch(e) {}
  </script>
  <script>
    (function () {
      // Define dataLayer and the gtag function.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }

      // Default ad_storage to 'denied'.
      gtag('consent', 'default', {
        ad_storage: 'denied',
        analytics_storage: 'denied',
        ad_personalization: 'denied',
        ad_user_data: 'denied',
      });
    })();
  </script>

  <!-- OneTrust Cookies Consent Notice start for es.ecoflow.com -->
  <script type="text/javascript" src="https://cdn-apac.onetrust.com/consent/7f8e7d3f-89ef-4127-a959-4ae1d5601b30/OtAutoBlock.js" ></script>
  <script src="https://cdn-apac.onetrust.com/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="7f8e7d3f-89ef-4127-a959-4ae1d5601b30" ></script>
  <script type="text/javascript">
  function OptanonWrapper() { }
  </script>
  <!-- OneTrust Cookies Consent Notice end for es.ecoflow.com -->

  {% include 'shop-sheriff-amp' %}
  <script
    id="script_tag_id"
    data-last-check-status-key="_prevCheckIsOk"
    data-last-check-timestamp-key="_prevCheckTimestamp"
    data-refresh-interval-ms="120000"
    data-script-src="https://d2fj3s7h83rb61.cloudfront.net/U7SD5gGFTR/bin"
    data-app-info="1-1--1.7.2"
    data-app-platform="1"
    data-app-type="1"
    data-app-version="1.7.2">
    (function () {
      var currentScript = document.currentScript;
      var currentScriptDataset = currentScript.dataset;
      var lastCheckStatusKey = currentScriptDataset.lastCheckStatusKey;
      var lastCheckTimestampKey = currentScriptDataset.lastCheckTimestampKey;
      var refreshIntervalMs = parseInt(currentScriptDataset.refreshIntervalMs, 10);
      var scriptSrc = currentScriptDataset.scriptSrc;

      if (lastCheckStatusKey && lastCheckTimestampKey && refreshIntervalMs && scriptSrc && !isNaN(refreshIntervalMs)) {
          if (localStorage.getItem(lastCheckStatusKey) === null) {
              localStorage.setItem(lastCheckStatusKey, String(false));
          }

          if (localStorage.getItem(lastCheckTimestampKey) === null){
              localStorage.setItem(lastCheckTimestampKey, String(0));
          }

          var locationHref = document.location.href;
          var now = Date.now();
          var lastCheckStatus = String(localStorage.getItem(lastCheckStatusKey)).toLowerCase() === 'true';
          var lastCheckTimestamp = parseInt(localStorage.getItem(lastCheckTimestampKey), 10);

          if (!isNaN(lastCheckTimestamp)) {
              var needRefreshByInterval = now - lastCheckTimestamp > refreshIntervalMs;

              if (needRefreshByInterval || lastCheckStatus) {
                  var LOAD = 'load';
                  var ERROR = 'error';
                  var script = document.createElement('script');

                  function scriptEventHandler(evt) {
                      var target = evt.target;
                      var evtType = evt.type;

                      var currentCheckStatus = false;
                      var currentCheckTimestamp = Date.now();

                      if (evtType === LOAD) {
                          currentCheckStatus = true;
                      }

                      localStorage.setItem(lastCheckStatusKey, String(currentCheckStatus));
                      localStorage.setItem(lastCheckTimestampKey, String(currentCheckTimestamp));

                      target.removeEventListener(LOAD, scriptEventHandler);
                      target.removeEventListener(ERROR, scriptEventHandler);
                  }

                  if (!locationHref.match(/(\/checkouts\/|\/thank_you)/gi)) {
                      script.defer = true;
                  }

                  script.addEventListener(LOAD, scriptEventHandler);
                  script.addEventListener(ERROR, scriptEventHandler);

                  script.src = scriptSrc;

                  document.head.insertBefore(script, currentScript);
              }
          }
      } else {
          console.error('wrapper is not right configured');
      }
    })();
  </script>

  {% comment %} Comment-out to remove A/B Testign {% endcomment %}
  {% comment %} {% render 'vendor-google-optimize' %} {% endcomment %}

  <!-- Start of global snippet -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=DC-12560313"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'DC-12560313');
  </script>
  <!-- End of global snippet -->
  <!-- Google Ads Remarketing Tag By FeedArmy Version 2.12 START -->
  <!-- FeedArmy tutorial found at https://feedarmy.com/adding-google-adwords-remarketing-tag-to-shopify/ -->
  <!-- CODE SETTINGS START -->
  <!-- CODE SETTINGS START -->
  <!-- Please add your Google Ads Audience Source Tag ID -->
  {% assign fa_google_ads_audience_tag_id = 10956101396 %}
  <!-- Please add your alpha2 code, you can find it here: https://help.shopify.com/en/api/custom-storefronts/storefront-api/reference/enum/countrycode -->
  {% assign fa_product_id_alpha2_code = 'ES' %}
  <!-- if you have prices such as 1,000.00 set below to true, if you have prices such as 1.000,00 set below to false -->
  {% assign fa_prices_with_decimal_separator = true %}
  <!-- set your product id values are default, product_id, parent_id, sku-->
  {% assign fa_product_id = 'default' %}
  <!-- CODE SETTINGS END -->
  <!-- CODE SETTINGS END -->
  <!-- ------------------------------------ -->
  <!-- DO NOT EDIT ANYTHING BELOW THIS LINE -->
  <!-- Global site tag (gtag.js) - Ads. -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-{{ fa_google_ads_audience_tag_id }}"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-{{ fa_google_ads_audience_tag_id }}');
  </script>
  <!-- Global site tag (gtag.js) - Ads. -->
  {% if fa_prices_with_decimal_separator == true %}
	{% if template contains 'product' %}
		{% assign fa_product_price = product.price_min | money_without_currency | remove:',' %}
	{% elsif template contains 'cart' %}
		{% assign fa_product_price = cart.total_price | money_without_currency | remove:',' %}
	{% endif %}
	{% else %}
	{% if template contains 'product' %}
		{% assign fa_product_price = product.price_min | money_without_currency | remove:'.' | replace: ',', '.' %}
	{% elsif template contains 'cart' %}
		{% assign fa_product_price = cart.total_price | money_without_currency | remove:'.' | replace: ',', '.' %}
	{% endif %}{% endif %}
	{% if template contains 'collection' %}
	{% assign fa_event = 'view_item_list' %}
	{% elsif template contains 'product' %}
	{% assign fa_event = 'view_item' %}
	{% elsif template contains 'search' %}
	{% assign fa_event = 'view_search_results' %}
	{% elsif template contains 'cart' %}
	{% assign fa_event = 'add_to_cart' %}
	{% elsif template contains 'index' %}
	{% assign fa_event = 'home' %}
	{% else %}
	{% assign fa_event = 'other' %}
	{% endif %}
	<script>
  gtag('event', '{{ fa_event }}', {
    'send_to': 'AW-{{ fa_google_ads_audience_tag_id }}',
	{% if template contains 'product' or template contains 'cart' %}
	'value': {{ fa_product_price }},
	{% endif %}
	{% if template contains 'product' %}
    'items': [{
		{% if fa_product_id == 'default' %}
			'id': 'shopify_{{ fa_product_id_alpha2_code }}_{{ product.id }}_{% if product.variants.first.id %}{{ product.variants.first.id }}{% else %}{{ product.variants.id }}{% endif %}',
		{% elsif fa_product_id == 'product_id' %}
			'id': '{% if product.variants.first.id %}{{ product.variants.first.id }}{% else %}{{ product.variants.id }}{% endif %}',
		{% elsif fa_product_id == 'parent_id' %}
			'id': '{{ product.id }}',
		{% elsif fa_product_id == 'sku' %}
			'id': '{% if product.variants.first.id %}{{ product.variants.first.sku }}{% else %}{{ product.variants.sku }}{% endif %}',
		{% endif %}
      'google_business_vertical': 'retail'
    }]
	{% elsif template contains 'cart' %}
	'items': [
	{% for item in cart.items %}
	{
		{% if fa_product_id == 'default' %}
			'id': 'shopify_{{ fa_product_id_alpha2_code }}_{{ item.product_id }}_{{ item.variant_id }}',
		{% elsif fa_product_id == 'product_id' %}
			'id': '{{ item.variant_id }}',
		{% elsif fa_product_id == 'parent_id' %}
			'id': '{{ item.product_id }}',
		{% elsif fa_product_id == 'sku' %}
			'id': '{{ item.sku }}',
		{% endif %}
      'google_business_vertical': 'retail'
    },
	{% endfor %}
	]
	{% endif %}
  });</script><!-- Google Ads Remarketing Tag By FeedArmy Version 2.12 END -->

  <!-- Google tag (gtag.js) - Google Ads -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10956101396"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'AW-10956101396');
  </script>

  {% comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
  {%- assign yoast_seo_settings = shop.metafields.yoast_seo.settings.value | default: shop.metafields.yoast_seo.settings -%}
  {%- if disabled_by_yoast_seo or yoast_seo_settings.integrations.webmasterVerification.bing == blank or yoast_seo_settings.integrations.webmasterVerification.bing == null -%}
  <meta name="msvalidate.01" content="928CBAF7B19ECC9BEE49CBBFB762CDD7" />
  {%- comment -%} End Yoast auto-disable. {%- endcomment -%}
  {%- endif -%}
  <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"148025193", tm:"shpfy_ui"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
  {% comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
  {%- assign yoast_seo_settings = shop.metafields.yoast_seo.settings.value | default: shop.metafields.yoast_seo.settings -%}
  {%- if disabled_by_yoast_seo or yoast_seo_settings.integrations.webmasterVerification.bing == blank or yoast_seo_settings.integrations.webmasterVerification.bing == null -%}
  <meta name="msvalidate.01" content="39A975FF196BC40DDE63001137978B3F" />
  {%- comment -%} End Yoast auto-disable. {%- endcomment -%}
  {%- endif -%}
  <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"134630106"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>

  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-174671673-6', 'auto');
  ga(function(tracker) {
    var clientId = String(tracker.get("clientId"));
  	ga("set", {
        "anonymizeIp": true,
      	"dimension1": {{ customer.id | json }},
  		"dimension2": clientId,
  		"dimension3": {{ customer.id | json }} ? "Loggedin" : "Guest"
  	});
  });
  </script>
  <!-- End Google Analytics -->
  <!-- GTM dataLayer Init -->
  <script type="text/javascript">
    dataLayer = [{
    	shopify_id: {{ customer.id | json }},
    	user_type: {{ customer.id | json }} ? "Loggedin" : "Guest"
    }]
    // 触脉需求：customer.id存入cookie中
    const shopifyId = {{ customer.id | json }}
    if (shopifyId) document.cookie = 'shopify_id' + "=" + shopifyId + ";";
  </script>
  <!-- End GTM dataLayer Init -->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NRWKJ9R');</script>
  <!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1.0">
  <meta name="theme-color" content="{{ settings.color_button }}">

  {% render 'meta-pixel-code' %}

  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

  {%- assign header_font = settings.type_header_font -%}
  {%- assign base_font = settings.type_base_font -%}
  {%- assign navigation_font = settings.type_menu_font -%}
  {%- assign base_font_bolder = base_font | font_modify: 'weight', 'bolder' -%}
  {%- assign base_font_bold = base_font | font_modify: 'weight', 'bold' -%}
  {%- assign base_font_italic = base_font | font_modify: 'style', 'italic' -%}
  {%- assign base_font_bold_italic = base_font_bold | font_modify: 'style', 'italic' -%}

  <link rel="preload" href="{{ 'core.css' | asset_url }}" as="style">
  <link rel="preload" as="font" href="{{ header_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ base_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ base_font_bold | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ navigation_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">
  {% if template contains 'home-ecosystem' %}
    <link href="{{ 'slick.css' | asset_url }}" rel="stylesheet" type="text/css">
  {% endif %}
  {%- if canonical_url != blank  -%}
    {%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
    {%- if disabled_by_yoast_seo -%}
    <link rel="canonical" href="{{ canonical_url }}">
    {%- comment -%} End Yoast auto-disable. {%- endcomment -%}
    {%- endif -%}
  {%- endif -%}

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  {%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<title>{{ seo_title | strip }}</title>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}

  {%- if page_description -%}
    {%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
    {%- if disabled_by_yoast_seo -%}
    {%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
    {%- if disabled_by_yoast_seo -%}
    {%- comment %}<locksmith:396e>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="description" content="{{ page_description | escape }}">{% endif -%}
      {%- comment %}original: <meta name="description" content="{{ page_description | escape }}">{%- endcomment %}
    {%- comment %}</locksmith:396e>{% endcomment -%}
    {%- comment -%} End Yoast auto-disable. {%- endcomment -%}
    {%- endif -%}
    {%- comment -%} End Yoast auto-disable. {%- endcomment -%}
    {%- endif -%}
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {% include 'css-variables' %}

  <script>
    window.performance.mark('pursuit:theme_stylesheet_loaded.start');

    function onLoadStylesheet() {
      performance.mark('pursuit:theme_stylesheet_loaded.end');
      performance.measure('pursuit:theme_stylesheet_loaded', 'pursuit:theme_stylesheet_loaded.start', 'pursuit:theme_stylesheet_loaded.end');

      var url = "{{ 'core.css' | asset_url }}";
      var link = document.querySelector('link[href="' + url + '"]');
      link.loaded = true;
      link.dispatchEvent(new Event('load'));
    }
  </script>

  <link rel="stylesheet" href="{{ 'flickity.min.css' | asset_url }}" type="text/css">
  {% if template contains 'page' %}<link rel="stylesheet" href="{{ 'bootstrap.min.css' | file_url }}" type="text/css">{% endif %}
  <link rel="stylesheet" href="{{ 'core.css' | asset_url }}" type="text/css" media="print" onload="this.media='all';onLoadStylesheet()">
  {{ 'swiper.min.css' | asset_url | stylesheet_tag }}
  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}" type="text/css">

  {% comment %}
    This assets/scripts are for SectionAnywhere PDP purpose only
    - this will be removed when we create/convert those section to OS2.0
  {% endcomment %}

  <script defer src="{{ 'alpine.js' | asset_url }}"></script>

  {% comment %} {% if template contains "portable-power-station-camping" %}
    {{ 'jquery.min.js' | asset_url | script_tag }}
    {{ 'slick.js' | asset_url | script_tag }}
    {{ 'slick.css' | asset_url | stylesheet_tag }}
  {% endif %} {% endcomment %}

  {{ 'custom.css' | asset_url | stylesheet_tag }}

  {% if template contains "product" %}
    {{ 'efwa.css' | asset_url | stylesheet_tag }}
    {% comment %} {{ 'jquery.min.js' | asset_url | script_tag }}
    {{ 'bootstrap.min.js' | file_url | script_tag }} {% endcomment %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
  {% endif %}
  {% comment %}
    End for SectionAnywhere PDP purpose
  {% endcomment %}

  <style>
    {{ header_font | font_face: font_display: 'swap' }}
    {{ base_font | font_face: font_display: 'swap' }}
    {{ navigation_font | font_face: font_display: 'swap' }}
    {{ base_font_bold | font_face: font_display: 'swap' }}
    {{ base_font_bolder | font_face: font_display: 'swap' }}
    {{ base_font_italic | font_face: font_display: 'swap' }}
    {{ base_font_bold_italic | font_face: font_display: 'swap' }}
  </style>

  {% comment %} {% if template contains "off-grid-solar-system" or template contains "ecocredits-day-lp" %}
    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {{ 'jquery.min.js' | asset_url | script_tag }}
    {{ 'slick.js' | asset_url | script_tag }}
  {% endif %} {% endcomment %}

  {% if template contains 'disaster-awareness' %}
    <link rel="stylesheet" href="{{ 'disaster-awareness.css' | asset_url }}" type="text/css">
  {% endif %}
  {% if template contains 'conversion-lp' %}
    <link rel="stylesheet" href="{{ 'conversion-lp.css' | asset_url }}" type="text/css">
    <style> @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap'); </style>
    <script defer src="https://www.youtube.com/iframe_api" id="ytb-iframe-api-script"></script>
  {% endif %}


  {% if template contains 'cut-bill-lp' or template contains 'independence-lp' or template contains 'new-power-independence' %}
  {{ 'cut-bill-lp.css' | asset_url | stylesheet_tag }}
  {% endif %}

  {% comment %} {% if template contains 'balcony-solar-generator-6' %}
    {{ 'jquery.min.js' | asset_url | script_tag }}
  {% endif %} {% endcomment %}

  {% if template contains 'portable-power-stations-pillar' %}
    {{ 'swiper.min.css' | asset_url | stylesheet_tag }}
    {% comment %} {{ 'jquery.min.js' | asset_url | script_tag }} {% endcomment %}
    {{ 'swiper.min.js' | asset_url | script_tag }}
  {% endif %}

  <style> @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap'); </style>
  {{ 'star-template.css' | asset_url | stylesheet_tag }}
  <script>
    window.importModule = (mod) => import(window.theme.modules[mod]);

    var theme = {
      breakpoints: {
        medium: 750,
        large: 990,
        widescreen: 1400
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        preOrder: {{ 'products.product.pre_order' | t | json }},
        preOrderText: {{ 'products.product.pre_order_text' | t | json }},
        added_to_cart: {{ 'cart.popup.added_to_cart' | t | json  }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        salePrice: {{ 'products.product.sale_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        fromLowestPrice: {{ 'products.product.from_lowest_price_html' | t: lowest_price: '[price]' | json }},
        vendor: {{'products.product.vendor' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        searchFor: {{ 'general.search.search_for' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
        removeLabel: {{ 'cart.label.remove' | t: product: '[product]' | json }},
        update: {{ 'cart.label.update' | t | json }},
        quantity: {{ 'cart.label.quantity' | t | json }},
        discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
        regularTotal: {{ 'cart.label.regular_total' | t | json }},
        priceColumn: {{ 'cart.label.price_column' | t | json }},
        quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
        cartError: {{ 'cart.general.cart_error' | t | json }},
        removedItemMessage: {{ 'cart.general.removed_item_html' | t: quantity: '[quantity]', link: '[link]' | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
        otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
        quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }},
        products: {{ 'general.search.products' | t | json }},
        search_title: {{ 'general.search.search_title' | t | json }},
        loading: {{ 'general.search.loading' | t | json }},
        number_of_results: {{ 'general.search.number_of_results' | t: result_number: '[result_number]', results_count: '[results_count]' | json }},
        number_of_results_found: {{ 'general.search.number_of_results_found' | t: results_count: '[results_count]' | json }},
        one_result_found: {{ 'general.search.one_result_found' | t | json }},
        show_less: {{ 'collections.sidebar.show_less' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMoreResults: {{ 'cart.shipping_estimator.more_results_title' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }},
        shippingTo: {{ 'cart.shipping_estimator.shipping_to' | t | json }},
        pick_an_option: {{ 'products.product.pick_an_option' | t | json }},
        add_note: {{ 'cart.general.add_note' | t | json  }},
        added_note: {{ 'cart.general.added_note' | t | json  }},
        newsletter_confirmation: {{ 'general.newsletter_form.confirmation' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }},
      priceCurrencyCodeEnable: {{ settings.currency_code_enable | json }},
      comparePriceCurrencyCodeEnable: {{ settings.currency_code_enable_compare | json }},
      moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }},
      searchMode: {{ settings.search_mode | json }},
      show_preOrder_btn: {{settings.show_preOrder_btn}} ,
        stylesheet: "{{ 'core.css' | asset_url }}",
         pageType: {{ request.page_type | json }},
            modules: {
        Core: `{{ 'core.js' | asset_url }}`
      },
      emailSubscription: {
        apiDomain: {{ settings.email_subscription_api_domain | json }},
        apiUrl: {{ settings.email_subscription_api_url | json }},
        infoApiUrl: {{ settings.email_subscription_info_api_url | json }},
        apiKey: {{ settings.email_subscription_api_key | json }},
        xAppid: {{ settings.email_subscription_x_appid | json }},
        acceptedLanguage: {{ settings.email_subscription_accepted_language | json }}
      },
      scripts: {
        Popper: 'https://unpkg.com/@popperjs/core@2'
      }
    };

    window.routes = {
      rootUrl: {{ routes.root_url | json }},
      cartUrl: {{ routes.cart_url | json }},
      cartAddUrl: {{ routes.cart_add_url | json }},
      cartChangeUrl: {{ routes.cart_change_url | json }},
      searchUrl: {{ routes.search_url | json }},
      productRecommendationsUrl: {{ routes.product_recommendations_url | json }}
    };

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {% render 'widget-promotion-message-drawer' %}
  {% render 'widget-promotion-message-drawer-alter' %}

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  <script type="text/javascript">
    if (window.MSInputMethodContext && document.documentMode) {
      var scripts = document.getElementsByTagName('script')[0];
      var polyfill = document.createElement("script");
      polyfill.defer = true;
      polyfill.src = "{{ 'ie11CustomProperties.min.js' | asset_url }}";
      scripts.parentNode.insertBefore(polyfill, scripts);
    }
  </script>

  {% if settings.enable_check_referrer %}
    <script src="{{ 'vendor-check-referrer.js' | asset_url }}" defer="defer"></script>
  {% endif %}

  {{ content_for_header }}
  {% render 'custom-font' %}
  {% comment %}{% include 'flashify-common' %}{% endcomment %}

  <script
    async
    data-environment="production"
    src="https://osm.klarnaservices.com/lib.js"
    data-client-id="e870dbab-1332-5ae9-b547-185f2e979b73"
  ></script>

  {% if settings.show_emarsys_popop %}{% render 'emarsys-web-push' %}{% endif %}






{% include 'pagefly-app-header' %}</head>
<body class="
  template-suffix--{{ template.suffix }}
  {% if template contains 'diy-purchase' %}template-product {% endif %}
  template-{{ request.page_type | handle }}
  {% if template contains 'recommendations' or page.handle == 'make-the-change' or page.handle == 'portable-solar-panels' %}page-white-bg{% endif %}
  {% if settings.hide_cart_icon %} hide_cart_icon {% endif %}
  {% if settings.hide_cart_buttons %} hide_cart_buttons {% endif %}
  {% if settings.hide_prices %} hide_prices {% endif %}"
  {% if template contains "product" %}data-product="{%- if product.handle contains "delta-2" and product.handle contains "w-portable-solar-panel" -%}  delta-2-bundle  {%- else -%}{{ product.handle }}{%- endif -%}"{% endif %}>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NRWKJ9R"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% capture the_snippet_content %}{% render 'socialshopwave-helper' %}{% endcapture %}
  {% unless the_snippet_content contains 'Liquid error' %}
  {{ the_snippet_content }}
  {% endunless %}

  {% if template contains 'off-grid-outdoor-lp-2' or template contains 'outdoor-off-grid-lp' or template contains 'camping-rv-3' or template contains 'balcony-solar-generator-updated'or template contains 'balcony-solar-generator-6' or template contains 'pillar-page-v2' %}
    {% else %}
    <h1 class="visuallyhidden">{{ shop.name }}</h1>
  {% endif %}

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'announcement-bar' %}
  <div class="top-bar-shift"></div>
  {% section 'header' %}
  {% section 'country-selector-popup' %}

  <div class="page-container drawer-page-content" id="PageContainer" data-page="{% if template contains 'customer' %}customer-page{% else %}{{ template.suffix }}{% endif %}">
    <div class='mega_menu_overlay'></div>
    <main class="main-content js-focus-hidden {% if template == 'cart' or template == 'page' %}main-content-spacing{% endif %}" id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
      {% if template contains "product" %}
        {% if product.metafields.custom.disclaimer_text != blank %}
          <div class="page-width-small disclaimer_box_wrapper">
            <div class="disclaimer_box">
              {{ product.metafields.custom.disclaimer_text }}
            </div>
          </div>
        {% endif %}
      {% endif %}
    </main>
    {% section 'footer' %}
    <div id="slideshow-info" class="visually-hidden" aria-hidden="true">
      {{- 'sections.slideshow.navigation_instructions' | t -}}
    </div>
  </div>
  {% if template contains 'recommendations' %}
  <div class="view-details-popup">
    <div class="popup-overlay"></div>
    <div class="popup-content">
      <div class="popup-close">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.36 15.78L7.99997 9.41L1.63997 15.78L0.219971 14.36L6.58997 8L0.219971 1.64L1.63997 0.220001L7.99997 6.59L14.36 0.230001L15.77 1.64L9.40997 8L15.77 14.36L14.36 15.78Z" fill="black"/>
        </svg>
      </div>
      <h3 class="popup-title">Details</h3>
      <div class="product-content"></div>
    </div>
  </div>
  {% endif %}

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
  </ul>

  <div class='mobile_menu_overlay'></div>

  {% include 'pswp' %}
  {% include 'back-to-the-top' %}

  {%- if template != 'cart' -%}
  {% render 'cart-drawer' %}
  {%- endif -%}

  {% render 'cookie_popup' %}
  {% render 'entry-popup' %}

  {% if settings.show_quick_view %}
  {% render 'modal-quick-view' %}
  {% endif %}

  {% if template contains 'corporate-purchase' %}
    {% render 'corporate-atc-modal' %}
    <div class="modal compare-modal"></div>
  {% endif %}

  {% unless template contains 'rigid' or template contains 'flexible-solar-panel' %}
    {% if template contains 'page' %}<script src="{{ 'bootstrap.min.js' | file_url }}"></script>{% endif %}
  {% endunless %}
  {% comment %} START - LOAD COMMON SCRIPTS {% endcomment %}
  {{ 'jquery.min.js' | asset_url | script_tag }}
  {{ 'slick.js' | asset_url | script_tag }}
  {{ 'slick.css' | asset_url | stylesheet_tag }}
  {{ 'bootstrap.min.js' | asset_url | script_tag }}
  {% comment %} END - LOAD COMMON SCRIPTS {% endcomment %}
  <script src="{{ 'delegate.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'swiper.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  <script src="//cdn.codeblackbelt.com/js/modules/frequently-bought-together/main.min.js?shop=ecoflow-tech.myshopify.com" defer></script>
  <script src="{{ 'popper.min.js' | asset_url }}"></script>

  {% comment %}
    This assets/scripts are for SectionAnywhere PDP purpose only
    - this will be removed when we create/convert those section to OS2.0
  {% endcomment %}
  {% if template contains 'product' %}
  <script src="{{ 'lazysizes.js' | asset_url }}"></script>
  <script>
    var $subheader = document.querySelector('.subheader')
    $subheader && $subheader.classList.add('bg-white')
    $subheader && $subheader.parentElement && $subheader.parentElement.classList.contains('shopify-section') && $subheader.parentElement.parentElement.parentElement.classList.add('sticky-top')
  </script>
  {% endif %}
  {% comment %}
    End for SectionAnywhere PDP purpose
  {% endcomment %}

  {% comment %} Comment-out dataLayer: Need to conirm with merchant first as the selectors are not valid anymore with OS2.0 {% endcomment %}
  {% comment %} {% include 'dataLayer' %} {% endcomment %}

  {% render 'widget-accessibe' %}
  {% render 'addToWishlistSnippet' %}
  {% render 'dataLayer' %}
  {% render 'widget-microsoft365-chat-module' %}

  {% if template contains 'pillar-page-v2' %}
  <script src="https://www.youtube.com/iframe_api"></script>
  {% endif %}

  {% if template contains 'solar-generators-v2' %}
  {{ 'swiper.min.css' | asset_url | stylesheet_tag }}
  {{ 'swiper.min.js' | asset_url | script_tag }}
  {% endif %}

  {% if template contains 'index' %}<div class="disclaimer_popup_box_m"></div>{% endif %}

  <!-- Redirect /collections to /collections/all -->
  <script>
    const currentPath = window.location.pathname;
    if (currentPath.replace(/\//g, "") == 'collections') {
      window.location.href = '/collections/all';
    }
  </script>

  <!-- Start of ecoflow-eu Zendesk Widget script -->
  <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=dd50da83-1e08-4001-bb29-565a0c3ac521"> </script>
  <!-- End of ecoflow-eu Zendesk Widget script -->

  {% comment %}<script src="https://redepo.site/client/ecoflow-europe.myshopify.com.js"></script>
  <script src="https://redepo.site/client/script.js"></script>{% endcomment %}

  <!-- Ptengine Tag -->
  <script src="https://js.ptengine.com/768hpqq4.js"></script>
  <!-- End Ptengine Tag -->
  {% if template contains "index" %}
  <script>
  window.ptWaitHomeTimer = setInterval(function() {
  if(window.ptengine){
    window.ptengine.track("product_home",{},{transport:'beacon'});
    clearInterval(window.ptWaitHomeTimer);
    }
  },300);
  </script>
  {% elsif template contains "product" %}
  <script>
  window.ptWaitDetailTimer = setInterval(function() {
    if(window.ptengine){
      window.ptengine.track("product_detail",{},{transport:'beacon'});
      clearInterval(window.ptWaitDetailTimer);
    }
  },300);
  $('.add-to-cart').on('click', function(){
    window.ptengine && window.ptengine.track("add_cart",{},{transport: 'beacon'});
  });
  </script>
  {% elsif template contains "collection" %}
  <script>
  window.ptWaitCollectionTimer = setInterval(function() {
    if(window.ptengine){
      window.ptengine.track("product_list",{},{transport:'beacon'});
      clearInterval(window.ptWaitCollectionTimer);
    }
  },300);
  </script>
  {% endif %}
  {% if customer %}
  <script>
  window.ptengine && window.ptengine.identify ("{{ customer.id }}",{
    email: '{{ customer.email }}',
    has_account: '{{ customer.has_account }}',
    id: '{{ customer.id }}',
    last_order: '{{ customer.last_order }}',
    orders: '{{ customer.orders }}',
    orders_count: '{{ customer.orders_count }}',
    phone: '{{ customer.phone }}',
    tags: '{{ customer.tags }}',
    total_spent: '{{ customer.total_spent }}',
  });
  </script>
  {% endif %}

  

  {% if template contains 'home-ecosystem'%}
    {% comment %} {{ 'jquery.min.js' | asset_url | script_tag }}
    {{ 'slick.js' | asset_url | script_tag }} {% endcomment %}
    {{ 'home-ecosystem.js' | asset_url | script_tag }}
  {% endif %}

  <!-- CRITEO START -->
  {% render 'criteo-tracking' %}
  <!-- CRITEO END -->

  {% render 'emarsys-web-extend', scarab_id: '1CE836D8D1F0563F' %}

  <script type="text/javascript" id="8361bc559f85">
    (function () {
      var merchantConfig = { csp: false };
      var siteId = "8361bc559f85";
      function t(t,n){for(var e=t.split(""),r=0;r<e.length;++r)e[r]=String.fromCharCode(e[r].charCodeAt(0)+n);return e.join("")}function n(n){return t(n,-S).replace(/%SN%/g,siteId)}function e(){var t="no"+"op"+"fn",n="g"+"a",e="n"+"ame";return window[n]&&window[n][e]===t}function r(){return!(!navigator.brave||"function"!=typeof navigator.brave.isBrave)}function o(){return document.currentScript&&document.currentScript.src}function i(t){try{B.ex=t,e()&&-1===B.ex.indexOf(R.uB)&&(B.ex+=R.uB),r()&&-1===B.ex.indexOf(R.uBr)&&(B.ex+=R.uBr),o()&&-1===B.ex.indexOf(R.nIL)&&(B.ex+=R.nIL),window.ftr__snp_cwc||(B.ex+=R.s),F(B)}catch(t){}}function c(t,n){function e(o){try{o.blockedURI===t&&(n(),document.removeEventListener(r,e))}catch(t){document.removeEventListener(r,e)}}var r="securitypolicyviolation";document.addEventListener(r,e),setTimeout(function(){document.removeEventListener(r,e)},2*60*1e3)}function a(t,n,e,r){var o=!1;t="https://"+t,c(t,function(){r(!0),o=!0});var i=document.createElement("script");i.onerror=function(){if(!o)try{r(!1),o=!0}catch(t){}},i.onload=e,i.type="text/javascript",i.id="ftr__script",i.async=!0,i.src=t;var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(i,a)}function u(t,n,e,r){var o=!1,i=new XMLHttpRequest;if(c("https:"+t,function(){e(new Error("CSP Violation"),!0),o=!0}),"//"===t.slice(0,2)&&(t="https:"+t),"withCredentials"in i)i.open("GET",t,!0);else{if("undefined"==typeof XDomainRequest)return;i=new XDomainRequest,i.open("GET",t)}Object.keys(r).forEach(function(t){i.setRequestHeader(t,r[t])}),i.onload=function(){"function"==typeof n&&n(i)},i.onerror=function(t){if("function"==typeof e&&!o)try{e(t,!1),o=!0}catch(t){}},i.onprogress=function(){},i.ontimeout=function(){"function"==typeof e&&e("tim"+"eo"+"ut",!1)},setTimeout(function(){i.send()},0)}function d(t,siteId,n){function e(t){var n=t.toString(16);return n.length%2?"0"+n:n}function r(t){if(t<=0)return"";for(var n="0123456789abcdef",e="",r=0;r<t;r++)e+=n[Math.floor(Math.random()*n.length)];return e}function o(t){for(var n="",r=0;r<t.length;r++)n+=e(t.charCodeAt(r));return n}function i(t){for(var n=t.split(""),e=0;e<n.length;++e)n[e]=String.fromCharCode(255^n[e].charCodeAt(0));return n.join("")}n=n?"1":"0";var c=[];return c.push(t),c.push(siteId),c.push(n),function(t){var n=40,e="";return t.length<n/2&&(e=","+r(n/2-t.length-1)),o(i(t+e))}(c.join(","))}function f(){function t(){U&&(Q(R.dUAL),setTimeout(s,E,R.dUAL))}function n(t,n){i(n?R.uAS+R.uF+R.cP:R.uAS+R.uF)}window.ftr__fdad(t,n)}function s(t){try{var n=t===R.uDF?C:U;if(!n)return;a(n,void 0,function(){try{X(),i(t+R.uS)}catch(t){}},function(n){try{X(),B.td=1*new Date-B.ts,i(n?t+R.uF+R.cP:t+R.uF),t===R.uDF&&f()}catch(t){i(R.eUoe)}})}catch(n){i(t+R.eTlu)}}var v="22g6otrwjeq6qsu1forxgiurqw1qhw2vwdwxv",h="fort",w="erTo",l="ken";window.ftr__config={m:merchantConfig,s:"19",si:siteId};var m=!1,p=h+w+l,g=10,_={write:function(t,n,e,r){void 0===r&&(r=!0);var o,i;if(e?(o=new Date,o.setTime(o.getTime()+24*e*60*60*1e3),i="; expires="+o.toGMTString()):i="",!r)return void(document.cookie=escape(t)+"="+escape(n)+i+"; path=/");for(var c=1,a=document.domain.split("."),u=g,d=!0;d&&a.length>=c&&u>0;){var f=a.slice(-c).join(".");document.cookie=escape(t)+"="+escape(n)+i+"; path=/; domain="+f;var s=_.read(t);null!=s&&s==n||(f="."+f,document.cookie=escape(t)+"="+escape(n)+i+"; path=/; domain="+f),d=-1===document.cookie.indexOf(t+"="+n),c++,u--}},read:function(t){var n=null;try{for(var e=escape(t)+"=",r=document.cookie.split(";"),o=32,i=0;i<r.length;i++){for(var c=r[i];c.charCodeAt(0)===o;)c=c.substring(1,c.length);0===c.indexOf(e)&&(n=unescape(c.substring(e.length,c.length)))}}finally{return n}}},y=window.ftr__config.s;y+="ck";var T=function(t){var n=!1,e=null,r=function(){try{if(!e||!n)return;e.remove&&"function"==typeof e.remove?e.remove():document.head.removeChild(e),n=!1}catch(t){}};document.head&&(!function(){e=document.createElement("link"),e.setAttribute("rel","pre"+"con"+"nect"),e.setAttribute("cros"+"sori"+"gin","anonymous"),e.onload=r,e.onerror=r,e.setAttribute("href",t),document.head.appendChild(e),n=!0}(),setTimeout(r,3e3))},S=3,x=n(v||"22g6otrwjeq6qsu1forxgiurqw1qhw2vwdwxv"),A=t("[0Uhtxhvw0LG",-S),L=t("[0Fruuhodwlrq0LG",-S),k=t("Li0Qrqh0Pdwfk",-S),U,q="fgq71iruwhu1frp",C=n("(VQ(1"+q+"2vq2(VQ(2vfulsw1mv"),D=n("(VQ(1"+q+"2vqV2(VQ(2vfulsw1mv"),E=10;window.ftr__startScriptLoad=1*new Date;var b=function(t){var n="ft"+"r:tok"+"enR"+"eady";window.ftr__tt&&clearTimeout(window.ftr__tt),window.ftr__tt=setTimeout(function(){try{delete window.ftr__tt,t+="_tt";var e=document.createEvent("Event");e.initEvent(n,!1,!1),e.detail=t,document.dispatchEvent(e)}catch(t){}},1e3)},F=function(t){var n=function(t){return t||""},e=n(t.id)+"_"+n(t.ts)+"_"+n(t.td)+"_"+n(t.ex)+"_"+n(y);_.write(p,e,400,!0),b(e),window.ftr__gt=e},I=function(){var t=_.read(p)||"",n=t.split("_"),e=function(t){return n[t]||void 0};return{id:e(0),ts:e(1),td:e(2),ex:e(3),vr:e(4)}},V=function(){for(var t={},n="fgu",e=[],r=0;r<256;r++)e[r]=(r<16?"0":"")+r.toString(16);var o=function(t,n,r,o,i){var c=i?"-":"";return e[255&t]+e[t>>8&255]+e[t>>16&255]+e[t>>24&255]+c+e[255&n]+e[n>>8&255]+c+e[n>>16&15|64]+e[n>>24&255]+c+e[63&r|128]+e[r>>8&255]+c+e[r>>16&255]+e[r>>24&255]+e[255&o]+e[o>>8&255]+e[o>>16&255]+e[o>>24&255]},i=function(){if(window.Uint32Array&&window.crypto&&window.crypto.getRandomValues){var t=new window.Uint32Array(4);return window.crypto.getRandomValues(t),{d0:t[0],d1:t[1],d2:t[2],d3:t[3]}}return{d0:4294967296*Math.random()>>>0,d1:4294967296*Math.random()>>>0,d2:4294967296*Math.random()>>>0,d3:4294967296*Math.random()>>>0}},c=function(){var t="",n=function(t,n){for(var e="",r=t;r>0;--r)e+=n.charAt(1e3*Math.random()%n.length);return e};return t+=n(2,"0123456789"),t+=n(1,"123456789"),t+=n(8,"0123456789")};return t.safeGenerateNoDash=function(){try{var t=i();return o(t.d0,t.d1,t.d2,t.d3,!1)}catch(t){try{return n+c()}catch(t){}}},t.isValidNumericalToken=function(t){return t&&t.toString().length<=11&&t.length>=9&&parseInt(t,10).toString().length<=11&&parseInt(t,10).toString().length>=9},t.isValidUUIDToken=function(t){return t&&32===t.toString().length&&/^[a-z0-9]+$/.test(t)},t.isValidFGUToken=function(t){return 0==t.indexOf(n)&&t.length>=12},t}(),R={uDF:"UDF",dUAL:"dUAL",uAS:"UAS",mLd:"1",eTlu:"2",eUoe:"3",uS:"4",uF:"9",tmos:["T5","T10","T15","T30","T60"],tmosSecs:[5,10,15,30,60],bIR:"43",uB:"u",uBr:"b",cP:"c",nIL:"i",s:"s"};try{var B=I();try{B.id&&(V.isValidNumericalToken(B.id)||V.isValidUUIDToken(B.id)||V.isValidFGUToken(B.id))?window.ftr__ncd=!1:(B.id=V.safeGenerateNoDash(),window.ftr__ncd=!0),B.ts=window.ftr__startScriptLoad,F(B),window.ftr__snp_cwc=!!_.read(p),window.ftr__snp_cwc||(C=D);for(var G="for"+"ter"+".co"+"m",M="ht"+"tps://c"+"dn9."+G,O="ht"+"tps://"+B.id+"-"+siteId+".cd"+"n."+G,j="http"+"s://cd"+"n3."+G,N=[M,O,j],H=0;H<N.length;H++)T(N[H]);var P=new Array(R.tmosSecs.length),Q=function(t){for(var n=0;n<R.tmosSecs.length;n++)P[n]=setTimeout(i,1e3*R.tmosSecs[n],t+R.tmos[n])},X=function(){for(var t=0;t<R.tmosSecs.length;t++)clearTimeout(P[t])};window.ftr__fdad=function(n,e){if(!m){m=!0;var r={};r[k]=d(window.ftr__config.s,siteId,window.ftr__config.m.csp),u(x,function(e){try{var r=e.getAllResponseHeaders().toLowerCase();if(r.indexOf(L.toLowerCase())>=0){var o=e.getResponseHeader(L);window.ftr__altd2=t(atob(o),-S-1)}if(r.indexOf(A.toLowerCase())<0)return;var i=e.getResponseHeader(A),c=t(atob(i),-S-1);if(c){var a=c.split(":");if(a&&2===a.length){for(var u=a[0],d=a[1],f="",s=0,v=0;s<20;++s)f+=s%3>0&&v<12?siteId.charAt(v++):B.id.charAt(s);var h=d.split(",");if(h.length>1){var w=h[0],l=h[1];U=u+"/"+w+"."+f+"."+l}}}n()}catch(t){}},function(t,n){e&&e(t,n)},r)}},Q(R.uDF),setTimeout(s,E,R.uDF)}catch(t){i(R.mLd)}}catch(t){}
    })();
  </script>

  {% unless template contains "bf-launch-2023" %}
  {% section 'promotion-xmas-popup' %}
  {% endunless %}
  {% section 'email-subscription-popup' %}
  {% section 'image-link' %}
  {% section 'upsell-accessories-modal' %}
  {% render 'fg-change' %}
  {% unless template.name == 'product' %}{% section 'ecocredits-popup' %}{% endunless %}
  {% section 'redirection-floating-icon' %}

  {% if template contains 'product' %}
  <div class="pdp-popup-wrapper">
    <div class="popup-inner">
      <div class="popup-close-wrap">
        <div class="popup-close">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <g clip-path="url(#clip0_5378_7723)">
            <path d="M18.0104 18.0105L12 12.0001M5.98959 5.98965L12 12.0001M12 12.0001L5.98959 18.0105L18.0104 5.98965" stroke="#919191" stroke-width="1.5"/>
            </g>
            <defs>
            <clipPath id="clip0_5378_7723">
              <rect width="24" height="24" fill="white"/>
            </clipPath>
            </defs>
          </svg>
        </div>
      </div>
      <div class="popup-content"></div>
    </div>
  </div>
  {% endif %}

  {% if template contains 'diy-purchase' %}
    <script src="{{ 'diy-alpine.js' | asset_url }}"></script>
    {{ 'diy-purchase.css' | asset_url | stylesheet_tag }}

    <script>
      $(document).ready(function(){
        if($('#diy-purchase__slider-dynamic').length > 0) {
          $('#diy-purchase__slider-dynamic').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: false,
            arrows: true
          });
          // Show slider after everything is loaded to prevent broken slider shown
          $('#diy-purchase__slider-dynamic').show();
        }
        if($('#diy-purchase__slider-dynamic--mobile').length > 0) {
          $('#diy-purchase__slider-dynamic--mobile').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: false,
            arrows: true
          });
          // Show slider after everything is loaded to prevent broken slider shown
          $('#diy-purchase__slider-dynamic--mobile').show();
        }
      });

      // Add scroll listener in script instead of diy-alpine.js
      // Because in theme editor the scroll listener cannot be loaded
      window.addEventListener('scroll', function() {
        const diySection = $("#diy-purchase__main")[0];
        const diyImageWrapper = $(".product-single__media-group")[0];
        const diyImageStickySection = $(".diy-purchase__sticky-image-section");
        const stickyBar = $('.product-sticky-bar');
        const imageWrapperRect = diyImageWrapper.getBoundingClientRect();
        const rect = diySection.getBoundingClientRect();
        const imageWrapperBottomPositionInViewPort = imageWrapperRect.bottom;
        const diySectionBottomPositionInViewPort = rect.bottom;

        if (imageWrapperBottomPositionInViewPort < 0 && diySectionBottomPositionInViewPort > 0) {
          diyImageStickySection.addClass("active");
        } else if (imageWrapperBottomPositionInViewPort < 0 && diySectionBottomPositionInViewPort < 0) {
          diyImageStickySection.removeClass("active");
        } else {
          diyImageStickySection.removeClass("active");
        }

        if (diySectionBottomPositionInViewPort < 0) {
          stickyBar.addClass("active");
        } else {
          stickyBar.removeClass("active");
        }
      });
    </script>
  {% endif %}
  {% render 'globo.preorder.custom' %}
  {% include 'globo.formbuilder.custom' %}

<!--Structed data markup code added by Simprosys Infomedia - Start-->
{% if template contains 'product' %}
 {% if cart.currency.iso_code == 'JPY' %}
    {% assign p_price = product.selected_or_first_available_variant.price | money_without_currency | remove: ',' %}
{% elsif cart.currency.iso_code == 'HUF' %}
    {% assign p_price = product.selected_or_first_available_variant.price | money_without_currency | remove_first: '.' %}
{% elsif cart.currency.iso_code == 'MXN' or cart.currency.iso_code == 'SAR' or cart.currency.iso_code == 'ZAR' %}    
    {% assign p_price = product.selected_or_first_available_variant.price | money_without_currency | remove_first: ',' %}
{% elsif cart.currency.iso_code == 'DKK' or cart.currency.iso_code == 'RUB' or  cart.currency.iso_code == 'NOK' or  cart.currency.iso_code == 'PLN' or  cart.currency.iso_code == 'EUR' %}
    {% assign p_price = product.selected_or_first_available_variant.price | money_without_currency | remove_first: '.' | replace: ',','.' %}
{% else %}
    {% assign p_price = product.selected_or_first_available_variant.price | money_without_currency | replace: ',', '.' %}
{% endif %}
<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"Product",
  "@id":"{{ shop.url }}{{ product.url}}", 
  "name": {{ product.title | json }},
  "sku": {{ product.selected_or_first_available_variant.sku | json }},
  "description": {{ product.description | strip_html | truncatewords: 50 | json }},
  "url": {{ canonical_url | json }},
  "image": "https:{{ product.featured_image | product_img_url: 'grande' }}",
  "brand": {
    "@type": "Brand",
    "name": {{ product.vendor | json }},
    "url": {{ jsonld_brand_url | json }}
  },
  "gtin": "{{ product.selected_or_first_available_variant.barcode }}",
  "offers": [{
    "@type": "Offer",
    "priceCurrency": "{{ cart.currency.iso_code }}",
    "price": "{{ p_price }}",
    "availability": "{% if product.selected_or_first_available_variant.available %}InStock{% else %}OutOfStock{% endif %}",
    "itemCondition": "http://schema.org/NewCondition",
    "seller": "{{ shop.name | escape }}",
    "url": "{{ shop.secure_url }}{{ product.selected_or_first_available_variant.url }}"
  }]
  
}
</script>
 {% endif %}
<!--Structed data markup code added by Simprosys Infomedia - End -->
                
</body>
</html>
