<section class="dp3-image-text-section version-2 section-{{ section.id }}">
    <div class="star-page-container">
        <div class="dp3-image-text-wrapper" style="--block-height: {{ section.settings.block_height }}px; --block-height-m: {{ section.settings.block_height_m }}px;">
            <div class="dp3-image-text-block" style="--block-width: 100%;">
                <div class="dp3-image-text-content">
                    <div class="dp3-image-text-image">
                        <img srcset="{{ section.settings.image | img_url: 'master' }}" loading="lazy" class="hideMobile" alt="{{ section.settings.title }}">
                        <img srcset="{{ section.settings.image_m | img_url: 'master' }}" loading="lazy" class="hideDesktop" alt="{{ section.settings.title }}">
                    </div>
                    <div class="dp3-image-text-text">
                        <h3>{{ section.settings.title }}</h3>
                        <div class="content">{{ section.settings.content }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .section-{{ section.id }}{
            padding: {{ section.settings.section_top_space }}px 0 {{ section.settings.section_bottom_space }}px 0;
        }
        @media screen and (max-width: 749px){
            .section-{{ section.id }}{
                padding: {{ section.settings.section_top_space_m }}px 0 {{ section.settings.section_bottom_space_m }}px 0;
            }
        }
    </style>
</section>

{% schema %}
  {
    "name": "DP3 Image & text",
    "settings": [
        {
            "type": "header",
            "content": "Section spacing"
        },
        {
            "type": "range",
            "id": "section_top_space",
            "label": "Top space(Desktop)",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "px",
            "default": 120
        },
        {
            "type": "range",
            "id": "section_bottom_space",
            "label": "Bottom space(Desktop)",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "px",
            "default": 40
        },
        {
            "type": "range",
            "id": "section_top_space_m",
            "label": "Top space(Mobile)",
            "min": 0,
            "max": 80,
            "step": 5,
            "unit": "px",
            "default": 40
        },
        {
            "type": "range",
            "id": "section_bottom_space_m",
            "label": "Bottom space(Mobile)",
            "min": 0,
            "max": 80,
            "step": 5,
            "unit": "px",
            "default": 40
        },
        {
            "type": "header",
            "content": "Image"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "image_m",
            "label": "Image mobile"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content"
        },
        {
            "type": "range",
            "id": "block_height",
            "label": "Image height",
            "min": 200,
            "max": 800,
            "step": 10,
            "unit": "px",
            "default": 320
        },
        {
            "type": "range",
            "id": "block_height_m",
            "label": "Image height - Mobile",
            "min": 200,
            "max": 500,
            "step": 10,
            "unit": "px",
            "default": 360
        }
    ],
    "presets": [
    {
        "name": "DP3 Image & text Version 2",
        "category":"Custom Sections"
    }
    ]
  }
  {% endschema %}