<div class="ecocredits-benefits__section background--black">
  <div
    class="
                                                                              ecocredits-benefits__container container--normal{% if section.settings.image_position == 'right' %} image--right {% else %} image--left {% endif %}
    "
  >
    <div class="ecocredits-benefits__image__container">
      {% if section.settings.image != blank %}
        <img
          class="display--desktop"
          src="{{ section.settings.image | img_url: 'master' }}"
          alt="{{ section.settings.image.alt }}"
        >
        <img
          class="display--mobile"
          src="{{ section.settings.image_mobile | img_url: 'master' }}"
          alt="{{ section.settings.image_mobile.alt }}"
        >
      {% endif %}
    </div>
    <div class="ecocredits-benefits__text__container">
      {% if section.settings.title != blank %}
        <h3 class="ecocredits-benefits__title ec__text--white">{{ section.settings.title }}</h3>
      {% endif %}
      {% if section.settings.subtitle != blank %}
        <h2 class="ecocredits-benefits__subtitle ec__text--white">{{ section.settings.subtitle }}</h2>
      {% endif %}
      {% if section.settings.description != blank %}
        <div class="ecocredits-benefits__description__wrapper">
          {{ section.settings.description }}
        </div>
      {% endif %}
      {% if section.settings.button_text != blank %}
        <a class="ecocredits-benefits__button--link" href="{{ section.settings.button_link }}">
          <div class="ecocredits-benefits__button__container">
            <span
              class="ec__text--white"
            >
              {{- section.settings.button_text -}}
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" width="17.364" height="11.802" viewBox="0 0 17.364 11.802">
              <g id="编组_5" data-name="编组 5" transform="translate(1 2.04)">
                <path id="直线_3" data-name="直线 3" d="M14,.5H0" transform="translate(0 3.361)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                <path id="路径" d="M0,0,6.23-.77,5.46,5.46" transform="translate(10 0) rotate(45)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
              </g>
            </svg>
          </div>
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Ecocredits Benefits",
  "settings": [
    {
      "type": "select",
      "id": "image_position",
      "label": "Set Section Image Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "info": "Set Section Image Position"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Section Image Desktop"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Section Image Mobile"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Ultimate Benefits"
    },
    {
      "type": "html",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "benefits EcoCredits and exchange for exclusive rewards every time you shop"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Go and Use"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ]
}
{% endschema %}
