<style>
  .fsp-product__section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media (min-width: 768px) {
    .fsp-product__section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_desktop }}px;
      padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    }
  }
</style>

<div class="fsp-product__section fsp-product__section-{{ section.id }}">
  <div class="container--default">
    <div class="fsp-product__product-container">
      {% if section.settings.title != blank %}
        <h2 class="fsp-product__heading text--heading text--white">
          {{ section.settings.title }}
        </h2>
      {% endif %}
      {% if section.settings.subtitle != blank %}
        <p class="fsp-product__description text--description text--gray">
          {{ section.settings.subtitle }}
        </p>
      {% endif %}
    </div>
    <div class="fsp-product-scroll__wrapper">
      <div class="fsp-product__container">
        {% for block in section.blocks %}
          <div class="fsp-product__item background--white">
            <div class="fsp-product__image-wrapper">
              <a href="{{ block.settings.url }}" target="_blank">
                <img
                  src="{{ block.settings.image | img_url: 'master' }}"
                  alt="{{ block.settings.image.alt }}"
              ></a>
            </div>
            <div class="fsp-product__title-wrapper">
              <h3 class="fsp-product__title">{{ block.settings.title }}</h3>
            </div>
            <div class="fsp-product__description-wrapper">
              {{ block.settings.description }}
            </div>
            {% if block.settings.button_label %}
              <div class="fsp-product__button-wrapper">
                <a href="{{ block.settings.url }}" target="_blank" class="button--container ">
                  <span class="button text--white">{{ block.settings.button_label }}</span>
                </a>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "FSP Product",
  "settings": [
    {
      "type": "html",
      "id": "title",
      "label": "Title",
      "default": "Discover the Right Solar Panel for You"
    },
    {
      "type": "html",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Compare our solar panels to find the one that fits your needs."
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Desktop",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Desktop",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "product",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Product Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Product Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Button URL"
        }
      ]
    }
  ]
}
{% endschema %}
