<style>
  .fsp-banner-2__section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media (min-width: 768px) {
    .fsp-banner-2__section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_desktop }}px;
      padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    }
  }
</style>
<div
  class="fsp-banner-2 fsp-banner-2__section-{{ section.id }}"
  id="_{{ section.settings.id | downcase | remove: ' ' | replace: '&', '-' }}"
>
  {% assign image = section.settings.mobileImage %}
  {% assign pt = 1 | divided_by: image.aspect_ratio | times: 100 %}
  <div
    class="custom-img__wrapper display--mobile"
    style="padding-top: {{ pt }}%;"
  >
    <img
      class="custom-img"
      srcset="
        {{ image | img_url: '500x' }} 500w,
        {{ image | img_url: '600x' }} 600w,
        {{ image | img_url: 'master' }} 700w,
      "
      alt="{{ image.alt }}"
    >
  </div>

  {% assign image = section.settings.image %}
  {% assign pt = 1 | divided_by: image.aspect_ratio | times: 100 %}
  <div
    class="custom-img__wrapper display--desktop"
    style="padding-top: {{ pt }}%;"
  >
    <img
      class="custom-img"
      srcset="
        {{ image | img_url: '1000x' }} 1000w,
        {{ image | img_url: '1200x' }} 1200w,
        {{ image | img_url: '1400x' }} 1400w,
        {{ image | img_url: 'master' }} 1600w,
      "
      alt="{{ image.alt }}"
      loading="lazy"
    >
  </div>

  <div class="fsp-banner-2__content container--default">
    {% if section.settings.title != blank %}
      <h2 class="fsp-banner-2__title text--heading text--white">
        {{ section.settings.title }}
      </h2>
    {% endif %}
    {% if section.settings.subtitle != blank %}
      <p class="fsp-banner-2__description text--description text--white">
        {{ section.settings.subtitle }}
      </p>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "FSP Banner 2",
  "settings": [
    {
      "type": "text",
      "id": "id",
      "label": "Section ID",
      "default": "What Is a Flexible Solar Panel"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobileImage",
      "label": "Mobile Image"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Title",
      "default": "Load Shedding Sale"
    },
    {
      "type": "html",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Up to 30% OFF"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Desktop",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Desktop",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 50
    }
  ]
}
{% endschema %}
