<div class="gift-card-section">
    <div class="prime-day-container" style="background-image: url({{ section.settings.section_bg_image | img_url: 'master' }});">
        <h2 class="title">
            <span class="gift_title_image hideDesktop">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                <path d="M8.53214 21H11.2783V7.69612H8.53214V21ZM17.2371 1.61871C16.9471 1.32333 16.6022 1.08996 16.2226 0.93225C15.843 0.774543 15.4364 0.695679 15.0265 0.700277C14.6166 0.704875 14.2118 0.792843 13.8357 0.959028C13.4596 1.12521 13.1198 1.36627 12.8362 1.66809C12.5296 1.1584 12.1 0.737429 11.5884 0.445388C11.0768 0.153347 10.5003 0 9.91402 0C9.32773 0 8.75124 0.153347 8.23964 0.445388C7.72803 0.737429 7.29841 1.1584 6.99182 1.66809C6.6379 1.29689 6.19952 1.02066 5.71568 0.863951C5.23183 0.707241 4.71751 0.674913 4.21845 0.769842C3.7194 0.864771 3.25108 1.08401 2.85515 1.40807C2.45922 1.73213 2.14795 2.15096 1.94901 2.62732C1.75008 3.10367 1.66966 3.62278 1.71489 4.13848C1.76013 4.65419 1.92962 5.15049 2.20829 5.58327C2.48697 6.01605 2.86619 6.37188 3.31224 6.61911C3.75828 6.86635 4.25731 6.99733 4.76496 7.00041H15.0367C15.6524 7.00954 16.2567 6.83024 16.7716 6.48565C17.2865 6.14107 17.6883 5.64701 17.9251 5.06724C18.162 4.48747 18.223 3.84861 18.1004 3.23311C17.9778 2.61761 17.6771 2.05372 17.2371 1.61422V1.61871ZM4.75176 5.59551C4.49207 5.60213 4.2343 5.54855 3.99787 5.4388C3.76144 5.32905 3.55252 5.16599 3.38685 4.96192C3.22119 4.75785 3.1031 4.5181 3.04149 4.26072C2.97988 4.00334 2.97636 3.73506 3.03119 3.47609C3.08601 3.21712 3.19776 2.97422 3.35801 2.7657C3.51825 2.55717 3.72281 2.38847 3.95628 2.2723C4.18974 2.15613 4.44601 2.09552 4.70578 2.09504C4.96555 2.09456 5.22203 2.15423 5.45591 2.26954C5.67145 2.3691 5.86467 2.5127 6.02362 2.69146L8.43532 5.59551H4.75176ZM7.94242 2.82612C8.08027 2.40836 8.34323 2.04528 8.69419 1.78807C9.04516 1.53086 9.46644 1.3925 9.89862 1.3925C10.3308 1.3925 10.7521 1.53086 11.103 1.78807C11.454 2.04528 11.717 2.40836 11.8548 2.82612L9.89642 5.20501L7.94242 2.82612ZM16.2601 5.07036C16.1009 5.23676 15.9106 5.36895 15.7005 5.45915C15.4904 5.54934 15.2646 5.59571 15.0367 5.59551H11.3751L13.778 2.66902C13.9388 2.49042 14.1334 2.34689 14.3501 2.2471C14.7168 2.07705 15.1304 2.04392 15.5185 2.1535C15.9067 2.26309 16.2447 2.50841 16.4734 2.84654C16.7021 3.18466 16.807 3.59405 16.7696 4.00306C16.7322 4.41207 16.555 4.79464 16.2689 5.08382L16.2601 5.07036Z" fill="#542726"/>
                <path d="M19.1333 11.6831V20.2788C19.1333 20.4688 19.0587 20.6511 18.9257 20.7855C18.7928 20.9199 18.6125 20.9954 18.4245 20.9954H12.0407V11.6831H19.1333ZM7.7742 21H1.41308C1.22509 21 1.0448 20.9245 0.911872 20.7901C0.778945 20.6557 0.704267 20.4734 0.704267 20.2834V11.6831H7.79237V20.9954L7.7742 21ZM0.70881 7.37842H7.79691V10.9618H0.70881C0.520822 10.9618 0.340533 10.8863 0.207606 10.7519C0.074678 10.6175 8.31651e-09 10.4352 0 10.2452V8.0997C0.00119128 7.90999 0.0762516 7.7284 0.208922 7.59426C0.341592 7.46011 0.52119 7.38422 0.70881 7.38301V7.37842ZM12.068 7.37842H19.1561C19.3437 7.37962 19.5233 7.45552 19.6559 7.58966C19.7886 7.72381 19.8637 7.9054 19.8649 8.0951V10.2452C19.8649 10.4352 19.7902 10.6175 19.6573 10.7519C19.5243 10.8863 19.344 10.9618 19.1561 10.9618H12.0407L12.068 7.37842Z" fill="#E08734"/>
              </svg>
            </span>{{ section.settings.title }}
        </h2>

        {% if section.settings.image != blank %}
            <div class="countdown_image hideMobile"><img srcset="{{ section.settings.image | img_url: 'master' }}" loading="lazy" /></div>
        {% endif %}

        <div class="flexbox">
            <div class="text-part">
                {% if section.settings.content != blank %}
                    <div class="content">{{ section.settings.content }}</div>
                {% endif %}
            </div>
        </div>

        {% if section.settings.btn_text != blank %}
            <a href="{{ section.settings.btn_link }}" class="btn">{{ section.settings.btn_text }}</a>
        {% endif %}

        {% if section.settings.mobile_image != blank %}
            <div class="countdown_image_mobile hideDesktop"><img srcset="{{ section.settings.mobile_image | img_url: 'master' }}" loading="lazy" /></div>
        {% endif %}
    </div>
</div>


{% schema %}
{
  "name": "Gift card section",
  "settings": [
    {
        "type": "image_picker",
        "label": "Section background image",
        "id": "section_bg_image"
    },
    {
      "type": "html",
      "label": "Title",
      "id": "title"
    },
    {
        "type": "image_picker",
        "label": "Image",
        "id": "image"
    },
    {
        "type": "image_picker",
        "label": "Image(Mobile)",
        "id": "mobile_image"
    },
    {
        "type": "html",
        "label": "Content",
        "id": "content"
    },
    {
        "type": "text",
        "label": "Button text",
        "id": "btn_text"
    },
    {
        "type": "url",
        "label": "Button link",
        "id": "btn_link"
    }
  ],
  "presets": [
      {
          "name": "Gift card section",
          "category":"Custom Sections"
      }
  ]
}
{% endschema %}

