
{% if section.settings.image != blank %}
    <section class="corporate-section corporate-banner section-{{ section.id }}">
        <div class="where-to-buy-banner image-banner" style="--image-height: {{section.settings.image_height}}px;--image-height-mobile: {{section.settings.image_height_mobile}}px;">
            <img class="{% if section.settings.image_m != blank %}hideMobile{% endif %}" loading="lazy" srcset="{{ section.settings.image | img_url: 'small' | replace: '_small', '' }}" alt="{{ section.settings.text }}" />
            {% if section.settings.image_m != blank %}
                <img class="hideDesktop" loading="lazy" srcset="{{ section.settings.image_m | img_url: 'small' | replace: '_small', '' }}" alt="{{ section.settings.text }}" />
            {% endif %}
            <div class="page-width-small">
                <div class="image-banner-text-content">
                {% if section.settings.title != blank %}
                    <div class="title">{{ section.settings.title }}</div>
                {% endif %}
                {% if section.settings.content != blank %}
                    <div class="small-content">{{ section.settings.content }}</div>
                {% endif %}
                {% if section.settings.btn_text != blank and section.settings.btn_url != blank %}
                   <a class="btn btn--primary" href="{{ section.settings.btn_url }}"><span>{{ section.settings.btn_text }}</span></a>
                {% endif %}
                </div>
            </div>
        </div>
    </section>
    <style>
      .section-{{ section.id }} .title, .section-{{ section.id }} .small-content, .section-{{ section.id }} .small-content p{ color: {{section.settings.text_color}}; }
      .section-{{ section.id }} .btn{ color: {{ section.settings.btn_color }}; background-color: {{ section.settings.bg_color }}; }
    </style>
{% endif %}
  {% schema %}
  {
    "name": "Image banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_m",
        "label": "Image(Mobile)"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button text"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "Button URL"
      },
      {
        "type": "color",
        "id": "btn_color",
        "label": "Button text color"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Button background color"
      },
      {
          "type": "range",
          "label": "Image max height",
          "id": "image_height",
          "min": 200,
          "max": 1000,
          "default": 600,
          "step": 10,
          "unit": "px"
      },
      {
          "type": "range",
          "label": "Image max height(Mobile)",
          "id": "image_height_mobile",
          "min": 100,
          "max": 500,
          "default": 400,
          "step": 10,
          "unit": "px"
      }
    ],
    "presets": [
      {
        "name": "Banner image",
        "category": "Custom Sections"
      }
    ]
  }
  {% endschema %}
