{% liquid
  assign title = section.settings.title
  assign subtitle = section.settings.subtitle
%}

{% style %}
  .swiper-right-icon {
    width: 44px;
  }
  @media (max-width: 1023px) {
    .ind-swiper .cut-bill-btn {
      font-size: 16px;
    }
  }
  @media (max-width: 900px) {
    .ind-swiper .cut-bill-btn {
      font-size: 13px;
    }
  }

  @media (max-width: 767px) {
    .ind-swiper .cut-bill-btn {
      font-size: 20px;
    }
    .ind-swiper .swiper-right-icon {
      width: 44px;
    }
    .ind-swiper .swiper-button-next {
      top: 98%;
    }
    .ind-swiper .swiper-button-next:after {
      content: none;
    }
  }
{% endstyle %}

<div id="ind_swiper" class="cut-bill-section-wrapper w-90">
  <div class="cut-bill-swiper">
    <h2>{{ title }}</h2>
    <h4>{{ subtitle }}</h4>

    <div
      class="cb-swiper-containter mobile-only"
      x-data="
        {
          initSwiper() {
            const swiper1 = new Swiper('.cut-bill-swiper .swiper--1', {
                slidesPerView: 1,
                spaceBetween: 15,
                navigation: {
                  nextEl: '.swiper-button-next',
                },
                breakpoints: {
                  768: {
                    slidesPerView: 2,
                    spaceBetween: 15
                  },
                  1000: {
                    slidesPerView: 3,
                    spaceBetween: 15
                  },
                  1200: {
                    slidesPerView: 4,
                    spaceBetween: 15
                  },
                },
                pagination: {
                  el: '.swiper-pagination--1',
                  type: 'bullets',
                  clickable: true,
                },
              });
              const swiper2 = new Swiper('.cut-bill-swiper .swiper--2', {
                slidesPerView: 1,
                spaceBetween: 15,
                navigation: {
                  nextEl: '.swiper-button-next',
                },
                breakpoints: {
                  768: {
                    slidesPerView: 2,
                    spaceBetween: 15
                  },
                  1000: {
                    slidesPerView: 3,
                    spaceBetween: 15
                  },
                  1200: {
                    slidesPerView: 4,
                    spaceBetween: 15
                  },
                },
                pagination: {
                  el: '.swiper-pagination--2',
                  type: 'bullets',
                  clickable: true,
                },
              });
            function updatePaginationActiveState(swiper) {
              const activeIndex = swiper.activeIndex;
              const pagination = swiper.pagination.el;
              const paginationBullets = pagination.querySelectorAll('.swiper-pagination-bullet');
              paginationBullets.forEach((bullet, index) => {
                if (index === activeIndex) {
                  bullet.classList.add('swiper-pagination-bullet-active');
                } else {
                  bullet.classList.remove('swiper-pagination-bullet-active');
                }
              });
            }
            swiper1.on('slideChange', () => {
              updatePaginationActiveState(swiper1);
            });
            swiper2.on('slideChange', () => {
              updatePaginationActiveState(swiper2);
            });
          },
          init() {
            if(typeof Swiper !== 'undefined') {
              this.initSwiper();
            } else {
              setTimeout(() => {
                this.init();
              }, 100);
            }
          }
        }
      "
      x-init="init"
    >
      <div class="swiper swiper--1">
        <div class="swiper-wrapper">
          {%- comment %}<locksmith:46bb>{% endcomment -%}
            {%- assign locksmith_23ab_forloop__size = 0 %}{% for block in section.blocks %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: block.settings.product, subject_parent: section, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_23ab_forloop__size = locksmith_23ab_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_23ab_forloop__index = nil -%}
          {%- comment %}</locksmith:46bb>{% endcomment -%}
          {% for block in section.blocks %}
            {%- comment %}<locksmith:3cb7>{% endcomment -%}
              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: block.settings.product, subject_parent: section, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_23ab_forloop__index == nil %}{% assign locksmith_23ab_forloop__index = 1 %}{% assign locksmith_23ab_forloop__index0 = 0 %}{% else %}{% assign locksmith_23ab_forloop__index = locksmith_23ab_forloop__index | plus: 1 %}{% assign locksmith_23ab_forloop__index0 = locksmith_23ab_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_23ab_forloop__index == 1 %}{% assign locksmith_23ab_forloop__first = true %}{% else %}{% assign locksmith_23ab_forloop__first = false %}{% endif %}{% if locksmith_23ab_forloop__index == locksmith_23ab_forloop__size %}{% assign locksmith_23ab_forloop__last = true %}{% else %}{% assign locksmith_23ab_forloop__last = false %}{% endif %}{% assign locksmith_23ab_forloop__rindex = locksmith_23ab_forloop__size | minus: locksmith_23ab_forloop__index | minus: 1 %}{% assign locksmith_23ab_forloop__rindex0 = locksmith_23ab_forloop__size | minus: locksmith_23ab_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
            {%- comment %}</locksmith:3cb7>{% endcomment -%}
            {% if locksmith_23ab_forloop__index < 4 %}
              <div class="swiper-slide cb-swiper-product-card relative">
                <a
                  class="cb-swiper-product-img"
                  target="_blank"
                  href="{{ block.settings.url }}"
                >
                  {% assign image = block.settings.image %}
                  {% assign pt = 1 | divided_by: image.aspect_ratio | times: 100 %}
                  <div
                    class="custom-img-wrapper"
                    style="padding-top: {{ pt }}%;"
                  >
                    <img
                      class="custom-img"
                      src="{{ image | img_url: '500x' }}"
                      srcset="
                        {{ image | img_url: '500x' }} 500w,
                        {{ image | img_url: '600x' }} 600w,
                        {{ image | img_url: 'master' }} 700w
                      "
                      alt="{{ image.alt }}"
                      loading="lazy"
                    >
                  </div>
                </a>

                <div class="cut-bill-swiper-product-title">
                  {{ block.settings.product_info }}
                  {% comment %} {% render 'cut-bill-swiper-product-title', index: locksmith_23ab_forloop__index %} {% endcomment %}
                </div>
                <a
                  class="cut-bill-btn mx-auto"
                  type="button"
                  target="_blank"
                  href="{{ block.settings.url }}"
                >
                  {{ 'cut-bill.buttons.atc' | t }}
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="swiper-pagination swiper-pagination--1"></div>
        <div class="swiper-button-next">
          <div class="swiper-right-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="44"
              height="44"
              viewBox="0 0 44 44"
            >
              <g transform="translate(-315 -4952)"><circle cx="22" cy="22" r="22" transform="translate(315 4952)" fill="#2988ff"/><g transform="translate(8673.34 -37.302)"><line x2="24.106" transform="translate(-8348.394 5011.301)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="3"/><line x2="10.831" y2="9.801" transform="translate(-8335.118 5001.5)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="3"/><line y1="9.803" x2="10.831" transform="translate(-8335.118 5011.301)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="3"/></g></g>
            </svg>
          </div>
        </div>
      </div>
      <div class="swiper swiper--2">
        <div class="swiper-wrapper">
          {%- comment %}<locksmith:1796>{% endcomment -%}
            {%- assign locksmith_049d_forloop__size = 0 %}{% for block in section.blocks %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: block.settings.product, subject_parent: section, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_049d_forloop__size = locksmith_049d_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_049d_forloop__index = nil -%}
          {%- comment %}</locksmith:1796>{% endcomment -%}
          {% for block in section.blocks %}
            {%- comment %}<locksmith:efde>{% endcomment -%}
              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: block.settings.product, subject_parent: section, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_049d_forloop__index == nil %}{% assign locksmith_049d_forloop__index = 1 %}{% assign locksmith_049d_forloop__index0 = 0 %}{% else %}{% assign locksmith_049d_forloop__index = locksmith_049d_forloop__index | plus: 1 %}{% assign locksmith_049d_forloop__index0 = locksmith_049d_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_049d_forloop__index == 1 %}{% assign locksmith_049d_forloop__first = true %}{% else %}{% assign locksmith_049d_forloop__first = false %}{% endif %}{% if locksmith_049d_forloop__index == locksmith_049d_forloop__size %}{% assign locksmith_049d_forloop__last = true %}{% else %}{% assign locksmith_049d_forloop__last = false %}{% endif %}{% assign locksmith_049d_forloop__rindex = locksmith_049d_forloop__size | minus: locksmith_049d_forloop__index | minus: 1 %}{% assign locksmith_049d_forloop__rindex0 = locksmith_049d_forloop__size | minus: locksmith_049d_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
            {%- comment %}</locksmith:efde>{% endcomment -%}
            {% if locksmith_049d_forloop__index > 3 %}
              <div class="swiper-slide cb-swiper-product-card relative">
                <a
                  class="cb-swiper-product-img"
                  target="_blank"
                  href="{{ block.settings.url }}"
                >
                  {% assign image = block.settings.image %}
                  {% assign pt = 1 | divided_by: image.aspect_ratio | times: 100 %}
                  <div
                    class="custom-img-wrapper"
                    style="padding-top: {{ pt }}%;"
                  >
                    <img
                      class="custom-img"
                      src="{{ image | img_url: '500x' }}"
                      srcset="
                        {{ image | img_url: '500x' }} 500w,
                        {{ image | img_url: '600x' }} 600w,
                        {{ image | img_url: 'master' }} 700w
                      "
                      alt="{{ image.alt }}"
                      loading="lazy"
                    >
                  </div>
                </a>

                <div class="cut-bill-swiper-product-title">
                  {{ block.settings.product_info }}
                  {% comment %} {% render 'cut-bill-swiper-product-title', index: locksmith_049d_forloop__index %} {% endcomment %}
                </div>
                <a
                  class="cut-bill-btn mx-auto"
                  type="button"
                  target="_blank"
                  href="{{ block.settings.url }}"
                >
                  {{ 'cut-bill.buttons.atc' | t }}
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="swiper-pagination swiper-pagination--2"></div>
        <div class="swiper-button-next">
          <div class="swiper-right-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="44"
              height="44"
              viewBox="0 0 44 44"
            >
              <g transform="translate(-315 -4952)"><circle cx="22" cy="22" r="22" transform="translate(315 4952)" fill="#2988ff"/><g transform="translate(8673.34 -37.302)"><line x2="24.106" transform="translate(-8348.394 5011.301)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="3"/><line x2="10.831" y2="9.801" transform="translate(-8335.118 5001.5)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="3"/><line y1="9.803" x2="10.831" transform="translate(-8335.118 5011.301)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="3"/></g></g>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="cb-swiper-product-grid">
      {%- comment %}<locksmith:69b4>{% endcomment -%}
        {%- assign locksmith_e273_forloop__size = 0 %}{% for block in section.blocks %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: block.settings.product, subject_parent: section, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_e273_forloop__size = locksmith_e273_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_e273_forloop__index = nil -%}
      {%- comment %}</locksmith:69b4>{% endcomment -%}
      {% for block in section.blocks %}
        {%- comment %}<locksmith:e22d>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: block.settings.product, subject_parent: section, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_e273_forloop__index == nil %}{% assign locksmith_e273_forloop__index = 1 %}{% assign locksmith_e273_forloop__index0 = 0 %}{% else %}{% assign locksmith_e273_forloop__index = locksmith_e273_forloop__index | plus: 1 %}{% assign locksmith_e273_forloop__index0 = locksmith_e273_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_e273_forloop__index == 1 %}{% assign locksmith_e273_forloop__first = true %}{% else %}{% assign locksmith_e273_forloop__first = false %}{% endif %}{% if locksmith_e273_forloop__index == locksmith_e273_forloop__size %}{% assign locksmith_e273_forloop__last = true %}{% else %}{% assign locksmith_e273_forloop__last = false %}{% endif %}{% assign locksmith_e273_forloop__rindex = locksmith_e273_forloop__size | minus: locksmith_e273_forloop__index | minus: 1 %}{% assign locksmith_e273_forloop__rindex0 = locksmith_e273_forloop__size | minus: locksmith_e273_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
        {%- comment %}</locksmith:e22d>{% endcomment -%}
        <div class="cb-swiper-product-card relative">
          <a
            class="cb-swiper-product-img"
            target="_blank"
            href="{{ block.settings.url }}"
          >
            {% assign image = block.settings.image %}
            {% assign pt = 1 | divided_by: image.aspect_ratio | times: 100 %}
            <div
              class="custom-img-wrapper"
              style="padding-top: {{ pt }}%;"
            >
              <img
                class="custom-img"
                src="{{ image | img_url: '500x' }}"
                srcset="
                  {{ image | img_url: '500x' }} 500w,
                  {{ image | img_url: '600x' }} 600w,
                  {{ image | img_url: 'master' }} 700w
                "
                alt="{{ image.alt }}"
                loading="lazy"
              >
            </div>
          </a>

          <div class="cut-bill-swiper-product-title">
            {{ block.settings.product_info }}
            {% comment %} {% render 'cut-bill-swiper-product-title', index: locksmith_e273_forloop__index %} {% endcomment %}
          </div>
          <a
            class="cut-bill-btn mx-auto"
            type="button"
            target="_blank"
            href="{{ block.settings.url }}"
          >
            {{ 'cut-bill.buttons.atc' | t }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Product grid with swiper",
  "class": "ind-swiper",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "header",
          "content": "Product"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "product_info",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ]
}
{% endschema %}
