<div class="off-grid-outdoor-ecosystem__section">
  <div class="container--normal ">
    <div class="off-grid-outdoor-ecosystem__text-container hb__text--center">
      {% assign image = section.settings.image_mobile %}
      {% assign pt = 1 | divided_by: image.aspect_ratio | times: 100 %}
      <div
        class="custom-img__wrapper display--mobile"
        style="padding-top: {{ pt }}%;"
      >
        <img
          class="custom-img hb__border-radius--8"
          srcset="
            {{ image | img_url: '500x' }} 500w,
            {{ image | img_url: '600x' }} 600w,
            {{ image | img_url: 'master' }} 700w,
          "
          alt="{{ image.alt }}"
        >
      </div>

      {% assign image = section.settings.image %}
      {% assign pt = 1 | divided_by: image.aspect_ratio | times: 100 %}
      <div
        class="custom-img__wrapper display--desktop"
        style="padding-top: {{ pt }}%;"
      >
        <img
          class="custom-img hb__border-radius--8"
          srcset="
            {{ image | img_url: '1000x' }} 1000w,
            {{ image | img_url: '1200x' }} 1200w,
            {{ image | img_url: '1400x' }} 1400w,
            {{ image | img_url: 'master' }} 1600w,
          "
          alt="{{ image.alt }}"
          loading="lazy"
        >
      </div>
      <div class="off-grid-outdoor-ecosystem__heading__container background--white hb__border-radius--8">
        {% if section.settings.title != blank %}
          <h2 class="off-grid-outdoor-ecosystem__heading hb__text--heading hb__text--black">
            {{ section.settings.title }}
          </h2>
        {% endif %}
        {% if section.settings.description != blank %}
          <p class="off-grid-outdoor-ecosystem__subheading">{{ section.settings.description }}</p>
        {% endif %}
      </div>
    </div>
    <div class="swiper-container off-grid-outdoor-ecosystem__product__wrapper">
      <div class="swiper-wrapper off-grid-outdoor-ecosystem__flex-container">
        {% for block in section.blocks %}
          {%- comment %}<locksmith:f144>{% endcomment -%}
            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: block.settings.product, subject_parent: section, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
          {%- comment %}</locksmith:f144>{% endcomment -%}
          {% liquid
            assign product = block.settings.product
            if block.settings.product_url != blank
              assign productUrl = block.settings.product_url
            else
              assign productUrl = product.url
            endif
            assign productImage = product.featured_image
            if block.settings.title != blank
              assign productTitle = block.settings.title
            else
              assign productTitle = product.title
            endif
            assign productSubtitle = block.settings.subtitle
            assign productDescription = block.settings.description
            if block.settings.image != blank
              assign productImage = block.settings.image
            else
              assign productImage = product.featured_image
            endif
          %}
          <div class="swiper-slide off-grid-outdoor-ecosystem__block-container background--white">
            <div class="off-grid-outdoor-ecosystem__image__wrapper ">
              <a href="{{ productUrl }}" target="_blank">
                <img
                  class="off-grid-outdoor-ecosystem__image"
                  loading="lazy"
                  src="{{ productImage | img_url: 'master' }}"
                  alt="{{ productImage.alt }}"
                >
              </a>
            </div>
            <div class="off-grid-outdoor-ecosystem__content">
              <h3 class="off-grid-outdoor-ecosystem__title hb__text--subheading">
                {{ productTitle }}
              </h3>
              {% if productSubtitle != blank %}
                <p class="off-grid-outdoor-ecosystem__subtitle hb__text--blue ">{{ productSubtitle }}</p>
              {% endif %}
              <p class="off-grid-outdoor-ecosystem__description hb__text--description">{{ productDescription }}</p>
            </div>
            <a class="btn--container" href="{{ productUrl }}" target="_blank">
              <div class="off-grid-outdoor-ecosystem__btn hb__btn hb__text--white background--blue">
                {{ section.settings.btn_label }}
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="off-grid-outdoor-ecosystem__arrow__container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 'auto',
      freeMode: true,
      autoHeight: true,
      grabCursor: true,
      spaceBetween: 15,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  });
</script>

{% schema %}
{
  "name": "Outdoor Ecosystem",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Section Image Desktop"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Section Image Mobile"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Vom Stromspeicher zum kompletten Solar-Ökosystem"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Wir gehen zusammen Schritt für Schritt den Weg in die Stromunabhängigkeit! Nutzen Sie die intelligenten Kommunikationssystemen und verschiedenen Erweiterungsmöglichkeiten. die mit unseren Powerstationen kompatibel sind. Das Ergebnis: Das passende Solar-Ökosystem für jedes Zuhause!"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Text",
      "default": "Shop Now"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Product Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "EcoFlow Smart Home Panel"
        },
        {
          "type": "html",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Perfekt abgesichert und unschlagbar effizient!"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Geben wir es doch einfach zu: beim Gedanken an Stromausfälle überkommt uns alle ein mulmiges Gefühl. Niemand möchte im Dunkeln sitzen. Zu unserer Beruhigung gibt es das EcoFlow Smart Home Panel. Damit integrieren Sie Ihren Stromspeicher in Ihre Heimstromkreise. So bekommen Sie von einem Stromausfall gar nichts mehr mit – denn Ihre Notstromversorgung springt einfach automatisch ein. Außerdem eröffnet uns das Smart Home Panel noch andere tolle Möglichkeiten: Eine Überwachung unseres Stromverbrauchs und eine effiziente Optimierung werden damit ein Kinderspiel!"
        },
        {
          "type": "url",
          "id": "product_url",
          "label": "Product Url"
        }
      ]
    }
  ]
}
{% endschema %}
