{%- liquid
    assign section_id = section.settings.section_id
    assign youtube_link = section.settings.video_url
    assign button_link = section.settings.button_2_link
    assign button_text = section.settings.button_2_text
-%}
<section id="{{ section.id }}" class="pdp pdp-video">
    <div class="pdp-video-container" id="{{ section_id }}">
        {% assign button_present = false %}
        {% if section.settings.button_link != blank and section.settings.button_text != blank %}
            {% assign button_present = true %}
        {% endif %}
        {% if section.settings.title != blank or section.settings.subtitle != blank or section.settings.content != blank or button_present %}
        <div class="pdp-section-header alignment--{{ section.settings.text_alignment }}">
            {% if section.settings.title != blank %}
                <h1>{{ section.settings.title }}</h1>
            {% endif %}
            {% if section.settings.subtitle != blank %}
                <div class="subtitle">{{ section.settings.subtitle }}</div>
            {% endif %}
            {% if section.settings.content != blank %}
                <div class="content content-align-m-{{ section.settings.content_alignment_m }}">{{ section.settings.content }}</div>
            {% endif %}
            {% if section.settings.button_link != blank and section.settings.button_text != blank %}
                <a href="{{ section.settings.button_link }}" class="pdp-button">{{ section.settings.button_text }}</a>
            {% endif %}
        </div>
        {% endif %}
        <div class="video-container">
            {% if section.settings.media_type == 'video' %}
                {% if section.settings.video_type == 'youtube' %}
                    {% if youtube_link != blank %}
                        <iframe data-ot-ignore id="youtube_video" src="//www.youtube.com/embed/{{ youtube_link.id }}?autoplay=0&showinfo=0&controls=1&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
                    {% endif %}
                {% else %}
                    {% if section.settings.mp4_video_url != blank or section.settings.mp4_video_url_m != blank %}
                        <div class="video-parent {% if section.settings.mp4_video_url_m != blank %}hideMobile{% endif %} video-autoplay-{{section.settings.autoplay_video}}">
                            <video preload="auto" loop muted playsinline>
                                <source src="{{ section.settings.mp4_video_url }}#t=0.001" type="video/mp4">
                            </video>
                            {% if section.settings.autoplay_video == false %}
                                <div class="play-video">
                                    {% render 'video-play-icon' %}
                                    {% render 'video-pause-icon' %}
                                </div>
                            {% endif %}
                        </div>
                        {% if section.settings.mp4_video_url_m != blank %}
                            <div class="video-parent hideDesktop video-autoplay-{{section.settings.autoplay_video}}">
                                <video preload="auto" loop muted playsinline>
                                    <source src="{{ section.settings.mp4_video_url_m }}#t=0.001" type="video/mp4">
                                </video>
                                {% if section.settings.autoplay_video == false %}
                                    <div class="play-video">
                                        {% render 'video-play-icon' %}
                                        {% render 'video-pause-icon' %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% else %}
                {% if section.settings.image != blank or section.settings.mobile_image != blank %}
                    <div class="image-content">
                        <picture>
                            <source media="(min-width:750px)" srcset="{{ section.settings.image | image_url: width: 1000 }}">
                            {% if section.settings.mobile_image != blank %}
                                <source media="(max-width:749px)"  srcset="{{ section.settings.mobile_image | image_url: width: 749 }}">
                            {% else %}
                                <source media="(max-width:749px)"  srcset="{{ section.settings.image | image_url: width: 749 }}">
                            {% endif %}
                            <img src="{{ section.settings.image | image_url: width: 1000 }}" alt="{{ section.settings.image_alt }}" style="width: 100%;">
                        </picture>
                    </div>
                {% endif %}
            {% endif %}
            {% if button_link != blank and button_text != blank %}
                <a href="{{ button_link }}" class="pdp-button">{{ button_text }}</a>
            {% endif %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "PDP Video",
    "presets": [
        {
            "name": "PDP YT Video"
        }
    ],
    "settings": [
        {
            "type": "text",
            "id": "section_id",
            "label": "Section ID"
        },
        {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "right",
                    "label": "Right"
                },
                {
                    "value": "center",
                    "label": "Center"
                }
            ],
            "default": "center"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "subtitle",
            "label": "Subtitle"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content"
        },
        {
            "type": "select",
            "id": "content_alignment_m",
            "label": "Mobile - Content text alignment",
            "options": [
                { "value": "left", "label": "Left" },
                { "value": "center", "label": "Center" }
            ],
            "default": "center"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Learn More"
        },
        {
            "type": "radio",
            "id": "media_type",
            "label": "Media type",
            "options": [
                { "value": "image", "label": "Image" },
                { "value": "video", "label": "Video" }
            ]
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image"
        },
        {
            "type": "radio",
            "id": "video_type",
            "label": "Video type",
            "options": [
                { "value": "youtube", "label": "Youtube" },
                { "value": "mp4", "label": "MP4" }
            ]
        },
        {
            "type": "video_url",
            "accept": ["youtube"],
            "id": "video_url",
            "label":"Youtube URL",
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
            "type": "text",
            "id": "mp4_video_url",
            "label": "Mp4 video URL"
        },
        {
            "type": "text",
            "id": "mp4_video_url_m",
            "label": "Mobile - Mp4 video URL"
        },
        {
            "type": "checkbox",
            "id": "autoplay_video",
            "label": "Autoplay MP4 video",
            "default": true
        },
        {
            "type": "url",
            "id": "button_2_link",
            "label": "Button 2 Link"
        },
        {
            "type": "text",
            "id": "button_2_text",
            "label": "Button 2 Text",
            "default": "Learn More"
        }
    ]
}
{% endschema %}
