<style>
  .pp-bwt__section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media (min-width: 768px) {
    .pp-bwt__section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_desktop }}px;
      padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    }
  }
</style>

<div class="pp-bwt__section pp-bwt__section-{{ section.id }}">
  <div class="container--default">
    <div class="pp-bwt__content-container">
      <div class="pp-bwt__text-container">
        {% if section.settings.title != blank %}
          <h2 class="pp-bwt__section-heading text--heading text--black">
            {{ section.settings.title }}
          </h2>
        {% endif %}
        {% if section.settings.subtitle != blank %}
          <p class="pp-bwt__section-description text--description text--gray">
            {{ section.settings.subtitle }}
          </p>
        {% endif %}
      </div>
      <div class="pp-bwt__container">
        <div class="pp-bwt__image-wrapper">
          <img
            class="display--desktop"
            src="{{ section.settings.image | img_url: 'master' }}"
            alt="{{ section.settings.image.alt }}"
          >
          <img
            class="display--mobile"
            src="{{ section.settings.image_mobile | img_url: 'master' }}"
            alt="{{ section.settings.image_mobile.alt }}"
          >
        </div>
        {% if section.settings.footnote_description != blank %}
          <div class="pp-bwt__footnote-container">
            {{ section.settings.footnote_description }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "PP BWT",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Intelligente Energie. Intelligent sparen."
    },
    {
      "type": "html",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Smart Home Energiesystem mit den Smart Plugs & EcoFlow App"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image Desktop"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image Mobile"
    },
    {
      "type": "richtext",
      "id": "footnote_description",
      "label": "Footnote Description"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Desktop",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Desktop",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 50
    }
  ]
}
{% endschema %}
