{{ 'sg-base.css' | asset_url | stylesheet_tag }}

{% capture icon-1 %}
<svg xmlns="http://www.w3.org/2000/svg" width="48" height="49" viewBox="0 0 48 49" fill="none" class="solar-icon">
  <circle cx="24.0002" cy="24.5001" r="20.16" transform="rotate(90 24.0002 24.5001)" stroke="#E3E2E3" stroke-width="7"/>
  <path d="M24.0002 44.6601C26.6476 44.6601 29.2691 44.1386 31.7151 43.1255C34.161 42.1124 36.3834 40.6274 38.2554 38.7554C40.1275 36.8833 41.6124 34.6609 42.6256 32.215C43.6387 29.7691 44.1602 27.1475 44.1602 24.5001C44.1602 21.8526 43.6387 19.2311 42.6256 16.7852C41.6124 14.3393 40.1275 12.1168 38.2554 10.2448C36.3834 8.37279 34.161 6.88781 31.7151 5.87468C29.2691 4.86154 26.6476 4.34009 24.0002 4.34009" stroke="#0ECFE2" stroke-width="7"/>
</svg>
{% endcapture %}
{% capture icon-2 %}
<svg xmlns="http://www.w3.org/2000/svg" width="48" height="49" viewBox="0 0 48 49" fill="none" class="solar-icon">
  <circle cx="23.9998" cy="24.5" r="20.16" transform="rotate(-90 23.9998 24.5)" stroke="url(#paint0_linear_35_39)" stroke-width="7"/>
  <path d="M23.9998 4.34003C27.9871 4.34003 31.8848 5.52239 35.2001 7.7376C38.5154 9.95281 41.0994 13.1014 42.6253 16.7851C44.1511 20.4689 44.5504 24.5224 43.7725 28.4331C42.9946 32.3437 41.0745 35.9359 38.2551 38.7553C35.4357 41.5747 31.8435 43.4948 27.9329 44.2727C24.0222 45.0505 19.9687 44.6513 16.2849 43.1254C12.6012 41.5996 9.45263 39.0156 7.23742 35.7003C5.02221 32.385 3.83984 28.4873 3.83984 24.5" stroke="#0ECFE2" stroke-width="7"/>
  <defs>
  <linearGradient id="paint0_linear_35_39" x1="23.9998" y1="4.34003" x2="23.9998" y2="44.66" gradientUnits="userSpaceOnUse">
  <stop offset="0.916667" stop-color="#E3E2E3"/>
  <stop offset="1" stop-color="#E3E2E3" stop-opacity="0"/>
  </linearGradient>
  </defs>
</svg>
{% endcapture %}
{% capture icon-3 %}
<svg xmlns="http://www.w3.org/2000/svg" width="48" height="49" viewBox="0 0 48 49" fill="none" class="solar-icon">
  <circle cx="23.9998" cy="24.5" r="20.16" stroke="#0ECFE2" stroke-width="7"/>
</svg>
{% endcapture %}
{% capture icon-add %}
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none" class="plus-icon">
  <circle cx="10" cy="10.5791" r="10" fill="white"/>
  <path d="M5 10.5791H15" stroke="#0ECFE2" stroke-width="3"/>
  <path d="M10 5.5791L10 15.5791" stroke="#0ECFE2" stroke-width="3"/>
</svg>
{% endcapture %}

<div class="solar-generators">
  <div class="h-screen relative section-1">
    <img
      src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/mobile_1.png?v=1672239887"
      alt="GENERADORES SOLARES"
      class="mobile"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/Tablet_1.png?v=1672239839"
      alt="GENERADORES SOLARES"
      class="tablet"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/desktop_1_1.png?v=1672239754"
      alt="GENERADORES SOLARES"
      class="desktop"
    >
    <div class="section-1-text">
      <h1 class="mb-16px">
        Serie EcoFlow <br>
        <span class="solar-highlight">RIVER</span>
      </h1>
      <h2 class="section-1-text__secondary-text">Use energía en cualquier lugar.</h2>
    </div>
  </div>
  <div class="section-px section-2">
    <h1 class="text-bottom font-gotham-bold">
      Los generadores solares <span class="solar-highlight"> que priorizan</span> la portabilidad.
    </h1>
    <h3 class="max-w-1000 mx-auto">
      Presentamos la serie RIVER de EcoFlow,
      <span>
        una línea de generadores solares portátiles que abarcan desde RIVER 2 hasta RIVER 2 Pro. Con la portabilidad en
        mente, todos estos generadores solares pueden sostenerse en una mano, lo que los hace perfectos para acampadas y
        viajes en autocaravana.
      </span>
    </h3>
  </div>
  <div class="section-px section-3">
    <h1 class="special-title max-w-1000 mx-auto">
      ¿Por qué debería elegir <span class="solar-highlight">un generador</span> solar portátil de la serie EcoFlow RIVER?
    </h1>
  </div>
  <div class="section-px section-4">
    <img
      src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/image_7_1.png?v=1672240123"
      alt="GENERADORES SOLARES"
      class="mobile"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/image_12.png?v=1672240124"
      alt="GENERADORES SOLARES"
      class="desktop"
    >
    <div>
      <h3>{{ icon-1 }}Energía al alcance de su mano.</h3>
      <p>
        ¿Busca un generador solar de pequeño tamaño? Todos los modelos de la serie RIVER de EcoFlow se pueden sostener
        en una mano, lo que implica aligerar su equipaje sin renunciar a la potencia en sus salidas.
      </p>
      <h3>{{ icon-2 }}Cargue prácticamente todo su equipo.</h3>
      <p>
        Con una salida de CA de 600W, podrá alimentar o cargar todo su equipo, dondequiera que esté. Los generadores
        solares para acampadas nunca antes habían ofrecido tanta potencia.
      </p>
      <h3>{{ icon-3 }}Cárguelo con paneles solares portátiles.</h3>
      <p>
        Los generadores solares RIVER se pueden cargar, naturalmente, con paneles solares. Conéctelos en cualquier lugar
        con sol y recargue su generador en apenas 4 horas.
      </p>
    </div>
  </div>
  <div class="section-px section-5">
    <div>
      <div class="square-image-container">
        <img
          src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/mobile_3.png?v=1672240219"
          class="mobile"
          alt=""
        >
      </div>
      <img
        src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/desktop_3.png?v=1672240220"
        alt="GENERADORES SOLARES"
        class="desktop"
      >
      <h1>Generadores solares para <span class="solar-highlight">acampadas.</span></h1>
      <p class="max-w-1000">
        Los generadores solares RIVER de EcoFlow incluyen estaciones de energía portátiles y toda la serie de paneles
        solares plegables de EcoFlow. Lleve la comodidad de su casa al exterior, con suficiente batería para mantener
        todo su equipo en marcha durante su viaje, y con suficiente energía solar como para mantener el cargador al
        máximo de carga.
      </p>
    </div>
  </div>

  <div class="section-p--bundle section-6">
    <h1>
      Compare los generadores solares portátiles<br>
      de la serie EcoFlow RIVER
    </h1>
    <a class="btn-link view-all-btn" href="https://es.ecoflow.com/collections/river-solar-generators">Adquirir Ahora</a>

    <div class="section-6-items-wrapper">
      <div class="section-6-item">
        <div class="section-6-item-inner">
          <h2>
            EcoFlow RIVER 2 Pro + <br>
            Panel Solar Portátil <br>
            de 220 W
          </h2>

          <a href="https://es.ecoflow.com/products/river-2-pro-220w-portable-solar-panel">
            <img
              src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/RIVER_2_Pro_220W_EU_062ea9e1-6b69-40ab-93c9-01ae16998847.png?v=1668501082"
              class="mobile"
              alt="Bundles de generadores solares de la serie DELTA"
            >
          </a>
          <div>
            <p class="items-info">Entrada Solar 220W</p>
            <p class="items-info">Capacidad 768Wh</p>
            <p class="items-info">Carga mediante energía solar 6-12 horas</p>
          </div>
          <a
            class="btn-link"
            href="https://es.ecoflow.com/products/river-2-pro-220w-portable-solar-panel"
            target="_blank"
            rel="null noopener"
            aria-describedby="a11y-new-window-message"
            >Comprar Ahora</a
          >
        </div>

        <a href="https://es.ecoflow.com/products/river-2-pro-220w-portable-solar-panel">
          <img
            src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/RIVER_2_Pro_220W_EU_062ea9e1-6b69-40ab-93c9-01ae16998847.png?v=1668501082"
            class="tablet"
            alt="Bundles de generadores solares de la serie RIVER 2"
          >
        </a>
      </div>
    </div>

    <div class="section-6-items-wrapper">
      <div class="section-6-item">
        <div class="section-6-item-inner">
          <h2>
            EcoFlow RIVER 2 Max + <br>
            Panel Solar Portátil <br>
            de 160 W
          </h2>
          <a href="https://es.ecoflow.com/products/river-2-max-160w-portable-solar-panel">
            <img
              src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/RIVER_2_Max_160W_EU_f6fed731-b069-4894-a048-125f4ee8b4cd.png?v=1668501082"
              class="mobile"
              alt="Bundles de generadores solares de la serie RIVER 2"
            >
          </a>
          <div>
            <p class="items-info">Entrada Solar 220W</p>
            <p class="items-info">Capacidad 512Wh</p>
            <p class="items-info">Carga mediante energía solar 4,8-9,6 horas</p>
          </div>
          <a
            class="btn-link"
            href="https://es.ecoflow.com/products/river-2-max-160w-portable-solar-panel"
            target="_blank"
            rel="null noopener"
            aria-describedby="a11y-new-window-message"
            >Comprar Ahora</a
          >
        </div>
        <a href="https://es.ecoflow.com/products/river-2-max-160w-portable-solar-panel">
          <img
            src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/RIVER_2_Max_160W_EU_f6fed731-b069-4894-a048-125f4ee8b4cd.png?v=1668501082"
            class="tablet"
            alt="Bundles de generadores solares de la serie RIVER 2"
          >
        </a>
      </div>
    </div>

    <div class="section-6-items-wrapper">
      <div class="section-6-item">
        <div class="section-6-item-inner">
          <h2>

            EcoFlow RIVER 2 + <br>
            Panel Solar Portátil <br>
            de 110 W
          </h2>
          <a href="https://es.ecoflow.com/products/river-2-110w-portable-solar-panel">
            <img
              src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/RIVER_2_110W_EU_6ee9afc1-7c58-466a-a863-b85f60cca142.png?v=1668501082"
              class="mobile"
              alt="Bundles de generadores solares de la serie DELTA"
            >
          </a>
          <div>
            <p class="items-info">Entrada Solar 110W</p>
            <p class="items-info">Capacidad 256Wh</p>
            <p class="items-info">Carga mediante energía solar 3-6 horas</p>
          </div>
          <a
            class="btn-link"
            href="https://es.ecoflow.com/products/river-2-110w-portable-solar-panel"
            target="_blank"
            rel="null noopener"
            aria-describedby="a11y-new-window-message"
            >Comprar Ahora</a
          >
        </div>

        <a href="https://es.ecoflow.com/products/river-2-110w-portable-solar-panel">
          <img
            src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/RIVER_2_110W_EU_6ee9afc1-7c58-466a-a863-b85f60cca142.png?v=1668501082"
            class="tablet"
            alt="Bundles de generadores solares de la serie DELTA"
          >
        </a>
      </div>
    </div>
  </div>

  <div class="section-px section-7">
    <img
      src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_600-mix.png?v=1673268835"
      class=""
      alt=""
    >
    <!--
      <img src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/Group_16.jpg?v=1653707383" class="custom_mobile_show" alt="">
    -->
    <div class="section-7-text">
      <h1 class="">Los generadores de gas <span class="solar-highlight">pertenecen al pasado</span>.</h1>
      <p>
        Los generadores solares domésticos EcoFlow son la nueva opción de almacenamiento energético y sustituyen a los
        antiguos generadores de gas. Sin ruido, humo ni mantenimiento, son perfectos para llevar de acampada e incluso
        para usar en interiores. Es por ello que los generadores solares son la opción perfecta para hogares,
        autocaravanas y acampadas. Adéntrese en el futuro del almacenamiento energético y dote de energía auxiliar a su
        hogar con EcoFlow.
      </p>
    </div>
  </div>

  <div class="section-8 section-8--river section-px">
    <div class="tablet title-no-container">
      <div class="title-no">Sin</div>
      <div class="title-words">
        <span>ruido</span>
        <span>humos</span>
        <span>molestias</span>
      </div>
    </div>
    <div class="mobile">
      <h1 class="">
        <span>Sin ruido </span>
        <span>Sin humos</span>
        <span>Sin molestias</span>
      </h1>
    </div>
    <p class="des">
      A diferencia de los generadores antiguos, que usan combustibles fósiles, los generadores solares solo necesitan la
      luz del sol o un enchufe para cargarse. Ahora puede cargar sus dispositivos sin ruido ni humo, haciendo apto su
      uso incluso en interiores. Es por eso que son una opción ideal de energía auxiliar, tanto en casa como de viaje en
      su autocaravana.
    </p>
  </div>

  <div class="section-px section-8">
    <div class="bsection-container">
      <div class="faq-block tc">
        <div class="section-8__title mx-auto">Preguntas frecuentes.</div>
        <div class="show-me" style="display: block;">
          <div class="question">
            <div class="question-container">
              <h3 class="title-h3 font-gotham-bold pr">
                ¿Qué diferencia hay entre un generador portátil que funciona con energía solar y uno que funciona con
                combustibles fósiles?
              </h3>
              <img
                class="plus"
                src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/plus.png?v=1670234230"
                width="12"
                height="12"
              >
              <img
                class="minus active"
                src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/minus.png?v=1670234230"
                width="12"
                height="12"
              >
            </div>
            <div class="des" style="display: block;">
              <p>
                Los generadores tradicionales usan combustible, necesitan de un mantenimiento periódico, hacen mucho
                ruido y expulsan gases, por lo que tienen que usarse en el exterior. Los generadores solares RIVER son
                pequeños, silenciosos, ecológicos y fáciles de usar. Son la opción más portátil que existe en la
                actualidad, y tan fáciles de usar que hasta un niño sabría hacerlo.
              </p>
            </div>
          </div>
          <div class="question">
            <div class="question-container">
              <h3 class="title-h3 font-gotham-bold pr">
                ¿Por qué los modelos de la serie RIVER son los mejores generadores para acampadas?
              </h3>
              <img
                class="plus active"
                src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/plus.png?v=1670234230"
                width="12"
                height="12"
              >
              <img
                class="minus"
                src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/minus.png?v=1670234230"
                width="12"
                height="12"
              >
            </div>
            <div class="des">
              <p>
                La serie RIVER de EcoFlow ofrece generadores solares portátiles, por lo que se los puede llevar consigo
                fácilmente. Todos los modelos se pueden sostener en una mano, lo que facilita su transporte y
                almacenaje. Cuando llegue a su destino, solo tiene que conectar el panel solar portátil EcoFlow para
                obtener una entrada solar de 200W. Con esta energía, el generador se cargará en apenas 4 horas. Los
                generadores ofrecen una salida de 800W de CA, con una potencia de 1.600W, por lo que son la opción
                perfecta para irse de acampada, pues le proporcionarán energía para sus fogones, teteras y resto del
                equipo.
              </p>
            </div>
          </div>
          <div class="question">
            <div class="question-container">
              <h3 class="title-h3 font-gotham-bold pr">¿Son seguros los generadores solares?</h3>
              <img
                class="plus active"
                src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/plus.png?v=1670234230"
                width="12"
                height="12"
              >
              <img
                class="minus"
                src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/minus.png?v=1670234230"
                width="12"
                height="12"
              >
            </div>
            <div class="des">
              <p>
                Todas las unidades EcoFlow cuentan con un sistema BMS líder en el sector. Esto significa que la
                temperatura, el voltaje y la corriente se monitorizan y controlan automáticamente para que usted no se
                tenga que preocupar por nada, aportando fiabilidad sin necesidad de mantenimiento. En otras palabras,
                los generadores son muy seguros.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-px section-9" style="display: none;">
    <h3>MOSTRADO EN</h3>
    <img
      class="tablet"
      src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Media-Logo.png?v=1641715228"
    >
    <img
      class="mobile"
      src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Media-Logo-Mobile-1.png?v=1641666769"
    >
  </div>

  <p class="bottom-description">Los términos “DELTA” y “RIVER”, que se mencionan en esta página, se refieren a productos fabricados exclusivamente por ECOFLOW INC.</p>
</div>

{{ 'jquery.min.js' | asset_url | script_tag }}
{{ 'custom.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "river generator",
  "settings": [
    {
      "type": "product",
      "id": "product1",
      "label": "Product 1"
    },
    {
      "type": "product",
      "id": "product2",
      "label": "Product 2"
    },
    {
      "type": "product",
      "id": "product3",
      "label": "Product 3"
    }
  ]
}
{% endschema %}
