<style>
  .sg-blog__section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media (min-width: 768px) {
    .sg-blog__section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_desktop }}px;
      padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    }
  }
</style>

<div
  class="sg-blog__section sg-blog__section-{{ section.id }}"
  data-id="_{{ section.settings.id | downcase | remove: ' ' | replace: '&', '-' }}"
>
  <div class="container--default">
    <div class="sg-blog__text-container">
      {% if section.settings.title != blank %}
        <h2 class="sg-blog__section-heading text--heading text--white">
          {{ section.settings.title }}
        </h2>
      {% endif %}
    </div>
    <div class="sg-blog__container-slider">
      <div class="swiper sg-blog__slider-container sg-blog-slider">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="sg-blog__slide-content swiper-slide">
              <div class="sg-blog__image-wrapper">
                <img
                  src="{{ block.settings.image | img_url: 'master' }}"
                  alt="{{ block.settings.image.alt }}"
                >
                <div class="sg-blog__content-wrapper">
                  <div class="sg-blog__text-wrapper">
                    <h3 class="sg-blog__title text--white">{{ block.settings.title }}</h3>
                  </div>
                  <div class="sg-blog__button-wrapper">
                    <a href="{{ block.settings.button_link }}" target="_blank" class="button--container ">
                      <span class="button text--black">{{ block.settings.button_label }}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="display--desktop">
          <div class="sg-blog-swiper__navigation">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper('.sg-blog-slider', {
      slidesPerView: 1.5,
      spaceBetween: 10,
      loop: false,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        600: {
          slidesPerView: 2,
          spaceBetween: 27,
        },
        1261: {
          slidesPerView: 3,
          spaceBetween: 24,
        },
      },
    });
  });
</script>

{% schema %}
{
  "name": "SG blog",
  "settings": [
    {
      "type": "text",
      "id": "id",
      "label": "Section ID",
      "default": "Buyer’s Guides"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Title",
      "default": "Read More About Solar Panels "
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Desktop",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Desktop",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "blog",
      "name": "blog",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "html",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ]
}
{% endschema %}
