{{ 'smart-living.css' | asset_url | stylesheet_tag }}

<div class="smart-living-banner">
  {% assign image = section.settings.mobileImage %}
  {% assign pt = 1 | divided_by: image.aspect_ratio | times: 100 %}
  <div
    class="custom-img__wrapper display--mobile"
    style="padding-top: {{ pt }}%;"
  >
    <img
      class="custom-img"
      srcset="
        {{ image | img_url: '500x' }} 500w,
        {{ image | img_url: '600x' }} 600w,
        {{ image | img_url: 'master' }} 700w,
      "
      alt="{{ image.alt }}"
    >
  </div>

  {% assign image = section.settings.image %}
  {% assign pt = 1 | divided_by: image.aspect_ratio | times: 100 %}
  <div
    class="custom-img__wrapper display--desktop"
    style="padding-top: {{ pt }}%;"
  >
    <img
      class="custom-img"
      srcset="
        {{ image | img_url: '1000x' }} 1000w,
        {{ image | img_url: '1200x' }} 1200w,
        {{ image | img_url: '1400x' }} 1400w,
        {{ image | img_url: 'master' }} 1600w,
      "
      alt="{{ image.alt }}"
      loading="lazy"
    >
  </div>

  <div class="smart-living-banner__content container--normal">
    {% if section.settings.title != blank %}
      <h1 class="smart-living-banner__content__h1 sl__text--white">
        {{ section.settings.title }}
      </h1>
    {% endif %}
    {% if section.settings.subtitle != blank %}
      <h2 class="smart-living-banner__content__h2 sl__text--white">
        {{ section.settings.subtitle }}
      </h2>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Smart Living Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobileImage",
      "label": "Mobile Image"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Title",
      "default": "Smart Living Innovations EcoFlow Smart Devices Launch"
    },
    {
      "type": "html",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Make a Wish With EcoFlow"
    }
  ]
}
{% endschema %}
