{{ 'jquery.min.js' | asset_url | script_tag }}
<div id="{{ section.settings.section_id }}" class="section-{{ section.id }} ef-story-line-a-wrapper ef-story_pc">
    <div class='ef-story-line-a'>
      <div class="ef-story-line-a-h">
        <span>{{ section.settings.title }}</span>
      </div>
      <div class="ef-story-line-a-box">
        <div class="ef-story-line-a-card">
          <div class="ef-story-line-a-l">
            <div class="ef-story-line-a-card-item">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.msleft }}</div>
              </div>
              <div class="{% if section.settings.msleftc_popup != blank %}ef-story-line-a-popup{% endif %} ef-story-line-a-card-msd" data-index="0" data-win="{{ section.settings.msleftc_popup }}">
                <svg width="33" height="27" viewBox="0 0 33 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M31.7877 24.6378H28.7628V6.15363C28.7628 5.50078 28.2313 4.97249 27.5771 4.97249C27.569 4.97249 27.5621 4.97711 27.5528 4.97711C27.5447 4.97711 27.5377 4.97249 27.5285 4.97249H21.7717V1.18114C21.7717 0.528329 21.2402 0 20.5859 0C20.5778 0 20.5709 0.004626 20.5616 0.004626C20.5536 0.004626 20.5466 0 20.5373 0H13.3304C13.3222 0 13.3154 0.004626 13.306 0.004626C13.298 0.004626 13.291 0 13.2829 0C12.6275 0 12.0971 0.528329 12.0971 1.18114V9.96599H6.0622C6.05291 9.96599 6.04593 9.97058 6.03781 9.97058C6.02856 9.97058 6.02157 9.96599 6.01353 9.96599C5.35816 9.96599 4.82777 10.4943 4.82777 11.1471V24.6377H1.21242C0.543081 24.6377 0 25.166 0 25.8189C0 26.4716 0.543119 27 1.21242 27H31.7877C32.4571 27 33 26.4716 33 25.8189C33 25.166 32.4571 24.6378 31.7877 24.6378ZM12.0972 24.6378H7.20156V12.3283H12.0972V24.6378ZM19.3909 24.6378H14.4686V2.36232H19.3909V24.6378ZM26.3913 24.6471H21.7636V7.34398H26.3913V24.6471Z" fill="#272636"/>
                </svg>
                <span class="ef-story-line-a-card-msd1">
                  {{ section.settings.msleftc }}
                </span>
              </div>
            </div>
          </div>
          <div class="ef-story-line-a-r">
            {% if section.settings.msline1 != blank %}
            <div class="ef-story-line-a-long ef-story-line-a-long1 ef-story-line-a-popup" data-index="1" data-win="{{ section.settings.msline1text }}">
              <div class="ef-story-line-a-long-text">{{ section.settings.msline1 }}</div>
            </div>
            {% endif %}
            {% if section.settings.msline2 != blank %}
            <div class="ef-story-line-a-long ef-story-line-a-long2 ef-story-line-a-popup" data-index="2" data-win="{{ section.settings.msline2text }}">
              <div class="ef-story-line-a-long-text">{{ section.settings.msline2 }}</div>
            </div>
            {% endif %}
            {% if section.settings.msline3 != blank %}
            <div class="ef-story-line-a-long ef-story-line-a-long3 ef-story-line-a-popup" data-index="3" data-win="{{ section.settings.msline3text }}">
              <div class="ef-story-line-a-long-text">{{ section.settings.msline3 }}</div>
            </div>
            {% endif %}
            {% if section.settings.msline4 != blank %}
            <div class="ef-story-line-a-long ef-story-line-a-long4 ef-story-line-a-popup" data-index="4" data-win="{{ section.settings.msline4text }}">
              <div class="ef-story-line-a-long-text">{{ section.settings.msline4 }}</div>
            </div>
            {% endif %}
            {% if section.settings.msline5 != blank %}
                <div class="ef-story-line-a-long ef-story-line-a-long5 ef-story-line-a-popup" data-index="5" data-win="{{ section.settings.msline5text }}">
                    <div class="ef-story-line-a-long-text">{{ section.settings.msline5 }}</div>
                </div>
            {% endif %}
            {% if section.settings.msline6 != blank %}
                <div class="ef-story-line-a-long ef-story-line-a-long6 ef-story-line-a-popup" data-index="6" data-win="{{ section.settings.msline6text }}">
                    <div class="ef-story-line-a-long-text">{{ section.settings.msline6 }}</div>
                </div>
            {% endif %}
            {% if section.settings.msline7 != blank %}
              <div class="ef-story-line-a-long ef-story-line-a-long7 ef-story-line-a-popup" data-index="7" data-win="{{ section.settings.msline7text }}">
                  <div class="ef-story-line-a-long-text">{{ section.settings.msline7 }}</div>
              </div>
            {% endif %}

            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms2a }}</div>
              </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms3a }}</div>
              </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms4a }}</div>
              </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms5a }}</div>
              </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-a-card-item-two ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms6a }}</div>
              </div>
              {% comment %} <div class="ef-story-line-a-card-msb ef-story-line-a-popup" data-win="{{ section.settings.ms6d }}">
                <span class="ef-story-line-a-card-msb1">{{ section.settings.ms6c }}</span>
              </div> {% endcomment %}
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms7a }}</div>
              </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms8a }}</div>
              </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-a-card-item-two ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms9a }}</div>
              </div>
              {% comment %} <div class="ef-story-line-a-card-msb ef-story-line-a-popup" data-win="{{ section.settings.ms9d }}">
                <span class="ef-story-line-a-card-msb1">{{ section.settings.ms9c }}</span>
              </div> {% endcomment %}
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms10a }}</div>
              </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms11a }}</div>
              </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms12a }}</div>
              </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms13a }}</div>
              </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms14a }}</div>
              </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms15a }}</div>
              </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms16a }}</div>
              </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms17a }}</div>
              </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms18a }}</div>
              </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms19a }}</div>
              </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms20a }}</div>
              </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms21a }}</div>
              </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.ms22a }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ef-story-line-a-win" data-win="wina">
        <div class="ef-story-line-a-win-in">
          <span class="ef-story-line-a-win-ms"></span>
          {% include 'icon-ef-close' %}
        </div>
      </div>
    </div>
    <div class="ef-story-line-more">{{ section.settings.more_text }}</div>
  </div>
  <div class="section-{{ section.id }} ef-story-line-a-wrapper ef-story_mobile">
    <div class='ef-story-line-a'>
      <div class="ef-story-line-a-h">
        <span>{{ section.settings.title }}</span>
      </div>
       <div class="ef-story-line-a-box">
        <div class="ef-story-line-a-card">
          <div class="ef-story-line-a-l">
            <div class="ef-story-line-a-card-item ef-story-line-a-popup" data-index="0" data-win="{{ section.settings.msleftc_popup }}">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">{{ section.settings.msleft }}</div>
              </div>
              <div class="ef-story-line-a-card-msd">
                <svg width="33" height="27" viewBox="0 0 33 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M31.7877 24.6378H28.7628V6.15363C28.7628 5.50078 28.2313 4.97249 27.5771 4.97249C27.569 4.97249 27.5621 4.97711 27.5528 4.97711C27.5447 4.97711 27.5377 4.97249 27.5285 4.97249H21.7717V1.18114C21.7717 0.528329 21.2402 0 20.5859 0C20.5778 0 20.5709 0.004626 20.5616 0.004626C20.5536 0.004626 20.5466 0 20.5373 0H13.3304C13.3222 0 13.3154 0.004626 13.306 0.004626C13.298 0.004626 13.291 0 13.2829 0C12.6275 0 12.0971 0.528329 12.0971 1.18114V9.96599H6.0622C6.05291 9.96599 6.04593 9.97058 6.03781 9.97058C6.02856 9.97058 6.02157 9.96599 6.01353 9.96599C5.35816 9.96599 4.82777 10.4943 4.82777 11.1471V24.6377H1.21242C0.543081 24.6377 0 25.166 0 25.8189C0 26.4716 0.543119 27 1.21242 27H31.7877C32.4571 27 33 26.4716 33 25.8189C33 25.166 32.4571 24.6378 31.7877 24.6378ZM12.0972 24.6378H7.20156V12.3283H12.0972V24.6378ZM19.3909 24.6378H14.4686V2.36232H19.3909V24.6378ZM26.3913 24.6471H21.7636V7.34398H26.3913V24.6471Z" fill="#272636"/>
                </svg>
                <span class="ef-story-line-a-card-msd1">
                  {{ section.settings.msleftc }}
                </span>
              </div>
            </div>
          </div>
          <div class="ef-story-line-a-r">
            {% if section.settings.msline1_m != blank %}
            <div class="ef-story-line-a-long ef-story-line-a-long1 ef-story-line-a-popup" data-index="1" data-win="{{ section.settings.msline1text_m }}">
              <div class="ef-story-line-a-long-text">{{ section.settings.msline1_m }}</div>
            </div>
            {% endif %}
            {% if section.settings.msline2_m != blank %}
            <div class="ef-story-line-a-long ef-story-line-a-long2 ef-story-line-a-popup" data-index="2" data-win="{{ section.settings.msline2text_m }}">
              <div class="ef-story-line-a-long-text">{{ section.settings.msline2_m }}</div>
            </div>
            {% endif %}
            {% if section.settings.msline3_m != blank %}
            <div class="ef-story-line-a-long ef-story-line-a-long3 ef-story-line-a-popup" data-index="3" data-win="{{ section.settings.msline3text_m }}">
              <div class="ef-story-line-a-long-text">{{ section.settings.msline3_m }}</div>
            </div>
            {% endif %}
            {% if section.settings.msline4_m != blank %}
            <div class="ef-story-line-a-long ef-story-line-a-long4 ef-story-line-a-popup" data-index="4" data-win="{{ section.settings.msline4text_m }}">
              <div class="ef-story-line-a-long-text">{{ section.settings.msline4_m }}</div>
            </div>
            {% endif %}
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
                <div class="ef-story-line-a-card-msa">
                  <div class="ef-story-line-a-card-msa-1">
                    {{ section.settings.ms2a_m }}
                  </div>
                </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
                <div class="ef-story-line-a-card-msa">
                  <div class="ef-story-line-a-card-msa-1">
                    {{ section.settings.ms3a_m }}
                  </div>
                </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin" style="width: 21px; flex: unset;">
                <div class="ef-story-line-a-card-msa">
                  <div class="ef-story-line-a-card-msa-1">
                    {{ section.settings.ms4a_m }}
                  </div>
                </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">
                  {{ section.settings.ms5a_m }}
                </div>
              </div>
            </div>
            <div class="ef-story-line-a-card-item ef-story-line-a-card-last-item ef-story-line-openwin">
              <div class="ef-story-line-a-card-msa">
                <div class="ef-story-line-a-card-msa-1">
                  {{ section.settings.ms6a_m }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ef-story-line-more">{{ section.settings.more_text }}</div>
  </div>
  <div id="term_text" style="display: none;">{{ section.settings.story_terms_text }}</div>

  <style>
    .ef-story-line-a-wrapper {
      width: 100%;
      padding: 78px 57px 50px;
      max-width: 90%;
      margin: auto;
    }
    .ef-story-line-a {
      position: relative;
      max-width: 1240px;
      padding: 38px 20px 22px;
      margin: 0 auto;
      border-radius: 8px;
      background: #FEFAE8;
      border: 0;
    }
    .ef-story-line-a-h {
      display: flex;
      justify-content: center;
      align-items: center;
      color: {{ section.settings.text_color }};
      text-align: center;
      font-family: Helvetica Neue ForEco;
      font-size: 40px;
      font-weight: 700;
      line-height: 1.1;
      padding: 0 20px;
    }
    .ef-story-line-a-h span {
      margin: 0 20px;
    }
    .ef-story-line-a-card {
      display: flex;
      height: auto;
      padding: 40px 45px 20px;
      border-radius: 10px;
      background: {{ section.settings.table_bg_color }};
      color: #fff;
      margin-top: 26px;
    }
    .ef-story-line-a-box .ef-story-line-a-r {
      position: relative;
      display: flex;
      flex: 10;
      padding-top: 54px;
    }
    .ef-story-line-a-box .ef-story-line-a-card-item {
      position: relative;
      flex: 1;
      height: 202px;
      margin: 0 2px;
      border-radius: 8px;
      background: {{ section.settings.column_bg_color }};
      text-align: center;
    }
    .ef-story-line-a-box .ef-story-line-a-card-msa {
      position: absolute;
      top: -54px;
      left: 0;
      width: 100%;
      height: 54px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .ef-story-line-a-card-msa-1 {
      width: 100%;
      color: {{ section.settings.text_color }};
      text-align: center;
      font-family: Helvetica Neue ForEco;
      font-size: 20px;
      font-weight: 500;
      line-height: 22px;
      white-space: nowrap;
    }
    .ef-story-line-a-card-item.ef-story-line-a-card-item-active .ef-story-line-a-card-msa-1 {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      background-color: #FFC24D;
      border-radius: 50%;
      color: #000;
    }
    .ef-story-line-a-box .ef-story-line-a-card-msb {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 72px;
      border-radius: 0px 0px 10.658px 10.658px;
      background: rgba(255, 194, 77, 0.42);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .ef-story-line-a-box .ef-story-line-a-card-msb1 {
      color: #040D1C;
      text-align: center;
      font-family: Helvetica Neue ForEco;
      font-size: 17.706px;
      font-style: normal;
      line-height: 20.219px; /* 114.192% */
      text-decoration-line: underline;
      font-weight: 500;
    }
    .ef-story-line-a-box .ef-story-line-a-l {
      flex: 2;
      padding-top: 54px;
      position: relative;
    }
    .ef-story-line-a-box .ef-story-line-a-l .ef-story-line-a-card-item {
      display: flex;
      align-items: center;
    }
    .ef-story-line-a-box .ef-story-line-a-l .ef-story-line-a-card-msa {
      flex-wrap: initial;
      white-space: nowrap;
    }
    .ef-story-line-a-box .ef-story-line-a-l .ef-story-line-a-card-msa-1 {
      flex: 1;
    }
    .ef-story-line-a-box .ef-story-line-a-l .ef-story-line-a-card-msd {
      border-radius: 0px 10px 10px 0px;
      background: #FFC24D;
      color: {{ section.settings.text_color }};
      font-family: Helvetica Neue ForEco;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.2; /* 125% */
      text-align: left;
      padding: 24px 8px;
      text-decoration: underline;
    }
    .ef-story-line-a-box .ef-story-line-a-l .ef-story-line-a-card-msd1 {
      display: block;
    }
  </style>
  <style>
    .ef-story-line-more {
      color: #707070;
      text-align: center;
      font-family: Helvetica Neue ForEco;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
      margin-top: 10px;
      cursor: pointer;
    }
    .ef-story-line-a-long {
      position: absolute;
      top: 76px;
      left: 0;
      z-index: 8;
      width: 100%;
      height: 30px;
      border-radius: 6px;
      background: #FFC24D;
      color: {{ section.settings.text_color }};
      text-align: center;
      font-family: Helvetica Neue ForEco;
      font-size: 14px;
      font-style: normal;
      line-height: 11.504px; /* 57.518% */
      text-decoration-line: underline;
      line-height: 30px;
      cursor: pointer;
      font-weight: 500;
    }
    .ef-story-line-a-long1 {
      top: 66px;
      left: 2px;
      height: 53px;
      width: 66.4%;
      line-height: 53px;
      font-size: 20px;
    }
    .ef-story-line-a-long2 {
      top: 66px;
      left: 66.9%;
      width: 33%;
      height: 53px;
      line-height: 53px;
      font-size: 20px;
    }
    .ef-story-line-a-long3 {
      top: 126px;
      left: 4.9%;
      width: 18.75%;
      height: 53px;
      line-height: 53px;
    }
    .ef-story-line-a-long4 {
      top: 126px;
      left: 28.76%;
      width: 18.8%;
      height: 53px;
      line-height: 53px;
    }
    .ef-story-line-a-long5 {
      top: 126px;
      left: 52.6%;
      width: 18.65%;
      height: 53px;
      line-height: 53px;
    }
    .ef-story-line-a-long6 {
      top: 126px;
      left: 76.4%;
      width: 18.7%;
      height: 53px;
      line-height: 53px;
    }
    .ef-story-line-a-long7 {
      top: 186px;
      left: 19.2%;
      width: 23.5%;
      height: 53px;
      line-height: 53px;
    }
    .ef-story-line-a-long-text {
      line-height: 1.2;
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: center;
    }
  </style>
  <style>
    .ef-story_pc {
      display: block;
    }
    .ef-story_mobile {
      display: none;
    }
    .ef-story-line-a-popup {
      cursor: pointer;
    }
    .ef-story-line-a-win {
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, 0%);
      z-index: 22;
      display: none;
      width: 820px;
      min-height: 60px;
    }
    .ef-story-line-a-win[data-index="5"], .ef-story-line-a-win[data-index="3"], .ef-story-line-a-win[data-index="4"], .ef-story-line-a-win[data-index="6"]{
        top: 70%;
        left: 49.3%;
    }
    .ef-story-line-a-win[data-index="7"]{ top: 94%; }
    .ef-story-line-a-win[data-index="0"]{ top: 84%; left: 0; transform: none; }
    .ef-story-line-a-win[data-index="1"]{ top: 46%; left: 44.6%; }
    .ef-story-line-a-win[data-index="2"]{ top: 46%; right: 0; left: unset; transform: none; }
    .ef-story-line-a-win[data-index="6"]{ right: 0; left: unset; transform: none; }
    .ef-story-line-a-win-in-out {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 22;
      width: 820px;
      min-height: 60px;
      transform: translate(-50%, -50%);
    }
    .ef-story-line-a-win.ef-story-line-a-win-active {
      display: block;
    }
    .ef-story-line-a-win-in-opacity {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #000;
      opacity: 0.7;
    }
    .ef-story-line-a-win-in {
      position: relative;
      border-radius: 3px;
      padding: 22px 42px;
      margin: 0 auto;
      border-radius: 8px;
      background: #D3D5D8E5;
    }
    .ef-story-line-a-win-close {
      position: absolute;
      top: 2px;
      right: 2px;
      cursor: pointer;
      font-size: 40px
    }
    .ef-story-line-a-win-ms *{
      color: {{ section.settings.text_color }};
      font-size: 18px;
      font-weight: 300;
      line-height: 1.2;
    }
    .ef-story-line-a-win-ms strong{ font-weight: 500; color: #FF8000; }
    .ef-story-more-global-inner .ef-story-line-a-win-ms *{ font-size: 14px; font-weight: 300; }
    .ef-story-more-global-inner .ef-story-line-a-win-ms strong{ font-size: 16px; font-weight: 700; }
  </style>
  <style>
    @media screen and (max-width: 1023px) {
      .ef-story-line-a {
        padding: 10px 4px 0;
        background: none;
      }
      .ef-story-line-a-h {
        font-size: 20px;
        line-height: 22px;
      }
      .ef-story-line-a-card {
        padding: 12px 10px;
        margin-top: 12px;
        border-radius: 4px;
      }
      .ef-story-line-a-box .ef-story-line-a-l .ef-story-line-a-card-msd {
        border-radius: 2px;
        font-size: 12px;
        line-height: 16px;
      }
      .ef-story-line-a-box .ef-story-line-a-l .ef-story-line-a-card-mad-icon {
        width: 14px;
        height: 14px;
      }
      .ef-story-line-a-box .ef-story-line-a-r {
        padding-top: 30px;
      }
      .ef-story-line-a-box .ef-story-line-a-card-msa {
        top: -30px;
        height: 30px;
        flex-wrap: wrap-reverse;
        flex-direction: column;
        padding-bottom: 0 !important;
      }
      .ef-story-line-a-box .ef-story-line-a-l {
        padding-top: 30px;
        width: 88px;
        flex: unset;
      }
      .ef-story-line-a-box .ef-story-line-a-card-item.ef-story-line-a-card-item-two {
        flex: 4;
      }
      .ef-story-line-a-long {
        top: 68px;
        font-size: 14px;
      }
      .ef-story-line-a-long2 {
        top: 100px;
        white-space: nowrap;
      }
      .ef-story-line-a-card {
        height: auto;
      }
      .ef-story-line-a-box .ef-story-line-a-card-item {
        height: 130px;
        border-radius: 2px;
      }
      .ef-story-line-a-box .ef-story-line-a-r .ef-story-line-a-card-item { flex: unset; width: calc(33.33% - 16.66px) }
      .ef-story-line-a-box .ef-story-line-a-r div.ef-story-line-a-card-last-item { width: 29px; }
      .ef-story-line-a-box .ef-story-line-a-card-msb {
        height: 48px;
        border-radius: 0px 0px 2.7px 2.7px;
      }
      .ef-story-line-a-box .ef-story-line-a-card-msb1 {
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
      }
      .ef-story-line-a-win-in-out {
        width: 280px;
      }
      .ef-story-line-a-card-item.ef-story-line-a-card-item-active .ef-story-line-a-card-msa-1 {
        width: 26px;
        height: 26px;
        line-height: 26px;
      }
    }
    @media screen and (max-width: 1023px) {
      .ef-story_pc {
        display: none;
      }
      .ef-story_mobile {
        display: block;
      }
      .ef-story-line-a-wrapper {
        padding: 20px 15px 35px;
        max-width: 100%;
      }
      .ef-story-line-a {
        font-family: Helvetica Neue ForEco;
        font-size: 20px;
        font-weight: 500;
        padding: 0;
      }
      .ef-story-line-more {
        font-size: 12px;
        line-height: 1.2;
      }
      .ef-story-line-a-box .ef-story-line-a-l .ef-story-line-a-card-msd {
        padding: 8px 5px 16px;
      }
      .ef-story-line-a-box .ef-story-line-a-l .ef-story-line-a-card-msd svg{ width: 26px; height: 22px; }
      .ef-story-line-a-card-msa-1 {
        font-size: 12px;
        line-height: 38px;
      }
      .ef-story-line-a-card-msa-1 .flexbox{ display: flex; justify-content: space-between; padding: 0 5px; }
      .ef-story-line-a-card-msa-1 .flexbox.center{ justify-content: center; }
      .ef-story-line-a-long1, .ef-story-line-a-long2, .ef-story-line-a-long3, .ef-story-line-a-long4{ font-size: 12px; height: 33px; border-radius: 3px; }
      .ef-story-line-a-long1 {
        top: 36px;
        font-size: 14px;
        width: calc(66.66% - 18px);
      }
      .ef-story-line-a-long2 {
        top: 36px;
        width: calc(42% - 10px);
        left: calc(58% + 10px);
      }
      .ef-story-line-a-long3 {
        width: calc(66% - 15px);
        top: 74px;
        left: calc(33.33% - 16px);
        bottom: 0;
      }
      .ef-story-line-a-long4 {
        top: 112px;
        width: calc(33.33% - 22.66px);
        left: calc(33.33% - 16px);
      }
      .ef-story-line-a-card-msa .line{
        width: 36px;
        display: inline-block;
        height: 1px;
        background: {{ section.settings.text_color }};
        vertical-align: middle;
      }
      .ef-story-line-a-card-msa .line.line-1{ width: 24px; }
      .ef-story-line-a-long-text {
        white-space: break-spaces;
        font-size: 12px;
      }
      .ef-story-line-a-win {
        top: 58%;
        width: 280px;
        transform: translate(-69%, 0%);
      }
      .ef-story-line-a-win-in .ef-story-line-a-win-ms p {
        font-size: 12px !important;
        display: inline-block;
        line-height: 1.24;
      }
      .ef-story-line-a-win-ms strong{ font-size: 12px; }
      .ef-story-line-a-win-close {
        font-size: 20px;
        width: 20px;
        height: 20px;
      }
      .ef-story-line-a-win-in {
        padding: 10px 5px;
        border-radius: 3px;
      }
      .card-time-wrapper {
        display: inline-flex;
        justify-content: space-between;
      }
      .ef-story-line-a-card-start {
        width: 56px;
        display: flex;
        justify-content: space-between;
      }
      .ef-story-line-a-card-end {
        width: 45px;
        display: flex;
        justify-content: space-between;
      }
      .ef-story-line-a-win[data-index="1"], .ef-story-line-a-win[data-index="2"], .ef-story-line-a-win[data-index="4"], .ef-story-line-a-win[data-index="6"]{ top: 43%; right: 0; left: unset; transform: none; }
      .ef-story-line-a-win[data-index="3"]{ top: 67%; left: -18%; transform: none; }
      .ef-story-line-a-win[data-index="0"]{ top: 94%; left: -33%; }
      .ef-story-line-a-win[data-index="4"]{ top: 90%; }
    }
    .ef-story-more-global {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: block;
      }
      .ef-story-more-global:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
      }

      .ef-story-more-global-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 820px;
        max-height: 460px;
        padding: 34px 39px 24px;
        border-radius: 12px;
        text-align: center;
        transform: translate(-50%,-50%);
        z-index: 2;
        color: #FFF;
        font-family: Helvetica Neue ForEco;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        overflow-y: auto;
        background: #FEE2B9;
        text-align: left;
      }
      .ef-story-global-close {
        position: absolute;
        top: 2px;
        right: 2px;
        cursor: pointer;
        font-size: 40px;
      }

      @media screen and (max-width: 1023px) {
        .ef-story-more-global-inner {
          width: 280px;
          max-height: 290px;
          font-size: 14px;
          padding: 16px 12px;
        }
        .ef-story-global-close {
          font-size: 14px;
          width: 14px;
          height: 14px;
        }
        .ef-story-more-global-inner .ef-story-line-a-win-ms p {
          font-size: 14px !important;
        }
      }

  </style>
  <script type="text/javascript">
  $(function(){
    var htmlText = $('#term_text').html();
    function initialGlobalPopup (text) {
      var tpl = `
        <div class="ef-story-more-global">
            <div class="ef-story-more-global-inner">
              <span class="ef-story-line-a-win-ms">${text}</span>
              <svg class="ef-story-global-close" xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                <path d="M16.2777 29.3333C23.7693 29.3333 29.8424 23.3638 29.8424 16C29.8424 8.63621 23.7693 2.66667 16.2777 2.66667C8.78605 2.66667 2.71289 8.63621 2.71289 16C2.71289 23.3638 8.78605 29.3333 16.2777 29.3333Z" fill="#FFCE78"/>
                <path d="M20.3459 12L12.207 20" stroke="white" stroke-width="1.11111" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12.207 12L20.3459 20" stroke="white" stroke-width="1.11111" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>
      `;

      $('body').append(tpl);

      // 关闭弹窗
      $('.ef-story-more-global').on('click', '.ef-story-global-close', function() {
         $('.ef-story-more-global').remove();
      });
    };

    function initialModal($node, text, index){
      var tpl = `
          <div class="ef-story-line-a-win ef-story-line-a-win-active" data-win="wina" data-index="${index}">
            <div class="ef-story-line-a-win-in">
              <span class="ef-story-line-a-win-ms">${text}</span>
              <svg class="ef-story-line-a-win-close" xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none">
                <path d="M20.0736 36.1733C29.3121 36.1733 36.8014 28.8118 36.8014 19.7308C36.8014 10.6499 29.3121 3.28839 20.0736 3.28839C10.835 3.28839 3.3457 10.6499 3.3457 19.7308C3.3457 28.8118 10.835 36.1733 20.0736 36.1733Z" fill="#00000066"/>
                <path d="M25.0914 14.7981L15.0547 24.6636" stroke="white" stroke-width="1.11111" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.0547 14.7981L25.0914 24.6636" stroke="white" stroke-width="1.11111" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>
      `;

      $node.append(tpl);

      // 关闭弹窗
      $('.ef-story-line-a-win').on('click', '.ef-story-line-a-win-close', function() {
         $('.ef-story-line-a .ef-story-line-a-win').remove()
      });
    };

    $('.ef-story-line-a').delegate('.ef-story-line-a-popup', 'click', function(evt) {
      var name = $(this).attr('data-win');
      var line_index = $(this).attr('data-index');

      if(/Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Silk/.test(navigator.userAgent)) {
        var width = $(this).width();
        var height = $(this).height()

        var position = $(this).position();
        var top = $(this).hasClass('ef-story-line-a-card-msb') ? position.top + height + 40 : position.top + height;
        var style = `top: ${top}px; right: 5%; transform: translateX(0%)`;

        if(name) {
          $('.ef-story-line-a .ef-story-line-a-win').remove()
          initialModal($('.ef-story-line-a-r'), name, line_index);
        }
      } else {
        if(name) {
          $('.ef-story-line-a .ef-story-line-a-win').remove()
          if(line_index == 0) initialModal($('.ef-story-line-a-l'), name, line_index);
          else initialModal($('.ef-story-line-a-r'), name, line_index);
        }
      }
    });

    $('.ef-story-line-more').on('click', function(){
      initialGlobalPopup(htmlText);
    });
  });
  </script>
  <style>
    .ef-story-line-a-box .ef-story-line-a-l .ef-story-line-a-card-msd { background-color: {{ section.settings.bg_color1 | default: '#FFC24D'  }};}
    .page-container .ef-story-line-a-long1 { background-color: {{ section.settings.bg_color2 |  hex_to_rgba: 0.6 | default: 'rgba(255, 194, 77, 0.6)'  }};}
    .page-container .ef-story-line-a-long2 { background-color: {{ section.settings.bg_color3 |  hex_to_rgba: 0.6 | default: 'rgba(255, 194, 77, 0.6)'  }};}
    .page-container .ef-story-line-a-long3 { background-color: {{ section.settings.bg_color4 |  hex_to_rgba: 0.6 | default: 'rgba(255, 194, 77, 0.6)'  }};}
    .page-container .ef-story-line-a-long4 { background-color: {{ section.settings.bg_color5 |  hex_to_rgba: 0.6 | default: 'rgba(255, 194, 77, 0.6)'  }};}
    .page-container .ef-story-line-a-long5 { background-color: {{ section.settings.bg_color6 |  hex_to_rgba: 0.6 | default: 'rgba(255, 194, 77, 0.6)'  }};}
    .page-container .ef-story-line-a-long6 { background-color: {{ section.settings.bg_color7 |  hex_to_rgba: 0.6 | default: 'rgba(255, 194, 77, 0.6)'  }};}
    .page-container .ef-story-line-a-long7 { background-color: {{ section.settings.bg_color8 |  hex_to_rgba: 0.6 | default: 'rgba(255, 194, 77, 0.6)'  }};}
    .spring-calendar-section{ background-color: {{ section.settings.bg_color }}; }
    .spring-calendar-section .ef-story_pc{ background-image: url({{ section.settings.bg_image | img_url: 'master' }}); background-size: cover; background-repeat: no-repeat; }
    .spring-calendar-section .ef-story_mobile{ background-image: url({{ section.settings.bg_image_m | img_url: 'master' }}); background-size: 100% 100%; background-repeat: no-repeat; }
    @media screen and (max-width: 1600px) {
        .spring-calendar-section .ef-story_pc{ background-size: 100% 100%; }
    }
    @media screen and (max-width: 765px){
        .ef-story-line-a-wrapper{ max-width: 100%; }
        .ef-story-line-a-wrapper{ padding: 28px 8px 20px; }
    }
  </style>
  {% schema %}
    {
      "name": "Calendar section",
      "class": "spring-calendar-section",
      "settings": [
        {
          "type": "text",
          "id": "section_id",
          "label": "Section ID"
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Section Background color"
        },
        {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background image"
        },
        {
            "type": "image_picker",
            "id": "bg_image_m",
            "label": "Background image(Mobile)"
        },
        {
            "type": "color",
            "id": "table_bg_color",
            "label": "Table Background color"
        },
        {
            "type": "color",
            "id": "column_bg_color",
            "label": "Column Background color"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "msleft",
          "label": "Column 1 title"
        },
        {
          "type": "text",
          "id": "msleftc",
          "label": "Column 1 content"
        },
        {
            "type": "richtext",
            "id": "msleftc_popup",
            "label": "Column 1 popup content"
        },
        {
            "type": "header",
            "content": "Popups(Desktop)"
        },
        {
          "type": "text",
          "id": "msline1",
          "label": "Popup line 1"
        },
        {
          "type": "richtext",
          "id": "msline1text",
          "label": "Popup line 1 content",
          "default": "<p>On both Black Friday and Cyber Mond</p>"
        },
        {
          "type": "text",
          "id": "msline2",
          "label": "Popup line 2"
        },
        {
          "type": "richtext",
          "id": "msline2text",
          "label": "Popup line 2 content",
          "default": "<p>Time to unlock your member-only ben</p>"
        },
        {
          "type": "text",
          "id": "msline3",
          "label": "Popup line 3"
        },
        {
          "type": "richtext",
          "id": "msline3text",
          "label": "Popup line 3 content",
          "default": "<p>Time to unlock your member-only ben</p>"
        },
        {
          "type": "text",
          "id": "msline4",
          "label": "Popup line 4"
        },
        {
          "type": "richtext",
          "id": "msline4text",
          "label": "Popup line 4 content",
          "default": "<p>Time to unlock your member-only ben</p>"
        },
        {
            "type": "text",
            "id": "msline5",
            "label": "Popup line 5"
        },
        {
            "type": "richtext",
            "id": "msline5text",
            "label": "Popup line 5 content",
            "default": "<p>Time to unlock your member-only ben</p>"
        },
        {
            "type": "text",
            "id": "msline6",
            "label": "Popup line 6"
        },
        {
            "type": "richtext",
            "id": "msline6text",
            "label": "Popup line 6 content",
            "default": "<p>Time to unlock your member-only ben</p>"
        },
        {
            "type": "text",
            "id": "msline7",
            "label": "Popup line 7"
        },
        {
            "type": "richtext",
            "id": "msline7text",
            "label": "Popup line 7 content",
            "default": "<p>Time to unlock your member-only ben</p>"
        },
        {
            "type": "header",
            "content": "Popups(Mobile)"
        },
        {
          "type": "text",
          "id": "msline1_m",
          "label": "Popup line 1"
        },
        {
          "type": "richtext",
          "id": "msline1text_m",
          "label": "Popup line 1 content",
          "default": "<p>On both Black Friday and Cyber Mond</p>"
        },
        {
          "type": "text",
          "id": "msline2_m",
          "label": "Popup line 2"
        },
        {
          "type": "richtext",
          "id": "msline2text_m",
          "label": "Popup line 2 content",
          "default": "<p>Time to unlock your member-only ben</p>"
        },
        {
          "type": "text",
          "id": "msline3_m",
          "label": "Popup line 3"
        },
        {
          "type": "richtext",
          "id": "msline3text_m",
          "label": "Popup line 3 content",
          "default": "<p>Time to unlock your member-only ben</p>"
        },
        {
          "type": "text",
          "id": "msline4_m",
          "label": "Popup line 4"
        },
        {
          "type": "richtext",
          "id": "msline4text_m",
          "label": "Popup line 4 content",
          "default": "<p>Time to unlock your member-only ben</p>"
        },
        {
          "type": "text",
          "id": "ms2a",
          "label": "Column 2 title"
        },
        {
          "type": "textarea",
          "id": "ms2a_m",
          "label": "Column 2 title mobile"
        },
        {
            "type": "text",
            "id": "ms3a",
            "label": "Column 3 title"
        },
        {
            "type": "textarea",
            "id": "ms3a_m",
            "label": "Column 3 title mobile"
        },
        {
            "type": "text",
            "id": "ms4a",
            "label": "Column 4 title"
        },
        {
            "type": "textarea",
            "id": "ms4a_m",
            "label": "Column 4 title mobile"
        },
        {
          "type": "text",
          "id": "ms5a",
          "label": "Column 5 title"
        },
        {
            "type": "textarea",
            "id": "ms5a_m",
            "label": "Column 5 title mobile"
        },
        {
          "type": "text",
          "id": "ms6a",
          "label": "Column 6 title"
        },
        {
            "type": "textarea",
            "id": "ms6a_m",
            "label": "Column 6 title mobile"
        },
        {
          "type": "text",
          "id": "ms7a",
          "label": "Column 7 title"
        },
        {
          "type": "text",
          "id": "ms8a",
          "label": "Column 8 title"
        },
        {
          "type": "text",
          "id": "ms9a",
          "label": "Column 9 title"
        },
        {
          "type": "text",
          "id": "ms10a",
          "label": "Column 10 title"
        },
        {
          "type": "text",
          "id": "ms11a",
          "label": "Column 11 title"
        },
        {
          "type": "text",
          "id": "ms12a",
          "label": "Column 12 title"
        },
        {
          "type": "text",
          "id": "ms13a",
          "label": "Column 13 title"
        },
        {
          "type": "text",
          "id": "ms14a",
          "label": "Column 14 title"
        },
        {
          "type": "text",
          "id": "ms15a",
          "label": "Column 15 title"
        },
        {
          "type": "text",
          "id": "ms16a",
          "label": "Column 16 title"
        },
        {
          "type": "text",
          "id": "ms17a",
          "label": "Column 17 title"
        },
        {
          "type": "text",
          "id": "ms18a",
          "label": "Column 18 title"
        },
        {
          "type": "text",
          "id": "ms19a",
          "label": "Column 19 title"
        },
        {
          "type": "text",
          "id": "ms20a",
          "label": "Column 20 title"
        },
        {
          "type": "text",
          "id": "ms21a",
          "label": "Column 21 title"
        },
        {
          "type": "text",
          "id": "ms22a",
          "label": "Column 22 title"
        },
        {
          "type": "text",
          "id": "more_text",
          "label": "more text",
          "default": "For more information, please check the Terms & Conditions."
        },
        {
          "type": "richtext",
          "id": "story_terms_text",
          "label": "terms and conditions text"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text color",
            "default": "#000"
        },
        {
          "type": "color",
          "id": "bg_color1",
          "label": "Card 1 color",
          "default": "#FFC24D"
        },
        {
          "type": "color",
          "id": "bg_color2",
          "label": "Card 2 color",
          "default": "#ffc24d"
        },
        {
          "type": "color",
          "id": "bg_color3",
          "label": "Card 3 color",
          "default": "#ffc24d"
        },
        {
          "type": "color",
          "id": "bg_color4",
          "label": "Card 4 color",
          "default": "#ffc24d"
        },
        {
          "type": "color",
          "id": "bg_color5",
          "label": "Card 5 color",
          "default": "#ffc24d"
        },
        {
          "type": "color",
          "id": "bg_color6",
          "label": "Card 6 color",
          "default": "#ffc24d"
        },
        {
          "type": "color",
          "id": "bg_color7",
          "label": "Card 7 color",
          "default": "#ffc24d"
        },
        {
          "type": "color",
          "id": "bg_color8",
          "label": "Card 8 color",
          "default": "#ffc24d"
        }
      ],
      "presets": [
          {
              "name": "Spring sale - Calendar section",
              "category": "Custom Sections"
          }
      ]
    }
  {% endschema %}

