<div class="star-page-title-section alter section-{{ section.id }}" id="{{ section.settings.section_id }}" style="background-color: {{ section.settings.section_background }};">
    <div class="star-page-container">
        <div class="star-page-title-wrapper">
            {% if section.settings.banner_title != blank %}
              <div class="title">
                {% if section.settings.banner_title_icon != blank %}
                  <img loading="lazy" srcset="{{ section.settings.banner_title_icon | img_url: 'small' | replace: '_small', '' }}" />
                {% endif %}
                <div class="star_title">
                    <div class="title">{{ section.settings.banner_title }}</div>
                    {% if section.settings.banner_top_title != blank %}
                        <div class="subtitle hideMobile">{{ section.settings.banner_top_title }}</div>
                    {% endif %}
                </div>
              </div>
            {% endif %}
        </div>
        {% if section.settings.banner_top_title != blank %}
          <div class="subtitle hideDesktop">
            {{ section.settings.banner_top_title_m }}
          </div>
        {% endif %}
    </div>
</div>

<style>
    .section-{{ section.id }}{
        padding: {{ section.settings.section_top_space }}px 0 {{ section.settings.section_bottom_space }}px 0;
    }
    .section-{{ section.id }} .title{ font-size: {{ section.settings.banner_title_font_size }}px; }
    .section-{{ section.id }} .subtitle{ font-size: {{ section.settings.banner_top_title_font_size }}px; }
    .section-{{ section.id }}, .section-{{ section.id }} .title, .section-{{ section.id }} .subtitle{ color: {{ section.settings.text_color }}; }
    .section-{{ section.id }} .star-page-title-wrapper img{ width: {{ section.settings.icon_width }}px; margin-right: {{ section.settings.icon_space_right }}px; }

    @media screen and (max-width: 749px){
        .section-{{ section.id }}{
            padding: {{ section.settings.section_top_space_m }}px 0 {{ section.settings.section_bottom_space_m }}px 0;
        }
        .section-{{ section.id }} .title{ font-size: {{ section.settings.banner_title_font_size_m }}px; }
        .section-{{ section.id }} .subtitle{ font-size: {{ section.settings.banner_top_title_font_size_m }}px; }
        .section-{{ section.id }} .star-page-title-wrapper img{ width: {{ section.settings.icon_width_m }}px; }
    }
</style>

{% schema %}
  {
    "name": "Star_product_title(Alter)",
    "settings": [
      {
        "type":"color",
        "id":"section_background",
        "label":"Section background color"
      },
      {
        "type": "text",
        "id": "section_id",
        "label": "Section ID"
      },
      {
        "type": "header",
        "content": "Section spacing"
      },
      {
        "type": "range",
        "id": "section_top_space",
        "label": "Top space(Desktop)",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px",
        "default": 120
      },
      {
        "type": "range",
        "id": "section_bottom_space",
        "label": "Bottom space(Desktop)",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px",
        "default": 40
      },
      {
        "type": "range",
        "id": "section_top_space_m",
        "label": "Top space(Mobile)",
        "min": 0,
        "max": 80,
        "step": 5,
        "unit": "px",
        "default": 40
      },
      {
        "type": "range",
        "id": "section_bottom_space_m",
        "label": "Bottom space(Mobile)",
        "min": 0,
        "max": 80,
        "step": 5,
        "unit": "px",
        "default": 40
      },
      {
        "type": "header",
        "content": "Title"
      },
      {
        "type": "image_picker",
        "id": "banner_title_icon",
        "label": "Icon"
      },
      {
        "type": "range",
        "id": "icon_width",
        "label": "Icon width(Desktop)",
        "min": 30,
        "max": 120,
        "step": 1,
        "unit": "px",
        "default": 80
      },
      {
        "type": "range",
        "id": "icon_width_m",
        "label": "Icon width(Mobile)",
        "min": 30,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 48
      },
      {
        "type": "range",
        "id": "icon_space_right",
        "label": "Icon right space(Desktop)",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "default": 20
      },
      {
        "type": "textarea",
        "id": "banner_title",
        "label": "Text"
      },
      {
        "type": "range",
        "id": "banner_title_font_size",
        "label": "Font size(Desktop)",
        "min": 30,
        "max": 80,
        "step": 1,
        "unit": "px",
        "default": 60
      },
      {
        "type": "range",
        "id": "banner_title_font_size_m",
        "label": "Font size(Mobile)",
        "min": 15,
        "max": 40,
        "step": 1,
        "unit": "px",
        "default": 24
      },
      {
        "type": "header",
        "content": "Subtitle"
      },
      {
        "type": "textarea",
        "id": "banner_top_title",
        "label": "Text"
      },
      {
        "type": "range",
        "id": "banner_top_title_font_size",
        "label": "Font size(Desktop)",
        "min": 10,
        "max": 30,
        "step": 1,
        "unit": "px",
        "default": 24
      },
      {
        "type": "range",
        "id": "banner_top_title_font_size_m",
        "label": "Font size(Mobile)",
        "min": 10,
        "max": 30,
        "step": 1,
        "unit": "px",
        "default": 24
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color"
      }
    ],
    "presets": [
          {
              "name": "Star_product_title - Alter",
              "category":"Custom Sections"
          }
    ]
  }
{% endschema %}