
{{ 'swiper.min.css' | asset_url | stylesheet_tag }}
{{ 'swiper.min.js' | asset_url | script_tag }}
{{ 'jquery.min.js' | asset_url | script_tag }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
{{ 'es-balcony-solar-generator.css' | asset_url | stylesheet_tag }}

<div class="balcony-solar-generator-page">
    <div class="balcony-solar-generator">
        <div class="hero--section">
            <div class="balcony--hero hide_mobile">
                <div class="hero--heading-wrapper text-center ">
                    <h1 class="hero--heading title-h1 color-white gotham-medium">Estación de energía con <br>almacenamiento para balcones</h1>
                </div>
            </div>
            <div class="balcony--hero-mobile show_mobile">
                <div class="hero--heading-wrapper text-center ">
                    <h1 class="hero--heading title-h1 color-white gotham-medium">Estación de energía con <br>almacenamiento para balcones</h1>
                </div>
            </div>
        </div>

        <div class="section-container">
            <div class="description--wrapper text-center">
                <p class="description--primary color-black gotham">EcoFlow combina paneles solares y generadores solares portátiles, ofreciendo un método conveniente de almacenar y utilizar energía. En comparación con los generadores solares tradicionales para balcones, nuestra solución ofrece la posibilidad de almacenar electricidad y usarla cuando sea.</p>
            </div>
        </div>

        <div class="section-container">
            <div class="heading--wrapper text-center">
                <h2 class="title-h2 color-black gotham-bold">¿Qué es una estación de energía para balcones?</h2>
            </div>
            <div class="description--wrapper text-center">
                <p class="description--primary color-black gotham">Una estación de energía para balcones EcoFlow combina paneles solares y generadores de energía portátiles, proporcionando una forma conveniente de almacenar y usar energía. En comparación con las estaciones de energía para balcones tradicionales, nuestra solución ofrece la posibilidad de almacenar electricidad y utilizarla en cualquier momento.</p>
            </div>
        </div>

        <div class="flex-section-container">
            <div class="flex-container">
                <div class="column position-relative">
                    <div class="image-wrapper">
                        <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/save-energy-cost-desktop.png?v=1664199123">
                    </div>
                    <div class="absolute--wrapper left-align position-absolute ">
                        <h3 class="title-h3 color-white gotham">Ahorro de<br>costos<br>energéticos</h3>
                    </div>
                </div>
                <div class="column position-relative">
                    <div class="image-wrapper">
                        <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/easy-to-setup-desktop.png?v=1664199122">
                    </div>
                    <div class="absolute--wrapper center-align position-absolute text-center width-100">
                        <h3 class="title-h3 color-black gotham">Instalación sencilla</h3>
                    </div>
                </div>
            </div>
            <div class="flex-container">
                <div class="flex-container column position-relative">
                    <div class="flex-container image-wrapper">
                        <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/Group_11454.png?v=1665555072">
                    </div>
                    <div class="absolute--wrapper center-align position-absolute ">
                        <h3 class="title-h3 color-black gotham">Potente</h3>
                    </div>
                </div>
                <div class="flex-container column position-relative">
                    <div class="flex-container image-wrapper image-overlay">
                        <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/quiet-desktop.png?v=1664200241">
                    </div>
                    <div class="absolute--wrapper center-align position-absolute ">
                        <h3 class="title-h3 color-white gotham">Silenciosa</h3>
                    </div>
                </div>
                <div class="column flex-container-column">
                    <div class="position-relative">
                        <div class="image-wrapper image-overlay">
                            <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/usable-day-night-desktop.png?v=1664200277">
                        </div>
                        <div class="absolute--wrapper center-align position-absolute text-center width-100">
                            <h3 class="color-white gotham custom-font">Uso de día y de noche</h3>
                        </div>
                    </div>
                    <div class="position-relative">
                        <div class="image-wrapper image-overlay">
                            <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/safe-desktop.png?v=1664200277">
                        </div>
                        <div class="absolute--wrapper position-absolute custom-position">
                            <h3 class="title-h3 color-white gotham">Segura</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-product-container">
            <div class="heading--wrapper text-center products--heading">
                <h2 class="title-h2 color-black gotham-bold">Generador Solar y Placas Solares Para Balcones</h2>
            </div>

            <div class="flex-product-container">
                <div class="product--wrapper">
                    <div class="product-heading--wrapper text-center">
                        <h5 class="title-h5 color-black gotham">DELTA Max 1600 + Panel Solar de 220W</h5>
                    </div>
                    <div class="button-wrapper">
                        <a class="color-black" href="https://es.ecoflow.com/products/delta-max-solar-generator-220w-solar-panel?variant=43081437642974">Comprar Ahora</a>
                    </div>
                    <div class="product-image--wrapper">
                        <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/delta-max-1600-220.png?v=1664260991">
                    </div>
                </div>
                <div class="product--wrapper">
                    <div class="product-heading--wrapper text-center">
                        <h5 class="title-h5 color-black gotham">DELTA Max 2000 + Panel Solar de 400W</h5>
                    </div>
                    <div class="button-wrapper">
                        <a class="color-black" href="https://es.ecoflow.com/products/delta-max-solar-generator-400w-portable-solar-panel?variant=43081419194590">Comprar Ahora</a>
                    </div>
                    <div class="product-image--wrapper text-center">
                        <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/delta-max-2000-400.png?v=1664260991">
                    </div>
                </div>
            </div>
            <div class="flex-product-container">
                <div class="product--wrapper">
                    <div class="product-heading--wrapper text-center">
                        <h5 class="title-h5 color-black gotham">DELTA 2 + 2 X Panel Solar de 220W</h5>
                    </div>
                    <div class="button-wrapper">
                        <a class="color-black" href="https://es.ecoflow.com/products/delta-2-220w-portable-solar-panel?variant=43293121773790">Comprar Ahora</a>
                    </div>
                    <div class="product-image--wrapper">
                        <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/delta-2-220w.png?v=1664260991">
                    </div>
                </div>
                <div class="product--wrapper">
                    <div class="product-heading--wrapper text-center">
                        <h5 class="title-h5 color-black gotham">DELTA Pro + Panel Solar de 400W</h5>
                    </div>
                    <div class="button-wrapper">
                        <a class="color-black" href="https://es.ecoflow.com/products/delta-pro-solar-generator-400w-portable-solar-panel?variant=43081448030430">Comprar Ahora</a>
                    </div>
                    <div class="product-image--wrapper">
                        <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/delta-pro-400.png?v=1664260991">
                    </div>
                </div>
            </div>
        </div>

        <div class="section-container">
            <div class="heading--wrapper text-center products--heading">
                <h2 class="title-h2 color-black gotham-bold">¿Cómo funciona una estación de energía con almacenamiento para balcones?</h2>
            </div>
            <div class="description--wrapper text-center">
                <p class="description--primary color-black gotham">Las estaciones de energía para balcones de EcoFlow convierten la luz solar en corriente continua y actúan como un sistema de energía solar en su balcón. Esta corriente continua se almacena en el generador, donde se convierte en corriente alterna cuando sus dispositivos requieren de energía. Es así de simple. No necesita confusos convertidores, adaptadores o dispositivos eléctricos similares.</p>
            </div>
        </div>

        <div class="banner--section">
            <div class="balcony--banner hide_mobile">
                <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/banner-desktop.png?v=1664266347">
            </div>
            <div class="balcony--banner-mobile show_mobile">
                    <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/banner-mobile.png?v=1664266319">
            </div>
        </div>
    </div>
    <div class="balcony-solar-generator-dark">
        <div class="section-container-dark">
            <div class="heading--wrapper text-center products--heading">
                <h2 class="title-h2 color-blue gotham-bold">Ahorro de energía</h2>
            </div>
            <div class="description--wrapper text-center">
                <p class="description--primary color-white gotham">Nuestros generadores solares para balcones almacenan energía como un mini sistema de energía solar, en cualquier lugar y en cualquier momento. Ya no tiene que perder el tiempo cargando cuando necesite energía; ahora es posible planificar con anticipación, ser independiente de los sistemas de energía tradicionales y alimentar su hogar las 24 horas del día, los 7 días de la semana.</p>
            </div>
        </div>

        <div class="section-container-dark">
            <div class="heading--wrapper text-center products--heading">
                <h4 class="title-h4 color-blue gotham-bold">Alimentación de aparatos de casa</h4>
            </div>
            <div class="description--wrapper text-center">
                <p class="description--primary color-white gotham">Encienda dispositivos de alta potencia ​​y electrodomésticos cotidianos, como un calentador eléctrico, un frigorífico, un horno eléctrico, un aire acondicionado, luces de casa, así como cualquier otro dispositivo electrónico.</p>
            </div>
            <div class="grid-container">
                <div class="content--wrapper">
                    <div class="content-item--wrapper">
                        <div class="image-wrapper--appliance">
                            <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/Light_8a93a196-5294-45ad-85f1-b6a87b432019.png?v=1664330386" alt="">
                        </div>
                        <div class="description--wrapper text-center">
                            <p class="description--secondary color-white gotham">Luz</p>
                        </div>
                    </div>
                    <div class="content-item--wrapper">
                        <div class="image-wrapper--appliance">
                            <img src="https://cdn.shopify.com/s/files/1/0622/6758/8855/files/Group_11452.png?v=1664853707" alt="">
                        </div>
                        <div class="description--wrapper text-center">
                            <p class="description--secondary color-white gotham">Calentador eléctrico</p>
                        </div>
                    </div>
                    <div class="content-item--wrapper">
                        <div class="image-wrapper--appliance">
                            <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/TV_5bf89625-6fa2-4334-9e14-f4c8cb246e4d.png?v=1664330386" alt="">
                        </div>
                        <div class="description--wrapper text-center">
                            <p class="description--secondary color-white gotham">TV</p>
                        </div>
                    </div>
                    <div class="content-item--wrapper">
                        <div class="image-wrapper--appliance">
                            <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/Coffee_Maker.png?v=1664330386" alt="">
                        </div>
                        <div class="description--wrapper text-center">
                            <p class="description--secondary color-white gotham">Cafetera</p>
                        </div>
                    </div>
                    <div class="content-item--wrapper">
                        <div class="image-wrapper--appliance">
                            <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/Laptop.png?v=1664330386" alt="">
                        </div>
                        <div class="description--wrapper text-center">
                            <p class="description--secondary color-white gotham">Ordenador Portátil</p>
                        </div>
                    </div>
                    <div class="content-item--wrapper">
                        <div class="image-wrapper--appliance">
                            <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/Hair_Dryer.png?v=1664330387" alt="">
                        </div>
                        <div class="description--wrapper text-center">
                            <p class="description--secondary color-white gotham">Secador De Pelo</p>
                        </div>
                    </div>
                    <div class="content-item--wrapper">
                        <div class="image-wrapper--appliance">
                            <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/Refrigerator.png?v=1664330387" alt="">
                        </div>
                        <div class="description--wrapper text-center">
                            <p class="description--secondary color-white gotham">Frigorifico</p>
                        </div>
                    </div>
                    <div class="content-item--wrapper">
                        <div class="image-wrapper--appliance">
                            <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/Wi-Fi_Router.png?v=1664330386" alt="">
                        </div>
                        <div class="description--wrapper text-center">
                            <p class="description--secondary color-white gotham">Router de Wi-Fi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-container-dark">
            <div class="heading--wrapper text-center products--heading">
                <h4 class="title-h4 color-blue gotham-bold">Ahorro De Costos</h4>
            </div>
            <div class="description--wrapper text-center">
                <p class="description--primary color-white gotham">Olvídese de la temida factura de luz a final de mes. Esta estación de energía le permite ahorrar energía al generarla para usted. Con un único panel solar de 110 W, ahorre hasta 115,5 kWh, más que suficiente para alimentar una aspiradora durante un total de 72 horas durante un año completo. Sea aún más independiente, con la mayor capacidad de absorción, un solo panel solar de 400 W puede ahorrar hasta 420 kWh, suficiente para alimentar por un mes, un horno de microondas durante 11 horas, una lavadora durante 17 horas o un ventilador de techo durante 150 horas.</p>
            </div>
        </div>
        <div class="section-container-table">
            <table class="cost-saving-table">
                <thead class="table-head">
                    <tr class="color-white text-center gotham-bold table-heading--container">
                        <th class="sticky-col-mob">Panel Solar</th>
                        <th class="text-center">Largo (mm)</th>
                        <th class="text-center">Ancho (mm)</th>
                        <th class="text-center">Alto (mm)</th>
                        <th class="text-center">Ahorro energético<br>(1 año)</th>
                        </tr>
                </thead>
                <tbody>
                    <tr class="color-white text-center gotham-bold">
                    <td class="sticky-col-mob"><span class="color-blue">110W</span><br><span class="hide_mobile">Panel Solar</span></td>
                    <td class="text-center">1785</td>
                    <td class="text-center">420</td>
                    <td class="text-center">25</td>
                    <td class="text-center">115.5kWh</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="color-white text-center gotham-bold">
                    <td class="sticky-col-mob"><span class="color-blue">160W</span><br><span class="hide_mobile">Panel Solar</span></td>
                    <td class="text-center">1590</td>
                    <td class="text-center">685</td>
                    <td class="text-center">25</td>
                    <td class="text-center">168kWh</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="color-white text-center gotham-bold">
                    <td class="sticky-col-mob"><span class="color-blue">220W</span><br><span class="hide_mobile">Panel Solar</span></td>
                    <td class="text-center">820</td>
                    <td class="text-center">500</td>
                    <td class="text-center">32</td>
                    <td class="text-center">247.5kWh</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="color-white text-center gotham-bold">
                    <td class="sticky-col-mob"><span class="color-blue">400W</span><br><span class="hide_mobile">Panel Solar</span></td>
                    <td class="text-center">2365</td>
                    <td class="text-center">1058</td>
                    <td class="text-center">25</td>
                    <td class="text-center">420kWh</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section-product-container">
            <div class="heading--wrapper text-center products--heading">
                <h2 class="title-h2 color-blue gotham-bold">Libertad energética</h2>
            </div>

            <div class="flex-product-details-container reverse-column-mobile">
                <div class="flex-product--wrapper">
                    <div class="products--heading">
                        <h4 class="title-h4 color-blue gotham-bold">Configuración sencilla</h4>
                    </div>
                    <div class="product-description--wrapper">
                        <p class="description--tertiary color-white gotham">No solo es capaz de almacenar energía, sino que también puede acceder a ella y usarla cuando la necesite. Simplemente conecte sus electrodomésticos a placas solares para balcones de EcoFlow y disfrute de paz y tranquilidad en el momento.</p>
                    </div>
                </div>
                <div class="flex-product--wrapper">
                    <div class="product-image--wrapper text-center">
                        <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/smooth-setup.png?v=1664348507">
                    </div>
                </div>
            </div>

            <div class="flex-product-details-container">
                <div class="flex-product--wrapper">
                    <div class="product-image--wrapper-flex text-center">
                        <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/emergency-backups.png?v=1664348603">
                    </div>
                </div>
                <div class="flex-product--wrapper">
                    <div class="products--heading">
                        <h4 class="title-h4 color-blue gotham-bold">Energía de emergencia desde una estación de energía con almacenamiento para balcones</h4>
                    </div>
                    <div class="product-description--wrapper">
                        <p class="description--tertiary color-white gotham">Es tan fácil como enchufar el generador y comenzar a usarlo. No necesita un enchufe extra en su balcón, ni tiene que preocuparse por el ruido. Nuestro juego completo de generador solar para balcones EcoFlow funciona como un sistema de autoconsumo fotovoltaico, casi en silencio y le brinda total tranquilidad en las situaciones en las que necesita ayuda.</p>
                    </div>
                </div>
            </div>

            <div class="flex-product-details-container reverse-column-mobile">
                <div class="flex-product--wrapper">
                    <div class="products--heading">
                        <h4 class="title-h4 color-blue gotham-bold">Menor dependencia de la red eléctrica </h4>
                    </div>
                    <div class="product-description--wrapper">
                        <p class="description--tertiary color-white gotham">Disfrute de la libertad que una estación de energía para balcones puede brindarle a un hogar utilizando únicamente luz solar. Olvídese de las facturas mensuales de electricidad y permita que su estilo de vida dependa menos de la red eléctrica. Su sencilla y amigable instalación permite el aprovechamiento de energía desde la accesibilidad de un balcón.</p>
                    </div>
                </div>
                <div class="flex-product--wrapper">
                    <div class="product-image--wrapper-flex text-center">
                        <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/DSC02643.png?v=1665555609">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="balcony-solar-generator balcony-solar-generator-slider">
        <div class="section-container">
            <div class="heading--wrapper text-center products--heading">
                <h2 class="title-h2 color-black gotham-bold">¿Quiere saber más?</h2>
            </div>
            <div class="description--wrapper text-center">
                <p class="description--primary color-black gotham">Si está buscando reducir su dependencia de la red eléctrica o almacenar energía, tenemos todas sus necesidades cubiertas en una guía paso a paso sobre estaciones de energía y placas solares para balcones.</p>
            </div>
        </div>
        <div class="section-container-slider">
            <div class="button--wrapper text-center products--button">
                <a href="https://blog.ecoflow.com/es" aria-describedby="a11y-external-message" target="_blank" rel="noreferrer noopener">VER NUESTRO BLOG >></a>
            </div>
            <div class="balcony-slider hide_mobile">
                <div class="balcony-slide-content">
                    <a href="https://blog.ecoflow.com/es/placas-solares-para-balcones/">
                        <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/Mask_Group_17.png?v=1665556359" alt="">
                    </a>
                </div>
                <div class="balcony-slide-content">
                    <a href="https://blog.ecoflow.com/es/placas-solar-para-balcon-600w/">
                        <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/2-balcony-slide.png?v=1664423231" alt="">
                    </a>
                </div>
                <div class="balcony-slide-content">
                    <a href="https://blog.ecoflow.com/es/rendimiento-placas-solares-en-un-balcon/">
                        <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/3-balcony-slide.png?v=1664423231" alt="">
                    </a>
                </div>
            </div>
            <div class="balcony-slider-mobile show_mobile">
                <div class="balcony-slide-content">
                    <a href="https://blog.ecoflow.com/es/placas-solares-para-balcones/">
                        <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/Mask_Group_53.png?v=1665561391" alt="">
                    </a>
                </div>
                <div class="balcony-slide-content">
                    <a href="https://blog.ecoflow.com/es/placas-solar-para-balcon-600w/">
                        <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/2-balcony-slide-mobile.png?v=1664455927" alt="">
                    </a>
                </div>
                <div class="balcony-slide-content">
                    <a href="https://blog.ecoflow.com/es/rendimiento-placas-solares-en-un-balcon/">
                        <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/3-balcony-slide-mobile.png?v=1664455928" alt="">
                    </a>
                </div>
            </div>
        </div>


        <div class="section-container faq-section">
            <div class="heading--wrapper text-center products--heading">
                <h2 class="title-h2 color-black gotham-bold">PREGUNTAS FRECUENTES</h2>
            </div>
            <div class="show-me">
                <div class="question">
                  <div class="question-container question-container-flex opened">
                    <h3 class="question--primary gotham-bold pr">¿Cuál es la diferencia entre una estación de energía para balcones EcoFlow y un sistema fotovoltaico normal para balcones? </h3>
                    <img class="plus" src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/1564491_add_create_new_plus_icon_25afaa83-cae1-4222-a9f6-0bec1a51f7ed.png?v=1664510477" width="25" height="25">
                    <img class="minus active" src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/8665210_circle_minus_icon_d3c46796-d708-4154-ab97-9653883899ad.png?v=1664510492" width="25" height="25">
                  </div>
                  <div class="des gotham" style="display: block;">
                    <p>La configuración de la estación de energía para balcones portátil EcoFlow incluye la capacidad de almacenar la energía que no necesite para su uso posterior. Así que, si quiere prepararse para una emergencia o almacenar energía con anticipación, puede hacerlo sin generar un exceso que se desperdicie como sucede con los sistemas tradicionales. En este caso, una estación de energía para balcones es perfecta para usted.</p>
                  </div>
                </div>
                <div class="question">
                  <div class="question-container question-container-flex">
                    <h3 class="question--primary gotham-bold pr">¿Qué se puede alimentar con una estación de energía para balcones EcoFlow?</h3>
                    <img class="plus active" src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/1564491_add_create_new_plus_icon_25afaa83-cae1-4222-a9f6-0bec1a51f7ed.png?v=1664510477" width="25" height="25">
                    <img class="minus" src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/8665210_circle_minus_icon_d3c46796-d708-4154-ab97-9653883899ad.png?v=1664510492" width="25" height="25">
                  </div>
                  <div class="des gotham" style="display: none;">
                    <p>DELTA Max 1600 puede alimentar muchos de sus electrodomésticos, incluyendo cargar un teléfono hasta 140 veces, un refrigerador hasta 22 horas o un microondas por más de una hora. Agregue un panel solar de 400W a su configuración para cargar completamente el DELTA Max 1600 con luz solar en un tiempo de 6 a 12 horas. Dependiendo de cuánto tiempo desee mantener sus dispositivos alimentados, existe un generador solar para balcones EcoFlow que se adapta a sus necesidades específicas.</p>
                  </div>
                </div>
                <div class="question">
                  <div class="question-container question-container-flex">
                    <h3 class="question--primary gotham-bold pr">¿Son seguros los generadores solares para balcones EcoFlow?</h3>
                    <img class="plus active" src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/1564491_add_create_new_plus_icon_25afaa83-cae1-4222-a9f6-0bec1a51f7ed.png?v=1664510477" width="25" height="25">
                    <img class="minus" src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/8665210_circle_minus_icon_d3c46796-d708-4154-ab97-9653883899ad.png?v=1664510492" width="25" height="25">
                  </div>
                  <div class="des gotham" style="display: none;">
                    <p>Nuestras estaciones de energía portátiles líderes en la industria cuentan con un sistema avanzado de administración de batería que regula el voltaje, la temperatura y la corriente en tiempo real. Esto significa que es una batería fiable y segura, que podrá usar durante años.</p>
                  </div>
                </div>
                <div class="question">
                  <div class="question-container question-container-flex">
                    <h3 class="question--primary gotham-bold pr">Qué estación eléctrica EcoFlow para balcones es mejor para mí?</h3>
                    <img class="plus active" src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/1564491_add_create_new_plus_icon_25afaa83-cae1-4222-a9f6-0bec1a51f7ed.png?v=1664510477" width="25" height="25">
                    <img class="minus" src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/8665210_circle_minus_icon_d3c46796-d708-4154-ab97-9653883899ad.png?v=1664510492" width="25" height="25">
                  </div>
                  <div class="des gotham" style="display: none;">
                    <p>Esto depende de algunos factores, entre otros, el tamaño, la portabilidad, la capacidad de la batería y la exposición al sol. Si está buscando un sistema fiable, tal vez para emergencias o incluso para reducir su dependencia de la red, el panel solar DELTA Max 1600 + 400W ofrece una enorme capacidad de 1612Wh. El panel solar DELTA Max 1600 + 400W actúa como un mini sistema fotovoltaico, incluyendo el almacenamiento de una batería fotovoltaica. Puede encontrar más opciones aquí.</p>
                  </div>
                </div>
              </div>
        </div>

    </div>

</div>
<script>
    $('.solar-generator-slider').slick({
        dots: true,
        infinite: false,
        speed: 300,
        slidesToShow: 1,
        adaptiveHeight: false,
        arrows : false
    });

    $('.balcony-slider').slick({
    dots: true,
    infinite: true,
    centerMode: true,
    speed: 500,
    dots: true,
    adaptiveHeight: false,
    variableWidth: true
    });

    $('.balcony-slider-mobile').slick({
        mobileFirst: true,
        dots: true,
        adaptiveHeight: true,
        arrows: false
    });
</script>
{{ 'custom.js' | asset_url | script_tag }}
