<style>
  #form-watermark-edit-on-click {
      display: none !important;
  }
</style>
{{ 'custom.css' | asset_url | stylesheet_tag }}
{{ 'custom-portable-314-station.css' | asset_url | stylesheet_tag }}
{{ 'swiper.min.css' | asset_url | stylesheet_tag }}
{{ 'jquery.min.js' | asset_url | stylesheet_tag }}
<div class="custom portable-314-stations">
  <div class="banner pr"><img src="https://cdn.shopify.com/s/files/1/1996/9707/files/1earth.jpg?v=1649511407"
          alt="EcoFlowポータブル電源" class="overlay-img custom_mobile_hidden"><img
          src="https://cdn.shopify.com/s/files/1/1996/9707/files/422.jpg?v=1649512794" alt="EcoFlowポータブル電源"
          class="overlay-img custom_mobile_show">
      <div class="text pa pa1 tc w100">
          <h2 class="title-h1 color-white nb">Sé parte del cambio.</h2>
      </div>
  </div>
  <div class=" section-9 section-6 section-v max1600">
      <div class="d-t-c">
          <div class="d-t-cpr pr">
              <h2 class="title-h3 tc tlm nmtp">El clima está cambiando.<br>Y, CON ÉL, TAMBIÉN LA TECNOLOGÍA.<img
                      src="https://cdn.shopify.com/s/files/1/1996/9707/files/4707.png?v=1649566092"></h2>
          </div>
          <div class="des">La energía renovable necesita encontrar su lugar. Las baterías te permiten disponer de energía almacenada lista para usarse aun cuando no haya sol ni viento y la red esté caída. Nuestra meta con las estaciones de energía portátiles EcoFlow es la de llevar almacenamiento de energía renovable a cualquier hogar, autocaravana y camping.</div>
      </div>
      <div class="m-t-c tc">
          <div class="video-container"><iframe width="100%" height="100%" class="elementor-video-iframe"
                  src="https://www.youtube.com/embed/eUJZ_SvtiS8?autoplay=0" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe></div>
      </div>
  </div>
  <div class="c-h2">
      <div class=" section-10 max660 max-mb">
          <div>
              <h2 class="title-h2">Hay un motivo de que se denomine</h2>
              <h3 class="title-h3">combustible fósil</h3>
              <div class="des">A diferencia de los generadores de gas tradicionales que funcionan con combustible, los generadores solares aprovechan la energía limpia del sol sin ningún ruido ni humo. Ya no tendrás que preocuparte de transportar combustible o de tener que disponer de opciones de almacenamiento adicionales. Todo esto ha quedado atrás.</div>
          </div>
      </div>
  </div>
  <div class=" section-11 max-mb">
      <div>
          <h2 class="title-h2">Las baterías<br>ofrecen mejores resultados.</h2><img
              src="https://cdn.shopify.com/s/files/1/1996/9707/files/76_0187c729-bfee-45cc-84d0-74170bf5538f.jpg?v=1649572526">
          <div class="des">Con la energía de la naturaleza, son silenciosas, limpias y respetuosas con el medio ambiente. Sustituye tu generador de gas o combustible por tecnología pensada para una vida sostenible. Con una gran cantidad de puertos, ofrecen suficiente energía para incluso tus dispositivos de mayor envergadura.</div>
      </div>
  </div>
  <div class="section-5 max1900 ">
      <div class="text">
          <h2 class="title-h2r"><img class="yinghano"
                  src="https://cdn.shopify.com/s/files/1/1996/9707/files/1_1f95f734-2841-492f-a751-7a2e3d69061e.png?v=1649644376">Ofrecemos a los consumidores algo más que un simple equipo. Incorporamos más productos a nuestro ecosistema de soluciones energéticas EcoFlow con el objetivo de fomentar un estilo de vida con emisiones neutras que puedan practicar todas las personas y hogares en su día a día.<img class="yinghano1"
                  src="https://cdn.shopify.com/s/files/1/1996/9707/files/1_1f95f734-2841-492f-a751-7a2e3d69061e.png?v=1649644376">
          </h2>
      </div>
      <div class="m-container">
          <p>Bruce Wang</p>
          <p class="xiao-t">CEO, Ecoflow</p>
      </div>
  </div>
  <div class="c-h2">
      <div class=" section-10 max660 max-mb">
          <div>
              <h2 class="title-h2">FINALLY.</h2>
              <h3 class="title-h3">Tecnología pensada<br>para no averiarse.</h3>
              <div class="des">La tecnología de hoy en día está pensada para averiarse, el desperdicio de equipos electrónicos ha alcanzado máximos históricos de<a target="_blank"
                      href="https://www.statista.com/topics/3409/electronic-waste-worldwide/#:~:text=The%20rapid%20growth%20of%20E,of%20e%2Dwaste%20per%20capita.">más de 50 millones de toneladas métricas al año.</a>Nosotros estamos en contra de esto. Con la transición hacia las baterías LFP (las que duran una eternidad), y gracias a un diseño interno minucioso y una producción con que consume menos materiales, EcoFlow desarrolla baterías que ayudan a cambiar las cosas.</div>
          </div>
      </div>
      <div class="section-swiper">
          <div class="swiper-container custom_mobile_hidden">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <div class="item-b item-b1">
                          <div class="item-c">
                              <div class="des-3 w1">VIDA ÚTIL<br>DE LA BATERÍA DE TU TELÉFONO</div>
                              <div class="t-8 w mbot">300</div><img
                                  src="https://cdn.shopify.com/s/files/1/1996/9707/files/cceab8510988225cad7ac88dee1c957d.jpg?v=1649688774">
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="item-b item-b2">
                          <div class="item-c">
                              <div class="des-3">VIDA ÚTIL<br>DE LA BATERÍA DELTA PRO</div><img class="w-img"
                                  src="https://cdn.shopify.com/s/files/1/1996/9707/files/1_1_c8d9950e-ce30-4a1a-9cb2-8e4aab69d58d.jpg?v=1649688774">
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="item-b item-b2">
                          <div class="item-c">
                              <div class="des-3">TOUGH.</div>
                              <div class="t-8 t8-1">DURABLE.</div>
                              <div class="des-3">INSIDES.</div><img class="w-img1"
                                  src="https://cdn.shopify.com/s/files/1/1996/9707/files/411.jpg?v=1649688774">
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="item-b item-b2">
                          <div class="item-c">
                              <div class="des-3">SIN TAMAÑOS ABULTADOS.</div>
                              <div class="t-8">LESS</div>
                              <div class="t-9">MATERIALS<br>USED.</div><img
                                  src="https://cdn.shopify.com/s/files/1/1996/9707/files/4724.jpg?v=1649688774">
                          </div>
                      </div>
                  </div>
              </div><!-- Add Arrows -->
              <div class="swiper-button-next custom_mobile_hidden"></div>
              <div class="swiper-button-prev custom_mobile_hidden"></div>
          </div>
      </div>
      <div class="s-m-b custom_mobile_show">
          <div class="item-b item-b1">
              <div class="item-c">
                  <div class="des-3 w1">VIDA ÚTIL<br>DE LA BATERÍA DE TU TELÉFONO</div>
                  <div class="t-8 w mbot">300</div><img
                      src="https://cdn.shopify.com/s/files/1/1996/9707/files/cceab8510988225cad7ac88dee1c957d.jpg?v=1649688774">
              </div>
          </div>
          <div class="item-b item-b2">
              <div class="item-c">
                  <div class="des-3">
                      VIDA ÚTIL<br>DE LA BATERÍA DELTA PRO
                  </div><img class="w-img"
                      src="https://cdn.shopify.com/s/files/1/1996/9707/files/1_1_c8d9950e-ce30-4a1a-9cb2-8e4aab69d58d.jpg?v=1649688774">
              </div>
          </div>
          <div class="item-b item-b2">
              <div class="item-c">
                  <div class="des-3">TOUGH.</div>
                  <div class="t-8 t8-1">DURABLE.</div>
                  <div class="des-3">INSIDES.</div><img class="w-img1"
                      src="https://cdn.shopify.com/s/files/1/1996/9707/files/411.jpg?v=1649688774">
              </div>
          </div>
          <div class="item-b item-b2">
              <div class="item-c">
                  <div class="des-3">SIN TAMAÑOS ABULTADOS.</div>
                  <div class="t-8">LESS</div>
                  <div class="t-9">MATERIALS<br>USED.</div><img src="https://cdn.shopify.com/s/files/1/1996/9707/files/4724.jpg?v=1649688774">
              </div>
          </div>
      </div>

      {{ 'swiper.min.js' | asset_url | script_tag }}
      <!-- Initialize Swiper -->
      <script>
          var wpage = document.body.clientWidth;
          wpages = "auto";
          spaceb = 12;
          if (wpage > 767) {
              wpages = 3;
              spaceb = 30;
          }
          if (wpage < 767) {
              $("#clear-mb").remove();
          }
          var swiper = new Swiper('.swiper-container', {
              slidesPerView: wpages,
              spaceBetween: spaceb,
              centeredSlides: !0,
              loop: !0,
              autoplay: {
                  delay: 2000,
                  disableOnInteraction: false,
              },
              navigation: {
                  nextEl: '.swiper-button-next',
                  prevEl: '.swiper-button-prev',
              },
          });



      </script>
      <div class=" section-19 section-11 max-mb">
          <div>
              <h2 class="title-h2">Sé parte del cambio.</h2>
              <h3 class="title-h3">Tu hogar es<br>tu santuario.</h3>
              <div class="l-c">
                  <div class="des">La energía solar y las baterías son solo el principio. Con el ecosistema de Smart Home de DELTA Pro, puedes convertir tu hogar en una fuente de energía renovable y reducir tu dependencia de la red.<div
                          class="lr-m-c"><a target="_blank"
                              href="https://es.ecoflow.com/pages/smart-home-ecosystem">Más información</a></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="c-img"><img class="custom_mobile_hidden"
              src="https://cdn.shopify.com/s/files/1/1996/9707/files/416_b170cdf7-52e0-4816-8916-2c8ff643630b.jpg?v=1649816258">
      </div>
      <div class="c-img"><img class="custom_mobile_show"
              src="https://cdn.shopify.com/s/files/1/1996/9707/files/419_8a883e1a-432a-42ce-b87b-070405287660.jpg?v=1649816170">
      </div>
  </div>
  <div class=" section-19 section-20 section-11 max-mb pr">
      <div>
          <h2 class="title-h2">Energía en<br>cualquier lugar.</h2>
          <div class="l-c">
              <div class="des">Las estaciones de energía portátiles EcoFlow están disponibles en prácticamente cualquier tamaño que necesites. Desde pequeñas unidades para uso en exteriores a soluciones de gran envergadura para tu hogar al completo. Combina con paneles solares portátiles y da el paso a la energía ecológica hoy mismo.<div class="lr-m-c"><a target="_blank"
                          href="https://es.ecoflow.com/pages/portable-power-stations">Más información</a></div>
              </div>
          </div><img class="" src="https://cdn.shopify.com/s/files/1/1996/9707/files/413.jpg?v=1649666905">
      </div>
  </div>

      <div class="powr-contact-form" id="d286b0e9_1648191194"></div>
      <script src="https://www.powr.io/powr.js?platform=shopify"></script>

</div>
<script>
  $(function () {
      $(".show-me-button").click(function () {
          $(this).next(".show-me").slideToggle("slow"),
              $(this).children(".iconfont").hasClass("icon-jiahao") ? ($(this).children(".iconfont").removeClass("icon-jiahao"),
                  $(this).children(".iconfont").addClass("icon-jianhao")) : $(this).children(".iconfont").hasClass("icon-jianhao") && ($(this).children(".iconfont").removeClass("icon-jianhao"),
                      $(this).children(".iconfont").addClass("icon-jiahao"))
      })


  });


</script>