{{ 'jquery.min.js' | asset_url | script_tag }}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"
></script>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
  integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
  crossorigin="anonymous"
>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
>

<script
  src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"
  defer
></script>

{{ 'es-balcony-solar-generator.css' | asset_url | stylesheet_tag }}
{{ 'es-balcony-solar-generator-custom.css' | asset_url | stylesheet_tag }}

<div class="balcony-solar-generator-page">
  <div class="balcony-solar-generator">
    {% section 'balcony-solar-banner' %}

    <div id="second-section" class="section-container custom-second-section">
      <img src="https://cdn.shopify.com/s/files/1/0622/6758/8855/files/D2_DM_EB_220W_SP_bundle_1_b1757fba-8651-4024-8b89-4e90a4c9652f.png?v=1681967029">
      <div class="custom-second-section-inner-text">
        EcoFlow combina los paneles solares con estaciones de energía portátiles, ofreciendo una forma conveniente de almacenar y utilizar la energía producida. En comparación con los generadores solares tradicionales para balcones, nuestra solución ofrece la posibilidad de almacenar la electricidad y utilizarla en cualquier momento.
        <a
          href="https://es.ecoflow.com/pages/powerstream"
          class="custom-second-section-cta"
        >
          Más Información
        </a>
      </div>
    </div>

    <div class="section-container">
      <div class="heading--wrapper text-center">
        <h2 class="title-h3-custom color-black gotham-bold">
          ¿Qué es un generador solar para balcón?
        </h2>
      </div>
      <div class="description--wrapper">
        <p class="description--primary color-black gotham p-max-width-center  text-center">
          El generador solar para balcón de EcoFlow le ofrece la posibilidad de obtener energía de forma autogenerada y almacenarla para su uso posterior. La innovadora tecnología de almacenamiento de esta solución le permite utilizar la energía durante la noche o durante un corte de electricidad hasta que el suministro se restaure.
        </p>

        <p class="description--primary color-black gotham p-max-width-center  text-center">
          Combinando sus placas solares con una estación de energía portátil con microinversor PowerStream, podrá conectarse de forma simultánea a su placa solar y a la red eléctrica. Esto le permitirá alimentar sus dispositivos o cargar su estación de energía con la electricidad autogenerada, o bien inyectarla a red eléctrica, dependiendo de lo que resulte más económico en cada momento.
        </p>
      </div>
    </div>

    <div class="desktop-only">
      <div class="flex-section-container" style="padding-top: 0;">
        <div class="flex-container">
          <div class="column position-relative">
            <div class="image-wrapper">
              <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/frame-1_45950677-d115-43b5-9c9d-8b14d513e175.png?v=1684837576">
            </div>
            <div
              class="absolute--wrapper left-align position-absolute "
              style="display: none;"
            >
              <h3 class="title-h3-custom color-white gotham">Ahorro de costes 
              energéticos</h3>
            </div>
          </div>
          <div class="column position-relative">
            <div class="image-wrapper">
              <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/frame-2_c9bd03d3-b17c-4b2b-97e3-d263cab79dd4.png?v=1684837575">
            </div>
            <div
              class="absolute--wrapper center-align position-absolute text-center width-100"
              style="display: none;"
            >
              <h3 class="title-h3-custom color-black gotham">
                Fácil de instalar
              </h3>
            </div>
          </div>
        </div>
        <div class="flex-container">
          <div class="column flex-container-column">
            <div class="flex-container">
              <div class="column flex-container-column">
                <div class="flex-container image-wrapper">
                  <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/frame-3_f0e5e499-2a86-4374-ade0-b16109d7bd40.png?v=1684837574">
                </div>
                <div
                  class="absolute--wrapper center-align position-absolute "
                  style="display: none;"
                >
                  <h3 class="title-h3-custom color-black gotham">Segura</h3>
                </div>
              </div>
              <div class="column flex-container-column">
                <div class="flex-container image-wrapper">
                  <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/frame-4_19666d63-ad15-4b41-a11e-2867a2ce660a.png?v=1684837575">
                </div>
                <div
                  class="absolute--wrapper center-align position-absolute "
                  style="display: none;"
                >
                  <h3 class="title-h3-custom color-white gotham">Uso de día y de noche</h3>
                </div>
              </div>
            </div>
            <div class="column flex-container-column">
              <div class="column flex-container-column">
                <div class="flex-container image-wrapper">
                  <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/frame-5_998e7998-3308-4c0e-b105-568fab06cc3a.png?v=1684837575">
                </div>
                <div
                  class="absolute--wrapper center-align position-absolute "
                  style="display: none;"
                >
                  <h3 class="title-h3-custom color-white gotham">Potente</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="column flex-container-column">
            <div class="position-relative">
              <div class="image-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/frame-6_ade37e5e-90e1-4336-b19f-560a54ff9d6e.png?v=1684837576">
              </div>
              <div
                class="absolute--wrapper center-align position-absolute text-center width-100"
                style="display: none;"
              >
                <h3 class="color-white gotham custom-font">
                  Silenciosa
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-only">
      <div class="swiper swiper-1 section-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="column position-relative">
              <div class="image-wrapper">
                <img
                  src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/frame-1-mobile.png?v=1684837575"
                  alt="Ahorro de costes 
                  energéticos"
                >
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="flex-container column position-relative">
              <div class="flex-container image-wrapper">
                <img
                  src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/frame-2-mobile.png?v=1684837574"
                  alt="Fácil de instalar"
                >
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="flex-container column position-relative">
              <div class="flex-container image-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/frame-3-mobile.png?v=1684837575" alt="Segura">
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="column position-relative">
              <div class="image-wrapper">
                <img
                  src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/frame-4-mobile.png?v=1684837575"
                  alt="Uso de día y de noche"
                >
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="position-relative">
              <div class="image-wrapper">
                <img
                  src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/frame-5-mobile.png?v=1684837575"
                  alt="Potente"
                >
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="position-relative">
              <div class="image-wrapper">
                <img
                  src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/frame-6-mobile.png?v=1684837575"
                  alt="Silenciosa"
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-product-container">
      <div class="heading--wrapper text-center products--heading">
        <h2 class="title-h3-custom color-black gotham-bold">
          Generador solar para balcón
        </h2>
      </div>

      <div class="swiper swiper-2 product-showcase-swiper section-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="product-title-wrapper">
              <h5 class="color-black gotham-bold ">
                DELTA Max 1600 + Panel Solar de 220W
              </h5>
              <div class="custom-price-wrapper">
                <div class="custom-price">
                  {% assign product_handle = 'delta-max-220w-portable-solar-panel' %}
                  {% assign variant_id = 43081437642974 %}
                  {% assign product = all_products[product_handle] %}

                  {% for variant in product.variants %}
                    {% if variant.id == variant_id %}
                      <span class="desktop-only">
                        {{ variant.price | money_with_currency }}
                      </span>
                      <span class="mobile-only">
                        {{ variant.price | money }}
                      </span>
                    {% endif %}
                  {% endfor %}
                </div>
                <a
                  class="color-blue"
                  href="https://es.ecoflow.com/products/delta-max-220w-portable-solar-panel?variant=43081437642974"
                >
                  Comprar Ahora >
                </a>
              </div>
            </div>

            <div class="product-image--wrapper">
              <a
                class="color-black"
                href="https://es.ecoflow.com/products/delta-max-220w-portable-solar-panel?variant=43081437642974"
                ><img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/delta-max-1600-220.png?v=1664260991"
              ></a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-title-wrapper">
              <h5 class="color-black gotham-bold ">
                DELTA Max 2000 + Panel Solar de 400W
              </h5>
              <div class="custom-price-wrapper">
                <div class="custom-price">
                  {% assign product_handle = 'delta-max-400w-portable-solar-panel' %}
                  {% assign variant_id = 43081419194590 %}
                  {% assign product = all_products[product_handle] %}

                  {% for variant in product.variants %}
                    {% if variant.id == variant_id %}
                      <span class="desktop-only">
                        {{ variant.price | money_with_currency }}
                      </span>
                      <span class="mobile-only">
                        {{ variant.price | money }}
                      </span>
                    {% endif %}
                  {% endfor %}
                </div>
                <a
                  class="color-blue"
                  href="https://es.ecoflow.com/products/delta-max-400w-portable-solar-panel?variant=43081419194590"
                >
                  Comprar Ahora >
                </a>
              </div>
            </div>

            <div class="product-image--wrapper">
              <a
                class="color-black"
                href="https://es.ecoflow.com/products/delta-max-400w-portable-solar-panel?variant=43081419194590"
                ><img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/delta-max-2000-400.png?v=1664260991"
              ></a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-title-wrapper">
              <h5 class="color-black gotham-bold ">
                DELTA 2 + 2 X Panel Solar de 220W
              </h5>
              <div class="custom-price-wrapper">
                <div class="custom-price">
                  {% assign product_handle = 'delta-2-220w-portable-solar-panel' %}
                  {% assign variant_id = 43293121773790 %}
                  {% assign product = all_products[product_handle] %}

                  {% for variant in product.variants %}
                    {% if variant.id == variant_id %}
                      <span class="desktop-only">
                        {{ variant.price | money_with_currency }}
                      </span>
                      <span class="mobile-only">
                        {{ variant.price | money }}
                      </span>
                    {% endif %}
                  {% endfor %}
                </div>
                <a
                  class="color-blue"
                  href="https://es.ecoflow.com/products/delta-2-220w-portable-solar-panel?variant=43293121806558"
                >
                  Comprar Ahora >
                </a>
              </div>
            </div>

            <div class="product-image--wrapper">
              <a
                class="color-black"
                href="https://es.ecoflow.com/products/delta-2-220w-portable-solar-panel?variant=43293121806558"
                ><img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/delta-2-220w.png?v=1664260991"
              ></a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-title-wrapper">
              <h5 class="color-black gotham-bold ">
                DELTA Pro + Panel Solar de 400W
              </h5>
              <div class="custom-price-wrapper">
                <div class="custom-price">
                  {% assign product_handle = 'delta-pro-400w-portable-solar-panel' %}
                  {% assign variant_id = 43081448030430 %}
                  {% assign product = all_products[product_handle] %}

                  {% for variant in product.variants %}
                    {% if variant.id == variant_id %}
                      <span class="desktop-only">
                        {{ variant.price | money_with_currency }}
                      </span>
                      <span class="mobile-only">
                        {{ variant.price | money }}
                      </span>
                    {% endif %}
                  {% endfor %}
                </div>
                <a
                  class="color-blue"
                  href="https://es.ecoflow.com/products/delta-pro-400w-portable-solar-panel?variant=43081448030430"
                >
                  Comprar Ahora >
                </a>
              </div>
            </div>

            <div class="product-image--wrapper">
              <a
                class="color-black"
                href="https://es.ecoflow.com/products/delta-pro-400w-portable-solar-panel?variant=43081448030430"
                ><img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/delta-pro-400.png?v=1664260991"
              ></a>
            </div>
          </div>
        </div>

        <div class="swiper-button-prev">
          <img src="https://cdn.shopify.com/s/files/1/0622/6758/8855/t/258/assets/arrow-left.png">
        </div>
        <div class="swiper-button-next">
          <img src="https://cdn.shopify.com/s/files/1/0622/6758/8855/t/258/assets/arrow-right.png">
        </div>
      </div>
    </div>

    <div class="section-container">
      <div class="heading--wrapper text-center products--heading p-max-width-center">
        <h2 class="title-h3-custom color-black gotham-bold">
          ¿Cómo funciona una estación de energía portátil para balcón?
        </h2>
      </div>
      <div class="description--wrapper">
        <p class="description--primary color-black gotham p-max-width-center  text-center">
          Nuestra placa solar convierte la luz solar en energía de corriente continua, y funciona como un sistema de energía solar en su propio balcón. La corriente continua se almacena en la estación de energía portátil, donde se convierte en corriente alterna, lista para ser utilizada. El funcionamiento es muy sencillo, sin necesidad de confusos convertidores o adaptadores. Además, el sistema PowerStream para balcones permite inyectar electricidad a la red mientras se carga la estación de energía.
        </p>
      </div>
    </div>

    <div class="banner--section section-container" style="padding-top: 0;">
      <div class="balcony--banner hide_mobile">
        <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/banner-desktop.png?v=1664266347">
      </div>
      <div class="balcony--banner-mobile show_mobile">
        <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/banner-mobile.png?v=1664266319">
      </div>
    </div>
  </div>
  <div class="balcony-solar-generator-dark">
    <div class="section-container-dark custom-grid">
      <div class="hide_mobile">
        {% comment %} Desktop image: {% endcomment %}
        <img src="https://cdn.shopify.com/s/files/1/0622/6758/8855/files/D2_DM_EB_220W_SP_bundle_1_1_03fa4562-ddaa-427f-85d5-78cad7316cf9.png?v=1681968890">
      </div>
      <div class="show_mobile" style="padding-bottom: 40px;">
        <img src="https://cdn.shopify.com/s/files/1/0622/6758/8855/files/Frame_2_13_ffe96a78-412f-4416-b7ec-b88bedc62e2e.png?v=1681968891">
      </div>
      <div>
        <div class="heading--wrapper products--heading">
          <h2 class="title-h3-custom color-blue gotham-bold text-m-center-d-left">
            Ahorro de energía
          </h2>
        </div>
        <div class="description--wrapper">
          <p class="description--primary color-white gotham text-m-center-d-left">
            Las placas solares, al combinarse con una estación de energía portátil, almacenan energía como un mini sistema de energía solar, en cualquier lugar y en cualquier momento. Ya no tendrá que perder el tiempo cargando cuando necesite energía; ahora es posible planificar con anticipación, ser independiente de los sistemas de energía tradicionales y alimentar su hogar las 24 horas del día, los 7 días de la semana
          </p>
        </div>
      </div>
    </div>

    <div class="section-container-dark">
      <div class="heading--wrapper products--heading">
        <h2 class="title-h3-custom color-blue gotham-bold text-center ">
          Alimentación de aparatos domésticos
        </h2>
      </div>
      <div class="description--wrapper ">
        <p class="description--primary color-white gotham p-max-width-center text-center">
          Alimente dispositivos de alta potencia ​​y electrodomésticos cotidianos, como un calentador eléctrico, una nevera, un horno eléctrico, o un aire acondicionado, así como cualquier otro dispositivo electrónico.
        </p>
      </div>
      <div class="grid-container">
        <div class="content--wrapper">
          <div class="content-item--wrapper">
            <img
              src="https://cdn.shopify.com/s/files/1/0622/6758/8855/files/PDP_icon_927892e4-0c9f-4a70-82b8-9ac5064e0c31.png?v=1681969881"
              alt=""
            >
            <div class="description--wrapper text-center">
              <p class="description--secondary color-white gotham">Luz</p>
            </div>
          </div>
          <div class="content-item--wrapper">
            <img
              src="https://cdn.shopify.com/s/files/1/0622/6758/8855/files/PDP_icon_1_d5d689da-eee9-4f9f-902b-6088a234b790.png?v=1681969881"
              alt=""
            >
            <div class="description--wrapper text-center">
              <p class="description--secondary color-white gotham">
                Calentador eléctrico
              </p>
            </div>
          </div>
          <div class="content-item--wrapper">
            <img
              src="https://cdn.shopify.com/s/files/1/0622/6758/8855/files/PDP_icon_2_0948a154-d1d2-47ab-8d04-31d4c359b034.png?v=1681969881"
              alt=""
            >
            <div class="description--wrapper text-center">
              <p class="description--secondary color-white gotham">TV</p>
            </div>
          </div>
          <div class="content-item--wrapper">
            <img
              src="https://cdn.shopify.com/s/files/1/0622/6758/8855/files/PDP_icon_3_288d803d-53c7-4ba0-a029-05b200efd676.png?v=1681969881"
              alt=""
            >
            <div class="description--wrapper text-center">
              <p class="description--secondary color-white gotham">
                Nevera
              </p>
            </div>
          </div>
          <div class="content-item--wrapper">
            <img
              src="https://cdn.shopify.com/s/files/1/0622/6758/8855/files/PDP_icon_4_1e2c20fa-261e-4538-970e-fffa365ed692.png?v=1681969881"
              alt=""
            >
            <div class="description--wrapper text-center">
              <p class="description--secondary color-white gotham">
                Router de Wi-Fi
              </p>
            </div>
          </div>
          <div class="content-item--wrapper">
            <img
              src="https://cdn.shopify.com/s/files/1/0622/6758/8855/files/PDP_icon_5_f7fe2fd2-5ebb-4740-b072-a84c93c11975.png?v=1681969881"
              alt=""
            >
            <div class="description--wrapper text-center">
              <p class="description--secondary color-white gotham">
                Cafetera
              </p>
            </div>
          </div>
          <div class="content-item--wrapper">
            <img
              src="https://cdn.shopify.com/s/files/1/0622/6758/8855/files/PDP_icon_6_12855ec0-4481-440b-83c1-b5ff4dc43347.png?v=1681969881"
              alt=""
            >
            <div class="description--wrapper text-center">
              <p class="description--secondary color-white gotham">Ordenador portátil</p>
            </div>
          </div>
          <div class="content-item--wrapper">
            <img
              src="https://cdn.shopify.com/s/files/1/0622/6758/8855/files/PDP_icon_7_e5005da2-62e1-4146-bf2e-b97353335e54.png?v=1681969881"
              alt=""
            >
            <div class="description--wrapper text-center">
              <p class="description--secondary color-white gotham">Secador de pelo</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-container-dark">
      <div class="heading--wrapper products--heading">
        <h2 class="title-h3-custom color-blue gotham-bold text-center">
          Ahorro de costes
        </h2>
      </div>
      <div class="description--wrapper ">
        <p class="description--primary color-white gotham p-max-width-center text-center ">
          Olvídese de la temida factura de la luz a final de mes. Nuestro generador solar para balcón le permite ahorrar energía al autogenerarla. Con un único panel solar de 110W, ahorre hasta 115,5kWh, más que suficiente para alimentar una aspiradora durante un total de 72 horas durante un año completo. Si desea más potencia, un solo panel solar de 400W puede ahorrar hasta 420kWh, suficiente para alimentar un horno de microondas durante 11 horas, una lavadora durante 17 horas o un ventilador de techo durante 150 horas.
        </p>
      </div>
    </div>
    <div class="section-container-table">
      <table class="cost-saving-table">
        <thead class="table-head">
          <tr class="color-white text-center gotham-bold table-heading--container">
            <th class="sticky-col-mob">
              <span style="display: none;"> Panel Solar </span>
            </th>
            <th class="text-center">
              <img src="https://cdn.shopify.com/s/files/1/0622/6758/8855/files/DELTA_PRO_1867c3cc-df37-4618-aada-908d8e3ec728.png?v=1681977004">
              <span class="color-blue">110W</span>
              <span class="">Panel Solar</span>
            </th>
            <th class="text-center">
              <img src="https://cdn.shopify.com/s/files/1/0622/6758/8855/files/DELTA_PRO-_1_06d3f724-cc27-4cef-831a-a7926a327bb1.png?v=1681977004">
              <span class="color-blue">160W</span>
              <span class="">Panel Solar</span>
            </th>
            <th class="text-center">
              <img src="https://cdn.shopify.com/s/files/1/0622/6758/8855/files/DELTA_PRO-_2_6c9f0906-b48b-4ab0-bd37-772f74b5ebfb.png?v=1681977004">
              <span class="color-blue">220W</span>
              <span class="">Panel Solar</span>
            </th>
            <th class="text-center">
              <img src="https://cdn.shopify.com/s/files/1/0622/6758/8855/files/DELTA_PRO-_3_455cf742-6314-4863-987b-c73289551897.png?v=1681977005">
              <span class="color-blue">400W</span>
              <span class="">Panel Solar</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="color-white text-center gotham-bold">
            <td class="sticky-col-mob">Largo (mm)</td>
            <td class="text-center">1785</td>
            <td class="text-center">1590</td>
            <td class="text-center">820</td>
            <td class="text-center">2365</td>
          </tr>
          <tr class="color-white text-center gotham-bold">
            <td class="sticky-col-mob">Alto (mm)</td>
            <td class="text-center">420</td>
            <td class="text-center">685</td>
            <td class="text-center">500</td>
            <td class="text-center">1058</td>
          </tr>
          <tr class="color-white text-center gotham-bold">
            <td class="sticky-col-mob">Ancho (mm)</td>
            <td class="text-center">25</td>
            <td class="text-center">25</td>
            <td class="text-center">32</td>
            <td class="text-center">25</td>
          </tr>
          <tr class="color-white text-center gotham-bold special-blue">
            <td class="sticky-col-mob">
              Ahorro energético <br>
              (1 año)
            </td>
            <td class="text-center">115,5kWh</td>
            <td class="text-center">168kWh</td>
            <td class="text-center">247,5kWh</td>
            <td class="text-center">420kWh</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="banner--section section-container" style="">
      <div class="balcony--banner hide_mobile">
        <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/energy-freedom-2.png?v=1682591637">
      </div>
      <div class="balcony--banner-mobile show_mobile">
        <img src="https://cdn.shopify.com/s/files/1/0622/6758/8855/files/Frame_3_5.png?v=1681978786">
      </div>
      <div
        class="heading--wrapper text-center products--heading"
        style="display: none;"
      >
        <h2 class="title-h2 color-blue gotham-bold">Energiefreiheit</h2>
      </div>
    </div>

    <div class="section-product-container">
      <div class="flex-product-details-container">
        <div class="flex-product--wrapper">
          <div class="products--heading">
            <h2 class="title-h4 color-blue gotham-bold text-m-center-d-left">
              Configuración sencilla
            </h2>
          </div>
          <div class="product-description--wrapper">
            <p class="description--tertiary color-white gotham p-max-width-center text-m-center-d-left">
              Nuestro generador solar para balcón no solo es capaz de almacenar energía, sino que también le permite acceder a ella y usarla cuando la necesite. Simplemente conecte sus electrodomésticos a su estación de energía portátil de EcoFlow y disfrute de energía al instante.
            </p>
          </div>
        </div>
        <div class="flex-product--wrapper">
          <div class="product-image--wrapper text-center">
            <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/smooth-setup.png?v=1664348507">
          </div>
        </div>
      </div>

      <div class="flex-product-details-container">
        <div class="flex-product--wrapper desktop-only">
          <div class="product-image--wrapper-flex text-center">
            <img src="https://cdn.shopify.com/s/files/1/0622/6758/8855/files/D2_DM_EB_220W_SP_bundle_1_2_5796bb10-e668-4836-9fa6-f43c917369b5.png?v=1682068911">
          </div>
        </div>
        <div class="flex-product--wrapper">
          <div class="products--heading">
            <h2 class="title-h4 color-blue gotham-bold text-m-center-d-left">
              Energía de emergencia con su generador solar para balcón
            </h2>
          </div>
          <div class="product-description--wrapper">
            <p class="description--tertiary color-white gotham text-m-center-d-left">
              Es tan fácil como enchufar la estación de energía portátil a su panel solar para que comience a almacenar la energía. No necesita un enchufe extra en su balcón o confusos adaptadores, ni tiene que preocuparse por el ruido. Nuestro generador solar para balcón funciona como un sistema de autoconsumo fotovoltaico y completamente silencioso. Además, le brinda la tranquilidad de disponer de energía en situaciones como apagones o cortes del suministro eléctrico.
            </p>
          </div>
        </div>
        <div class="flex-product--wrapper mobile-only">
          <div class="product-image--wrapper-flex text-center">
            <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/emergency-backups.png?v=1664348603">
          </div>
        </div>
      </div>

      <div class="flex-product-details-container">
        <div class="flex-product--wrapper">
          <div class="products--heading">
            <h2 class="title-h4 color-blue gotham-bold text-m-center-d-left">
              Menor dependencia de la red eléctrica
            </h2>
          </div>
          <div class="product-description--wrapper">
            <p class="description--tertiary color-white gotham text-m-center-d-left">
              Disfrute de la libertad que un generador solar para balcón puede brindar a un hogar mediante el uso de energía solar. Deje de preocuparse de las facturas mensuales de electricidad y sea menos dependiente de la red eléctrica. Su montaje sencillo le permite aprovechar la energía solar desde la comodidad de su balcón.
            </p>
          </div>
        </div>
        <div class="flex-product--wrapper desktop-only">
          <div class="product-image--wrapper-flex text-center">
            <img src="https://cdn.shopify.com/s/files/1/0622/6758/8855/files/D2_DM_EB_220W_SP_bundle_1_3_6b28d204-8597-4373-881c-d6e491bc11cb.png?v=1682068992">
          </div>
        </div>
        <div class="flex-product--wrapper mobile-only">
          <div class="product-image--wrapper-flex text-center">
            <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/DSC02643.png?v=1665555609">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="background: white;">
    <div class="balcony-solar-generator balcony-solar-generator-slider">
      <div class="section-container">
        <div class="heading--wrapper text-center products--heading">
          <h2 class="title-h2 color-black gotham-bold text-m-center-d-left">
            ¿Quiere saber más?
          </h2>
        </div>
        <div class="description--wrapper text-center">
          <p
            class="description--primary color-black gotham text-m-center-d-left"
            style="max-width: 650px;"
          >
            Tanto si está buscando reducir su dependencia de la red eléctrica como si desea ahorrar y almacenar energía, tenemos todas sus dudas cubiertas en nuestra guía paso a paso sobre placas solares para balcones y estaciones de energía portátiles.
          </p>
        </div>
      </div>
      <div class="section-container-slider">
        <div class="swiper section-container custom-balcony-slider">
          <div class="swiper-wrapper">
            <div class="custom-balcony-slide-content swiper-slide">
              <a href="https://blog.ecoflow.com/es/placas-solares-balcones-opiniones/">
                <img
                  src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/persianas-placas-solares-para-balcones-1024x683.jpg?v=1682666533"
                  alt=""
                >
                <h3 class="color-black">
                  Placas solares para balcón. Precio y opiniones
                </h3>
              </a>
              <a
                href="https://blog.ecoflow.com/es/placas-solares-balcones-opiniones/"
                class="color-blue"
                >Más Información ></a
              >
            </div>
            <div class="custom-balcony-slide-content swiper-slide">
              <a href="https://blog.ecoflow.com/es/placas-solares-balcon/">
                <img
                  src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/placas-solares-para-balcones-opiniones-1024x683.jpg?v=1682666477"
                  alt=""
                >
                <h3 class="color-black">
                  Placas solares para balcón de EcoFlow
                </h3>
              </a>
              <a
                href="https://blog.ecoflow.com/es/placas-solares-balcon/"
                class="color-blue"
                >Más Información ></a
              >
            </div>
            <div class="custom-balcony-slide-content swiper-slide">
              <a href="https://blog.ecoflow.com/es/puedo-poner-una-placa-solar-en-mi-balcon/">
                <img
                  src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/puedo-poner-una-placa-solar-en-mi-balcon.jpg?v=1682668678"
                  alt=""
                >
                <h3 class="color-black">
                  ¿Puedo poner una placa solar en mi balcón?
                </h3>
              </a>
              <a
                href="https://blog.ecoflow.com/es/puedo-poner-una-placa-solar-en-mi-balcon/"
                class="color-blue"
                >Más Información ></a
              >
            </div>
            <div class="custom-balcony-slide-content swiper-slide">
              <a href="https://blog.ecoflow.com/es/rendimiento-placas-solares-en-un-balcon/">
                <img
                  src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/panel-solar-en-el-balcon-1.jpg?v=1682668721"
                  alt=""
                >
                <h3 class="color-black">
                  ¿Cuál es el rendimiento de las placas solares en un balcón?
                </h3>
              </a>
              <a
                href="https://blog.ecoflow.com/es/rendimiento-placas-solares-en-un-balcon/"
                class="color-blue"
                >Más Información ></a
              >
            </div>
            <div class="custom-balcony-slide-content swiper-slide">
              <a href="https://blog.ecoflow.com/es/placas-solar-para-balcon-600w/">
                <img
                  src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/Panel-solar-1.jpg?v=1682668760"
                  alt=""
                >
                <h3 class="color-black">
                  Nuestra solución para un kit de paneles solares para balcón de 600W
                </h3>
              </a>
              <a
                href="https://blog.ecoflow.com/es/placas-solar-para-balcon-600w/"
                class="color-blue"
                >Más Información ></a
              >
            </div>
            <div class="custom-balcony-slide-content swiper-slide">
              <a href="https://blog.ecoflow.com/es/placas-solares-para-balcones/">
                <img
                  src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/placas-solares-para-balcones-resized.png?v=1682669909"
                  alt=""
                >
                <h3 class="color-black">
                  ¿Es posible instalar un panel solar en un balcón? ¿Cuál elegir?
                </h3>
              </a>
              <a
                href="https://blog.ecoflow.com/es/placas-solares-para-balcones/"
                class="color-blue"
                >Más Información ></a
              >
            </div>
            {% for blog in blogs %}
              {% for article in blog.articles %}
                {{ article.title }}
                <div class="custom-balcony-slide-content swiper-slide">
                  <a href="{{ article.url }}">
                    <img
                      src="{{ article.image | img_url: 'large' }}"
                      alt=""
                    >
                    <h3 class="color-black">
                      {{ article.title }}
                    </h3>
                  </a>
                  <div class="color-blue">Más Información ></div>
                </div>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="section-container faq-section">
        <div class="heading--wrapper text-center products--heading">
          <h2 class="title-h2 color-black gotham-bold">
            <span>PREGUNTAS FRECUENTES</span>
          </h2>
        </div>
        <div class="show-me">
          <div class="question">
            <div class="question-container question-container-flex opened">
              <h3 class="question--primary gotham-bold pr">
                ¿Cuál es la diferencia entre un generador solar para balcón EcoFlow y un sistema fotovoltaico normal para balcones?
              </h3>
              <img
                class="plus"
                src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/1564491_add_create_new_plus_icon_25afaa83-cae1-4222-a9f6-0bec1a51f7ed.png?v=1664510477"
                width="25"
                height="25"
              >
              <img
                class="minus active"
                src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/8665210_circle_minus_icon_d3c46796-d708-4154-ab97-9653883899ad.png?v=1664510492"
                width="25"
                height="25"
              >
            </div>
            <div class="des gotham" style="display: block;">
              <p>
                La configuración del generador solar para balcón de EcoFlow incluye la capacidad de almacenar energía para su uso posterior. De este modo, si quiere estar preparado para una posible emergencia o almacenar energía con anticipación, puede hacerlo sin desperdiciar el exceso que se genere,como sucede con los sistemas tradicionales. Una estación de energía portátil con sistema PowerStream le ayudará, además, a optimizar su suministro de energía. Si estas son las características que está buscando, nuestro generador solar para balcones es perfecto para usted.
              </p>
            </div>
          </div>
          <div class="question">
            <div class="question-container question-container-flex">
              <h3 class="question--primary gotham-bold pr">
                ¿Qué se puede alimentar con un generador solar para balcón EcoFlow?
              </h3>
              <img
                class="plus active"
                src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/1564491_add_create_new_plus_icon_25afaa83-cae1-4222-a9f6-0bec1a51f7ed.png?v=1664510477"
                width="25"
                height="25"
              >
              <img
                class="minus"
                src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/8665210_circle_minus_icon_d3c46796-d708-4154-ab97-9653883899ad.png?v=1664510492"
                width="25"
                height="25"
              >
            </div>
            <div class="des gotham" style="display: none;">
              <p>
                DELTA Max 1600 puede alimentar muchos de sus electrodomésticos, como cargar un teléfono móvil hasta 140 veces, una nevera hasta 22 horas o un microondas durante más de una hora. Añada un panel solar de 400W a su configuración para cargar completamente el DELTA Max 1600 con luz solar en un tiempo entre 6 y 12 horas. Dependiendo de cuánto tiempo desee mantener sus dispositivos alimentados, existe una estación de energía portátil EcoFlow que se adaptará a sus necesidades específicas.
              </p>
            </div>
          </div>
          <div class="question">
            <div class="question-container question-container-flex">
              <h3 class="question--primary gotham-bold pr">
                ¿Son seguras las estaciones de energía EcoFlow?
              </h3>
              <img
                class="plus active"
                src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/1564491_add_create_new_plus_icon_25afaa83-cae1-4222-a9f6-0bec1a51f7ed.png?v=1664510477"
                width="25"
                height="25"
              >
              <img
                class="minus"
                src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/8665210_circle_minus_icon_d3c46796-d708-4154-ab97-9653883899ad.png?v=1664510492"
                width="25"
                height="25"
              >
            </div>
            <div class="des gotham" style="display: none;">
              <p>
                Nuestras estaciones de energía líderes en el sector cuentan con un sistema avanzado de administración de batería que regula el voltaje, la temperatura y la corriente en tiempo real. Esto da como resultado unas baterías con un sistema de almacenamiento fiable y seguro, que podrá usar durante años.
              </p>
            </div>
          </div>
          <div class="question">
            <div class="question-container question-container-flex">
              <h3 class="question--primary gotham-bold pr">
                ¿Qué generador solar para balcón EcoFlow es mejor para mí?
              </h3>
              <img
                class="plus active"
                src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/1564491_add_create_new_plus_icon_25afaa83-cae1-4222-a9f6-0bec1a51f7ed.png?v=1664510477"
                width="25"
                height="25"
              >
              <img
                class="minus"
                src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/8665210_circle_minus_icon_d3c46796-d708-4154-ab97-9653883899ad.png?v=1664510492"
                width="25"
                height="25"
              >
            </div>
            <div class="des gotham" style="display: none;">
              <p>
                Esto depende de varios factores, como el tamaño, la portabilidad, la capacidad de la batería y la exposición al sol. Si está buscando un sistema fiable, para emergencias o para reducir su dependencia de la red, la estación de energía portátil DELTA Max 1600 + panel solar de 400W ofrece una enorme capacidad de 1612Wh. La estación de energía DELTA Max 1600 + panel solar de 400W actúa como un mini sistema fotovoltaico, incluyendo la capacidad de almacenamiento de una batería fotovoltaica.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper('.swiper-1', {
      slidesPerView: 1.1,
      spaceBetween: 15,
      breakpoints: {
        1440: {
          slidesPerView: 3.2,
          spaceBetween: 15,
        },
        768: {
          slidesPerView: 2.1,
          spaceBetween: 15,
        },
        320: {
          slidesPerView: 1.15,
          spaceBetween: 15,
        },
      },
    });

    new Swiper('.swiper-2', {
      slidesPerView: 1.1,
      spaceBetween: 15,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        1440: {
          slidesPerView: 3.2,
          spaceBetween: 15,
        },
        768: {
          slidesPerView: 2.1,
          spaceBetween: 15,
        },
        320: {
          slidesPerView: 1.15,
          spaceBetween: 15,
        },
      },
    });

    new Swiper('.custom-balcony-slider', {
      slidesPerView: 1.1,
      spaceBetween: 15,
      breakpoints: {
        1440: {
          slidesPerView: 3,
          spaceBetween: 15,
        },
        768: {
          slidesPerView: 2.1,
          spaceBetween: 15,
        },
        320: {
          slidesPerView: 1.15,
          spaceBetween: 15,
        },
      },
    });
  });
</script>

{{ 'custom.js' | asset_url | script_tag }}
