{% include 'atb', zone: 'Top' %}
{{ 'swiper.min.css' | asset_url | stylesheet_tag }}
{{ 'es-delta-portable-power-station.css' | asset_url | stylesheet_tag }}
<div class="custom delta-portable-power-station">
  <div class="banner pr">
    <img
      src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/delta-portable.jpg?v=1673591527"
      alt="Série DELTA"
      class="overlay-img custom_mobile_hidden banner-product-img"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/delta-portable-M.jpg?v=1673591527"
      alt="Série DELTA"
      class="overlay-img custom_mobile_show"
    >
    <div class="text pa">
      <h1 class="title-h1 color-white font-gotham-bold">
        Estaciones <br>
        eléctricas portátiles <br>
        série EcoFlow
        <span class="color-teal">DELTA</span>
      </h1>
      <div class="banner--btn">
        <a id="btn-scroll" class="scroll-link banner-button color-teal left" href="#">
          <p class="font-gotham color-teal">Seguir Leyendo</p>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM8.98242 5C8.98242 4.58579 8.64664 4.25 8.23242 4.25C7.81821 4.25 7.48242 4.58579 7.48242 5V10.0156L5.53033 8.06349C5.23744 7.77059 4.76256 7.77059 4.46967 8.06349C4.17678 8.35638 4.17678 8.83125 4.46967 9.12415L7.70185 12.3563C7.99475 12.6492 8.46962 12.6492 8.76251 12.3563L11.9947 9.12415C12.2876 8.83125 12.2876 8.35638 11.9947 8.06349C11.7018 7.77059 11.2269 7.77059 10.934 8.06349L8.98242 10.0151V5Z" fill="#0ECFE2"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div id="solar" class="section-2">
    <div class="section-container">
      <div class="flex-container justify-content-center align-items-center">
        <div class="flex-item">
          <img
            src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/delta-750x750.png?v=1674177821"
            alt=""
          >
        </div>
        <div class="flex-item text">
          <h2 class="title-h2 font-gotham color-white">
            Siempre preparado para lo inesperado con EcoFlow <span class="color-teal">DELTA</span>
          </h2>
          <p class="des font-gotham">
            Equípese contra los cortes de energía, independícese de la red eléctrica tradicional, elija una fuente de
            energía limpia y renovable para su hogar. Sean cuales sean sus necesidades, la serie DELTA EcoFlow ha sido
            diseñada para satisfacerlas. Las baterías solares domésticas, destacadas en el mercado de las energías
            renovables, ofrecen una solución a la altura de los desafíos energéticos actuales.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-3 section-common">
    <div class="section-container products-container">
      <div class="show-products">
        <div class="custom_mobile_hidden">
            <div class="flex-container">
                <div class="section-product tc ">
                  <h6 class="title-h6 product-title font-gotham-bold custom_mobile_show">EcoFlow DELTA 2</h6>
                  <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/portable-power-station-delta-2.png?v=1662436842">
                  <h6 class="title-h6 product-title font-gotham-bold custom_mobile_hidden">EcoFlow DELTA 2</h6>
                  <div class="">
                    <a
                      class="a-button font-gotham"
                      href="https://es.ecoflow.com/products/delta-2-portable-power-station"
                      >Comprar Ahora</a
                    >
                  </div>
                </div>
                <div class="section-product tc ">
                  <h6 class="title-h6 product-title font-gotham-bold custom_mobile_show">EcoFlow DELTA Max</h6>
                  <img src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Product-Delta-s-2.png?v=1640017172">
                  <h6 class="title-h6 product-title font-gotham-bold custom_mobile_hidden">EcoFlow DELTA Max</h6>
                  <div class="">
                    <a
                      class="a-button font-gotham"
                      href="https://es.ecoflow.com/products/delta-max-portable-power-station"
                      >Comprar Ahora</a
                    >
                  </div>
                </div>
                <div class="section-product tc ">
                  <h6 class="title-h6 product-title font-gotham-bold custom_mobile_show">EcoFlow DELTA Pro</h6>
                  <img src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/Collection-Page-Portable-Power-Station-Product-Delta-s-ou-4.png?v=1644459366">
                  <h6 class="title-h6 product-title font-gotham-bold custom_mobile_hidden">EcoFlow DELTA Pro</h6>
                  <div class="">
                    <a
                      class="a-button font-gotham"
                      href="https://es.ecoflow.com/products/delta-pro-portable-power-station"
                      >Comprar Ahora</a
                    >
                  </div>
                </div>
            </div>
        </div>
        <div class="custom_mobile_show">
          <div class="flex-container product-swiper-container">
            <div class="swiper-container product-swiper-portable-power product-dropdown-swiper">
              <div class="swiper-wrapper">
                <div class="section-product tc swiper-slide">
                  <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/portable-power-station-delta-2.png?v=1662436842">
                  <h6 class="title-h6 product-title font-gotham-bold">EcoFlow DELTA 2</h6>
                  <div class="">
                    <a
                      class="a-button font-gotham"
                      href="https://es.ecoflow.com/products/delta-2-portable-power-station"
                      >Adquirir Ahora</a
                    >
                  </div>
                </div>
                <div class="section-product tc swiper-slide">
                  <img src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Product-Delta-s-2.png?v=1640017172">
                  <h6 class="title-h6 product-title font-gotham-bold">EcoFlow DELTA Max</h6>
                  <div class="">
                    <a
                      class="a-button font-gotham"
                      href="https://es.ecoflow.com/products/delta-max-portable-power-station"
                      >Adquirir Ahora</a
                    >
                  </div>
                </div>
                <div class="section-product tc swiper-slide">
                  <img src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/Collection-Page-Portable-Power-Station-Product-Delta-s-ou-4.png?v=1644459366">
                  <h6 class="title-h6 product-title font-gotham-bold">EcoFlow DELTA Pro</h6>
                  <div class="">
                    <a
                      class="a-button font-gotham"
                      href="https://es.ecoflow.com/products/delta-pro-portable-power-station"
                      >Adquirir Ahora</a
                    >
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% comment %}
       <div class="flex-container pr">
        <div class="product-serives pr">
          <a href="https://es.ecoflow.com/products/delta-mini-portable-power-station">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Ecoflow-Delta-Series-1.jpg?v=1641313807" class="custom_mobile_hidden">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Ecoflow-Delta-Series-1-Mb.jpg?v=1641660496" class="custom_mobile_show">
          </a>
          <div class="text pa tc">
            <h3 class="title-h3 font-gotham-bold">ECOFLOW DELTA MINI</h3>
            <a class="a-button font-gotham" href="https://es.ecoflow.com/products/delta-mini-portable-power-station">Comprar Ahora</a>
          </div>
        </div>
        <div class="product-serives pr">
          <a href="https://es.ecoflow.com/products/delta-portable-power-station">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Ecoflow-Delta-Series-2.jpg?v=1641313807" class="custom_mobile_hidden">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Ecoflow-Delta-Series-2-Mb.jpg?v=1641660496" class="custom_mobile_show">
          </a>
          <div class="text pa tc">
            <h3 class="title-h3 font-gotham-bold">ECOFLOW DELTA</h3>
            <a class="a-button font-gotham" href="https://es.ecoflow.com/products/delta-portable-power-station">Comprar Ahora</a>
          </div>
        </div>
      </div>
      <div class="flex-container pr">
        <div class="product-serives pr">
          <a href="https://es.ecoflow.com/products/delta-max-portable-power-station">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Ecoflow-Delta-Series-3.jpg?v=1641313807" class="custom_mobile_hidden">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Ecoflow-Delta-Series-3-Mb.jpg?v=1641660496" class="custom_mobile_show">
          </a>
          <div class="text pa tc">
            <h3 class="title-h3 font-gotham-bold">ECOFLOW DELTA MAX</h3>
            <a class="a-button font-gotham" href="https://es.ecoflow.com/products/delta-max-portable-power-station">Comprar Ahora</a>
          </div>
        </div>
        <div class="product-serives pr">
          <a href="https://es.ecoflow.com/products/delta-pro-portable-power-station">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Ecoflow-Delta-Series-4.jpg?v=1641313807" class="custom_mobile_hidden">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Ecoflow-Delta-Series-4-Mb.jpg?v=1641660496" class="custom_mobile_show">
          </a>
          <div class="text pa tc">
            <h3 class="title-h3 font-gotham-bold">ECOFLOW DELTA PRO</h3>
            <a class="a-button font-gotham" href="https://es.ecoflow.com/products/delta-pro-portable-power-station">Comprar Ahora</a>
          </div>
        </div>
      </div>
    {% endcomment %}
  </div>

  <div class="section-4 section-show-product">
    <div class="product-parameters tc">
      <h3 class="title-h3 font-gotham-bold tc">
        COMPARA LAS ESTACIONES<br>
        DE ENERGÍA PORTÁTILES ECOFLOW DELTA
      </h3>
      <button type="button" class="show-me-button font-gotham"><i class="iconfont icon-jiahao"></i> MUÉSTRAME</button>
      <div class="show-me">
        <div class="custom_mobile_hidden">
        <div class="flex-container ">
            <div class="product-parameter bg-dark-gray " data-handle="delta-2-portable-power-station">
              <h6 class="title-h6 font-gotham-bold">EcoFlow DELTA 2</h6>
              <a href="https://es.ecoflow.com/products/delta-2-portable-power-station" data-bss-pl="active">
                <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/delta-portable-power-station-delta-2-mobile.png?v=1662715817">
              </a>
              <p class="capacity font-gotham-bold divider parameter-spacing">1024 Wh</p>
              <p class="other-parameter font-gotham-bold divider parameter-spacing">
                Teléfono (11Wh) <br>
                Carga 89 veces
              </p>
              <p class="other-parameter font-gotham-bold divider parameter-spacing">
                Laptop / (60W) <br>
                Carga 16 veces
              </p>
              <p class="other-parameter font-gotham-bold divider parameter-spacing">
                Mini Nevera <br>
                16 Horas
              </p>
              <p class="other-parameter font-gotham-bold divider parameter-spacing">
                Batidora (500 W) <br>
                1,8 Horas
              </p>
              <p class="other-parameter font-gotham-bold divider parameter-spacing">
                Cafetera (1000W) <br>
                0,8 Horas
              </p>
              <p class="other-parameter font-gotham-bold parameter-spacing">
                Freidora sin aceite (1500 W) <br>
                0,5 Horas
              </p>
            </div>
            <div class="product-parameter bg-light-grey " data-handle="delta-max-portable-power-station">
              <h6 class="title-h6 font-gotham-bold">EcoFlow DELTA Max</h6>
              <a href="https://es.ecoflow.com/products/delta-max-portable-power-station">
                <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/Collection-Page-Delta-Series-Product-Parameter-3.png?v=1663303244">
              </a>
              <p class="capacity font-gotham-bold divider parameter-spacing">2016Wh</p>
              <p class="other-parameter font-gotham-bold divider parameter-spacing">
                Teléfono (11 Wh)<br>
                175 cargas
              </p>
              <p class="other-parameter font-gotham-bold divider parameter-spacing">
                Ordenador portátil (60 Wh)<br>
                32 cargas
              </p>
              <p class="other-parameter font-gotham-bold divider parameter-spacing">
                Mininevera<br>
                33 h
              </p>
              <p class="other-parameter font-gotham-bold divider parameter-spacing">
                Batidora (500 W)<br>
                3,8 h
              </p>
              <p class="other-parameter font-gotham-bold parameter-spacing">
                Cafetera (1000 W)<br>
                1,9 h
              </p>
            </div>
            <div class="product-parameter bg-dark-gray " data-handle="ecoflow-delta-pro-portable-power-station" >
              <h6 class="title-h6 font-gotham-bold">EcoFlow DELTA Pro</h6>
              <a href="https://es.ecoflow.com/products/delta-pro-portable-power-station">
                <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/Collection-Page-Delta-Series-Product-Parameter-4.png?v=1663303245">
              </a>
              <p class="capacity font-gotham-bold divider parameter-spacing">3600Wh</p>
              <p class="other-parameter font-gotham-bold divider parameter-spacing">
                Teléfono (11 Wh)<br>
                313 cargas
              </p>
              <p class="other-parameter font-gotham-bold divider parameter-spacing">
                Ordenador portátil (60 Wh)<br>
                57 cargas
              </p>
              <p class="other-parameter font-gotham-bold divider parameter-spacing">
                Mininevera<br>
                57 h
              </p>
              <p class="other-parameter font-gotham-bold divider parameter-spacing">
                Batidora (500 W)<br>
                6,5 h
              </p>
              <p class="other-parameter font-gotham-bold parameter-spacing">
                Cafetera (1000 W)<br>
                3,3 h
              </p>
            </div>
        </div>
        </div>

        <div class="custom_mobile_show">
          <div class="flex-container product-swiper-container">
            <div class="swiper-container product-swiper-portable-power product-dropdown-swiper">
              <div class="swiper-wrapper">
                <div class="product-parameter bg-dark-gray swiper-slide" data-handle="delta-2-portable-power-station">
                  <h6 class="title-h6 font-gotham-bold">EcoFlow DELTA 2</h6>
                  <a href="https://es.ecoflow.com/products/delta-2-portable-power-station" data-bss-pl="active">
                    <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/delta-portable-power-station-delta-2-mobile.png?v=1662715817">
                  </a>
                  <p class="capacity font-gotham-bold divider parameter-spacing">1024 Wh</p>
                  <p class="other-parameter font-gotham-bold divider parameter-spacing">
                    Teléfono (11Wh) <br>
                    Carga 89 veces
                  </p>
                  <p class="other-parameter font-gotham-bold divider parameter-spacing">
                    Laptop / (60W) <br>
                    Carga 16 veces
                  </p>
                  <p class="other-parameter font-gotham-bold divider parameter-spacing">
                    Mini Nevera <br>
                    16 Horas
                  </p>
                  <p class="other-parameter font-gotham-bold divider parameter-spacing">
                    Batidora (500 W) <br>
                    1,8 Horas
                  </p>
                  <p class="other-parameter font-gotham-bold divider parameter-spacing">
                    Cafetera (1000W) <br>
                    0,8 Horas
                  </p>
                  <p class="other-parameter font-gotham-bold parameter-spacing">
                    Freidora sin aceite (1500 W) <br>
                    0,5 Horas
                  </p>
                </div>
                <div class="product-parameter bg-light-grey swiper-slide" data-handle="delta-max-portable-power-station">
                  <h6 class="title-h6 font-gotham-bold">EcoFlow DELTA Max</h6>
                  <a href="https://es.ecoflow.com/products/delta-max-portable-power-station">
                    <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/Collection-Page-Delta-Series-Product-Parameter-3.png?v=1663303244">
                  </a>
                  <p class="capacity font-gotham-bold divider parameter-spacing">2016Wh</p>
                  <p class="other-parameter font-gotham-bold divider parameter-spacing">
                    Teléfono (11 Wh)<br>
                    175 cargas
                  </p>
                  <p class="other-parameter font-gotham-bold divider parameter-spacing">
                    Ordenador portátil (60 Wh)<br>
                    32 cargas
                  </p>
                  <p class="other-parameter font-gotham-bold divider parameter-spacing">
                    Mininevera<br>
                    33 h
                  </p>
                  <p class="other-parameter font-gotham-bold divider parameter-spacing">
                    Batidora (500 W)<br>
                    3,8 h
                  </p>
                  <p class="other-parameter font-gotham-bold parameter-spacing">
                    Cafetera (1000 W)<br>
                    1,9 h
                  </p>
                </div>
                <div class="product-parameter bg-dark-gray swiper-slide" data-handle="ecoflow-delta-pro-portable-power-station" >
                  <h6 class="title-h6 font-gotham-bold">EcoFlow DELTA Pro</h6>
                  <a href="https://es.ecoflow.com/products/delta-pro-portable-power-station">
                    <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/Collection-Page-Delta-Series-Product-Parameter-4.png?v=1663303245">
                  </a>
                  <p class="capacity font-gotham-bold divider parameter-spacing">3600Wh</p>
                  <p class="other-parameter font-gotham-bold divider parameter-spacing">
                    Teléfono (11 Wh)<br>
                    313 cargas
                  </p>
                  <p class="other-parameter font-gotham-bold divider parameter-spacing">
                    Ordenador portátil (60 Wh)<br>
                    57 cargas
                  </p>
                  <p class="other-parameter font-gotham-bold divider parameter-spacing">
                    Mininevera<br>
                    57 h
                  </p>
                  <p class="other-parameter font-gotham-bold divider parameter-spacing">
                    Batidora (500 W)<br>
                    6,5 h
                  </p>
                  <p class="other-parameter font-gotham-bold parameter-spacing">
                    Cafetera (1000 W)<br>
                    3,3 h
                  </p>
                </div>
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-5">
    <div class="section-content section-top custom_mobile_hidden">
      <div class="section-left fl">
        <div class="section-img">
          <img
            src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Delta-Series-Home-Backup-Power.png?v=1645256738"
            alt="autoconsumo"
          >
        </div>
        <div class="text">
          <h2 class="title-h2 font-gotham-bold">Baterías domésticas ecológicas y potentes para usos fuera de la red</h2>
          <p class="des">
            Los paneles portátiles EcoFlow captan la energía del sol y la batería doméstica la transforma y almacena.
            Todo lo que tiene que hacer es enchufar sus dispositivos para recargarlos, ¡cuando quiera!
          </p>
          <p class="des">
            A diferencia de los generadores térmicos, contaminantes, ruidosos y que requieren viajes de ida y vuelta
            para recargar, estas baterías domésticas alimentan su hogar sin emitir humo, por lo que pueden usarse tanto
            en interiores como en exteriores. Disfrute de una fuente de energía silenciosa que cumple con sus requisitos
            ambientales.
          </p>
          <p class="des">
            La serie DELTA de EcoFlow dispone de 3 productos capaces de generar hasta 25kWh de potencia. Desde la DELTA
            2, hasta la DELTA Pro, pasando por la DELTA Max, EcoFlow tiene en cuenta todas las posibles necesidades
            de su hogar para darle una solución que se ajuste a ellas. Para lograrlo, sus generadores solares para el
            hogar constan de múltiples puertos. ¿La meta? ¡Que pueda conectar simultáneamente todos sus equipos y así
            anticiparse a cualquier imprevisto!
          </p>
          <p class="des">
            ¿Quiere desconectar unos días al aire libre? Portátil y rígida, la serie DELTA se puede transformar en un
            verdadero kit solar autónomo para el exterior, proporcionando así una fuente de energía fiable en cualquier
            lugar.
          </p>
        </div>
      </div>
      <div class="section-right section-text fr">
        <div class="text">
          <h2 class="title-h2 font-gotham-bold">Baterías solares domésticas para avanzar hacia el autoconsumo</h2>
          <p class="des font-gotham">
            Aprovechando su experiencia en el campo de la energía solar, EcoFlow ha diseñado centrales eléctricas
            portátiles capaces de alimentar todos sus dispositivos y equipos electrónicos.
          </p>
          <p class="des font-gotham">
            Gracias a sus excepcionales capacidades, las baterías domésticas EcoFlow ofrecen la posibilidad de
            independizarse por completo de la red eléctrica.
          </p>
          <p class="des font-gotham">
            Si quiere avanzar hacia el autoconsumo, estas soluciones le permiten cargar varios dispositivos e incluso
            todos sus electrodomésticos al mismo tiempo. La serie DELTA, gracias a su tecnología X-Boost, se adapta a la
            configuración de su hogar, en cualquier circunstancia. Con sus numerosas entradas, la serie DELTA se puede
            complementar con 2 paneles solares para vivienda. ¿El resultado? La posibilidad de montar un verdadero grupo
            electrógeno autónomo fuera de la red.
          </p>
        </div>
        <div style="clear:both;"></div>
        <div class="section-img">
          <img
            src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Delta-Series-Off-Grid-Power.png?v=1645256738"
            alt="aplicaciones fuera de la red"
          >
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
    <div class="section-content section-bottom custom_mobile_hidden">
      <div class="section-left fl">
        <div class="section-img">
          <img
            src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Delta-Series-Road-Power.png?v=1645256738"
            alt="portátiles"
          >
        </div>
      </div>
      <div class="section-right section-text fr pr">
        <div class="text pa">
          <h2 class="title-h2 font-gotham-bold">
            Estaciones eléctricas portátiles para dotar de energía a su hogar en caso de un corte eléctrico
          </h2>
          <p class="des font-gotham">
            Más allá de proporcionar una fuente de energía limpia, las baterías domésticas de la serie DELTA también le
            permiten liberarse de elementos externos, dondequiera que esté. Por lo tanto, ya no es necesario depender
            únicamente del buen funcionamiento de la red a la que está conectado. Combinando las baterías domésticas con
            los paneles solares puede prescindir de cualquier intermediario y tomar las riendas de su propio consumo.
          </p>
          <p class="des font-gotham">
            Ya desee prevenir un corte de energía o anticiparse a una posible escasez de esta, EcoFlow le brinda un
            dispositivo completo y totalmente autónomo. Dondequiera que se encuentre, le ofrecemos la posibilidad de
            adquirir un producto ecológico y sólido, para que tenga independencia energética al alcance de su mano, de
            forma responsable con el medio ambiente.
          </p>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
    <div class="section-content section-mobile custom_mobile_show">
      <div class="section-text">
        <div class="text">
          <h2 class="title-h2 font-gotham-bold">Baterías solares domésticas para avanzar hacia el autoconsumo</h2>
          <p class="des font-gotham">
            Aprovechando su experiencia en el campo de la energía solar, EcoFlow ha diseñado centrales eléctricas
            portátiles capaces de alimentar todos sus dispositivos y equipos electrónicos.
          </p>
          <p class="des font-gotham">
            Gracias a sus excepcionales capacidades, las baterías domésticas EcoFlow ofrecen la posibilidad de
            independizarse por completo de la red eléctrica.
          </p>
          <p class="des font-gotham">
            Si quiere avanzar hacia el autoconsumo, estas soluciones le permiten cargar varios dispositivos e incluso
            todos sus electrodomésticos al mismo tiempo. La serie DELTA, gracias a su tecnología X-Boost, se adapta a la
            configuración de su hogar, en cualquier circunstancia. Con sus numerosas entradas, la serie DELTA se puede
            complementar con 2 paneles solares para vivienda. ¿El resultado? La posibilidad de montar un verdadero grupo
            electrógeno autónomo fuera de la red.
          </p>
        </div>
      </div>
      <div class="section-img">
        <img
          src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Delta-Series-Home-Backup-Power-Mod.png?v=1645436673"
          alt="autoconsumo"
        >
      </div>
      <div class="section-text other-mb-section">
        <div class="text">
          <h2 class="title-h2 font-gotham-bold">Baterías domésticas ecológicas y potentes para usos fuera de la red</h2>
          <p class="des">
            Los paneles portátiles EcoFlow captan la energía del sol y la batería doméstica la transforma y almacena.
            Todo lo que tiene que hacer es enchufar sus dispositivos para recargarlos, ¡cuando quiera!
          </p>
          <p class="des">
            A diferencia de los generadores térmicos, contaminantes, ruidosos y que requieren viajes de ida y vuelta
            para recargar, estas baterías domésticas alimentan su hogar sin emitir humo, por lo que pueden usarse tanto
            en interiores como en exteriores. Disfrute de una fuente de energía silenciosa que cumple con sus requisitos
            ambientales.
          </p>
          <p class="des">
            La serie DELTA de EcoFlow dispone de 4 productos capaces de generar hasta 25kWh de potencia. Desde la DELTA 2, 
            hasta la DELTA Pro, pasando por la DELTA Max, EcoFlow tiene en cuenta todas las posibles necesidades
            de su hogar para darle una solución que se ajuste a ellas. Para lograrlo, sus generadores solares para el
            hogar constan de múltiples puertos. ¿La meta? ¡Que pueda conectar simultáneamente todos sus equipos y así
            anticiparse a cualquier imprevisto!
          </p>
          <p class="des">
            ¿Quiere desconectar unos días al aire libre? Portátil y rígida, la serie DELTA se puede transformar en un
            verdadero kit solar autónomo para el exterior, proporcionando así una fuente de energía fiable en cualquier
            lugar.
          </p>
        </div>
      </div>
      <div class="section-img">
        <img
          src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Delta-Series-Off-Grid-Power-Mod.png?v=1645436672"
          alt="aplicaciones fuera de la red"
        >
      </div>
      <div class="section-text other-mb-section">
        <div class="text">
          <h2 class="title-h2 font-gotham-bold">
            Estaciones eléctricas portátiles para dotar de energía a su hogar en caso de un corte eléctrico
          </h2>
          <p class="des font-gotham">
            Más allá de proporcionar una fuente de energía limpia, las baterías domésticas de la serie DELTA también le
            permiten liberarse de elementos externos, dondequiera que esté. Por lo tanto, ya no es necesario depender
            únicamente del buen funcionamiento de la red a la que está conectado. Combinando las baterías domésticas con
            los paneles solares puede prescindir de cualquier intermediario y tomar las riendas de su propio consumo.
          </p>
          <p class="des font-gotham">
            Ya desee prevenir un corte de energía o anticiparse a una posible escasez de esta, EcoFlow le brinda un
            dispositivo completo y totalmente autónomo. Dondequiera que se encuentre, le ofrecemos la posibilidad de
            adquirir un producto ecológico y sólido, para que tenga independencia energética al alcance de su mano, de
            forma responsable con el medio ambiente.
          </p>
        </div>
      </div>
      <div class="section-img">
        <img
          src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Delta-Series-Road-Power-Mod.png?v=1645436672"
          alt="portátiles"
        >
      </div>
    </div>
  </div>
  <div class="section-6">
    <div class="bsection-container">
      <div class="faq-block tc">
        <h2 class="title-h2 font-gotham-bold tc">Preguntas frecuentes</h2>
        {% comment %} <button type="button" class="show-me-button font-gotham"><i class="iconfont icon-jiahao"></i>MUÉSTRAME</button> {% endcomment %}
        <div class="show-me" style="display: block;">
          <div class="question" style="display: block;">
            <div class="question-container">
              <h3 class="title-h3 font-gotham-bold pr">
                ¿Cuál es la diferencia entre una central eléctrica portátil y un generador térmico?
              </h3>
              <img
                class="plus"
                src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/plus-white.png?v=1661936104"
                width="12"
                height="12"
              >
              <img
                class="minus active"
                src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/minus-white.png?v=1661936104"
                width="12"
                height="12"
              >
            </div>
            <div class="des" style="display: block;">
              <p>
                Los generadores de calor tradicionales funcionan con combustibles fósiles. Por lo tanto, su primer
                defecto es la contaminación que producen. Además, son ruidosos y no se pueden utilizar en interiores.
                Por el contrario, las centrales eléctricas portátiles EcoFlow funcionan con baterías, y por ende, no
                emiten gases y se pueden utilizar con total seguridad, tanto en interiores como en exteriores. Además,
                son portátiles, por lo que puede llevar consigo una fuente de energía limpia dondequiera que vaya.
              </p>
            </div>
          </div>
          <div class="question">
            <div class="question-container">
              <h3 class="title-h3 font-gotham-bold pr">
                ¿Puede una batería doméstica EcoFlow DELTA hacer funcionar un frigorífico?
              </h3>
              <img
                class="plus active"
                src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/plus-white.png?v=1661936104"
                width="12"
                height="12"
              >
              <img
                class="minus"
                src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/minus-white.png?v=1661936104"
                width="12"
                height="12"
              >
            </div>
            <div class="des">
              <p>
                Las estaciones de energía portátiles EcoFlow DELTA están diseñadas para alimentar electrodomésticos
                esenciales. El DELTA 2 le permitirá por ejemplo,
                alimentar un frigorífico de 60W durante 16 horas. Si eso no es suficiente para usted, la serie DELTA Pro
                es capaz de alimentar un frigorífico de 60W durante 57 horas.
              </p>
            </div>
          </div>
          <div class="question last-question">
            <div class="question-container">
              <h3 class="title-h3 font-gotham-bold pr">¿Son seguros los kits solares para exteriores?</h3>
              <img
                class="plus active"
                src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/plus-white.png?v=1661936104"
                width="12"
                height="12"
              >
              <img
                class="minus"
                src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/minus-white.png?v=1661936104"
                width="12"
                height="12"
              >
            </div>
            <div class="des">
              <p>
                Todas las baterías domésticas EcoFlow se pueden utilizar tanto en interiores como en exteriores. A
                diferencia de los generadores térmicos tradicionales, no emiten gases y no requieren mantenimiento. Para
                mayor seguridad, su avanzado sistema de administración de baterías regula automáticamente el voltaje, la
                temperatura y la corriente. En otras palabras, cuando elige un producto EcoFlow, elige una batería
                segura, fiable y duradera.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-7" style="display: none;">
    <h2 class="title-h3 font-gotham-bold tc">CARACTERÍSTICAS INCLUIDAS</h2>
    <div class="media-container custom_mobile_hidden">
      <div class="media-logo">
        <img
          src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Media-Logo.png?v=1641715228"
          alt="CARACTERÍSTICAS INCLUIDAS"
        >
      </div>
    </div>
    <div class="mobile-media-container custom_mobile_show">
      <div class="media-logo">
        <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Media-Logo-Mobile-1.png?v=1641666769">
      </div>
    </div>
  </div>

  
  <p class="bottom-description">Los términos “DELTA” y “RIVER”, que se mencionan en esta página, se refieren a productos fabricados exclusivamente por ECOFLOW INC.</p>
</div>
{{ 'swiper.min.js' | asset_url | script_tag }}
{{ 'jquery.min.js' | asset_url | script_tag }}
{{ 'custom.js' | asset_url | script_tag }}
{% include 'atb', zone: 'Bottom' %}
<script>
  document.querySelector('a.scroll-link').addEventListener('click', function (e) {
    e.preventDefault();
    var nextSection = document.querySelector('#solar');
    nextSection.scrollIntoView({
      behavior: 'smooth',
    });
  });
</script>
