{% include 'atb' zone:'Top' %}
{{ 'swiper.min.css' | asset_url | stylesheet_tag }}
{{ 'custom.css' | asset_url | stylesheet_tag }}
{{ 'custom-portable-power-station.css' | asset_url | stylesheet_tag }}
{{ 'custom-river-portable-power-station.css' | asset_url | stylesheet_tag }}
{{ 'jquery.min.js' | asset_url | script_tag }}
<div class="custom portable-power-stations river-portable-power-stations">
 <div class="banner-new pr">
    <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/river-portable-power-station-banner.png?v=1672641468" alt="PORTABLE POWER STATIONS" class="overlay-img custom_mobile_hidden banner-product-img">
    <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/river-portable-power-station-banner-mobile.png?v=1672641468" alt="PORTABLE POWER STATIONS" class="overlay-img custom_mobile_show">
    <div class="text pa custom_mobile_hidden">
      <h1 class="title-h1 color-white font-gotham-bold">SERIE RIVER</h1>
    </div>
    <div class="text pa custom_mobile_show tc">
      <h1 class="title-h1 color-white font-gotham-bold"><span class="smoll-title">ECOFLOW</span><br>SERIE RIVER</h1>
    </div>
  </div>
  <div class="new-section-2">
    <div class="text">

      <p class="des font-gotham custom_mobile_hidden"><span class="color-white">¿Busca un equipo de suministro energético para exteriores? Salga al aire libre con energía suficiente para enfrentarse a cualquier situación con una estación de energía portátil de la serie RIVER de EcoFlow. Está especialmente diseñada para acampadas, viajes en caravana e incluso para la vida sin conexión a la red eléctrica.</p>
      <p class="des font-gotham custom_mobile_show text-white">¿Busca un equipo de suministro energético para exteriores? Salga al aire libre con energía suficiente para enfrentarse a cualquier situación con una estación de energía portátil de la serie RIVER de EcoFlow. Está especialmente diseñada para acampadas, viajes en caravana e incluso para la vida sin conexión a la red eléctrica.</p>
    </div>
  </div>
  <div class="new-section-3">
    <div class="custom_mobile_hidden">
      <div class="flex-container">
        <div class="icon-block tc">
          <div class="icon-img">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-section-new-icon-1.png?v=1641228919">
          </div>
          <p class="des font-gotham borders"></p>
          <p class="des font-gotham text">LIGERO y<br>PORTÁTIL</p>
        </div>
        <div class="icon-block tc">
          <div class="icon-img">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-section-new-icon-2.png?v=1641228919">
          </div>
          <p class="des font-gotham borders"></p>
          <p class="des font-gotham text">CAPACIDAD<br>AMPLIABLE</p>
        </div>
        <div class="icon-block tc">
          <div class="icon-img">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-section-new-icon-3.png?v=1641228919">
          </div>
          <p class="des font-gotham borders"></p>
          <p class="des font-gotham text">ALIMENTA VARIOS<br>DISPOSITIVOS</p>
        </div>

      </div>
    </div>

  </div>
  <div class="new-section-5 new-section-common custom">
    <div class="custom_mobile_hidden">
    <div class="flex-container pr">
      <div class="product-serives pr bg-light-grey">
        <a href="https://es.ecoflow.com/products/river-2-portable-power-station">
          <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_EU.png?v=1669092474" class="custom_mobile_hidden">
          <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_EU.png?v=1669092474" class="custom_mobile_show">
        </a>
        <div class="text tc">
          <h3 class="title-h3 font-gotham-bold">RIVER 2 </h3>
          <a class="a-button font-gotham" href="https://es.ecoflow.com/products/river-2-portable-power-station">Comprar Ahora</a>
        </div>
      </div>
      <div class="product-serives pr ">
        <a href="https://es.ecoflow.com/products/river-2-max-portable-power-station">
          <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Max_EU.png?v=1669092474" class="custom_mobile_hidden">
          <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Max_EU.png?v=1669092474" class="custom_mobile_show">
        </a>
        <div class="text tc">
          <h3 class="title-h3 font-gotham-bold">RIVER 2 Max </h3>
          <a class="a-button font-gotham" href="https://es.ecoflow.com/products/river-2-max-portable-power-station">Comprar Ahora</a>
        </div>
      </div>
      <div class="product-serives pr bg-light-grey">
        <a href="https://es.ecoflow.com/products/river-2-pro-portable-power-station">
          <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Pro_EU.png?v=1669092474" class="custom_mobile_hidden">
          <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Pro_EU.png?v=1669092474" class="custom_mobile_show">
        </a>
        <div class="text tc">
          <h3 class="title-h3 font-gotham-bold">RIVER 2 Pro</h3>
          <a class="a-button font-gotham" href="https://es.ecoflow.com/products/river-2-pro-portable-power-station">Comprar Ahora</a>
        </div>
      </div>
    </div>
    </div>

    <div class="custom_mobile_show">
      <div class="swiper-container protable-swiper-container">
        <div class="swiper-wrapper">
          <div class="product-serives pr swiper-slide">
            <a href="https://es.ecoflow.com/products/river-2-portable-power-station">
              <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_EU.png?v=1669092474" class="custom_mobile_hidden">
              <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_EU.png?v=1669092474" class="custom_mobile_show">
            </a>
            <div class="text tc">
              <h3 class="title-h3 font-gotham-bold">RIVER 2 </h3>
              <a class="a-button font-gotham" href="https://es.ecoflow.com/products/river-2-portable-power-station">Comprar Ahora</a>
            </div>
          </div>
          <div class="product-serives pr swiper-slide">
            <a href="https://es.ecoflow.com/products/river-2-max-portable-power-station">
              <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Max_EU.png?v=1669092474" class="custom_mobile_hidden">
              <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Max_EU.png?v=1669092474" class="custom_mobile_show">
            </a>
            <div class="text tc">
              <h3 class="title-h3 font-gotham-bold">RIVER 2 Max </h3>
              <a class="a-button font-gotham" href="https://es.ecoflow.com/products/river-2-max-portable-power-station">Comprar Ahora</a>
            </div>
          </div>
          <div class="product-serives pr swiper-slide">
            <a href="https://es.ecoflow.com/products/river-2-pro-portable-power-station">
              <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Pro_EU.png?v=1669092474" class="custom_mobile_hidden">
              <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Pro_EU.png?v=1669092474" class="custom_mobile_show">
            </a>
            <div class="text tc">
              <h3 class="title-h3 font-gotham-bold">RIVER 2 Pro</h3>
              <a class="a-button font-gotham" href="https://es.ecoflow.com/products/river-2-pro-portable-power-station">Comprar Ahora</a>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <div class="section-6 custom_mobile_hidden">
    <div class="title-container product-parameters">
       <h2 class="title-h2 font-gotham-bold tc">COMPARA LAS ESTACIONES<br>DE ENERGÍA PORTÁTILES RIVER</h2>
      <button type="button" class="show-me-button font-gotham"><i class="iconfont icon-jiahao"></i> MUÉSTRAME</button>

      <div class="show-me">
      <div class="item-container">
        <div class="items-img huise">
          <p class="items-title">RIVER 2</p>

           <a href="https://es.ecoflow.com/products/river-2-portable-power-station" style="">
             <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_EU.png?v=1669092474" alt="PORTABLE POWER STATIONS" class="overlay-img custom_mobile_hidden banner-product-img">
            </a>
          <p class="items-title2">256Wh</p>
          <p class="item-content">Teléfono (11 Wh)<br>20 cargas</p>
          <p class="item-content">Cámara (16 Wh)<br>12,8 cargas</p>
          <p class="item-content">Ordenador portátil (60 Wh)<br>3,4 cargas</p>
          <p class="item-content">Luz (10W )<br>20,5 h</p>
          <p class="item-content">Altavoz (10 W)<br>20,5 h</p>
          <p class="item-content">Hervidor de agua eléctrico (1500 W)<br> -------- </p>
          </div>
        <div class="items-img ">
          <p class="items-title">RIVER 2 Max</p>

          <a href="https://es.ecoflow.com/products/river-2-max-portable-power-station" style="">
              <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Max_EU.png?v=1669092474" alt="PORTABLE POWER STATIONS" class="overlay-img custom_mobile_hidden banner-product-img">
            </a>
          <p class="items-title2">512Wh</p>
          <p class="item-content">Teléfono (11 Wh)<br>41 cargas</p>
          <p class="item-content">Cámara (16 Wh)<br>25,6 cargas</p>
          <p class="item-content">Ordenador portátil (60 Wh)<br>6,8 cargas</p>
          <p class="item-content">Luz (10W )<br>41 h</p>
          <p class="item-content">Altavoz (10 W)<br>41 h</p>
          <p class="item-content">Hervidor de agua eléctrico (1500 W)<br> -------- </p>
        </div>
        <div class="items-img huise">
          <p class="items-title">RIVER 2 Pro</p>

           <a href="https://es.ecoflow.com/products/river-2-pro-portable-power-station" style="">
              <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Pro_EU.png?v=1669092474" alt="PORTABLE POWER STATIONS" class="overlay-img custom_mobile_hidden banner-product-img">
            </a>
          <p class="items-title2">768Wh</p>
          <p class="item-content">Teléfono (11 Wh)<br>61,4 cargas</p>
          <p class="item-content">Cámara (16 Wh)<br>38,4 cargas</p>
          <p class="item-content">Ordenador portátil (60 Wh)<br>10,2 cargas</p>
          <p class="item-content">Luz (10W )<br>61,4 h</p>
          <p class="item-content">Altavoz (10 W)<br>61,4 h</p>
          <p class="item-content">Hervidor de agua eléctrico (1500 W)<br> 0,8 h</p>
        </div>

      </div>
      </div>
     </div>
  </div>

  <div class="section-left-right ch section-container">
    <div class="half text-top custom_mobile_show">
      <div class="text tc">

        <p class="title-1">LA MEJOR<br>ESTACIÓN DE<br>ENERGÍA<br>PORTÁTIL.</p>

        <p class="des"><span class="color-white">SERIE RIVER</span> son todas estaciones de energía portátiles compactas. Son fáciles de transportar y de llevar en el maletero. Todos los modelos pueden sujetarse con una sola mano, ya se trate del más pequeño, RIVER 2, o del de mayor envergadura, RIVER 2 Pro.</p>


      </div>

      <img  src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/mobile_2_1.png?v=1672241531" alt="">
    </div>

    <div class="half half-img half-img-left">
      <img class="custom_mobile_hidden" src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/image_11.png?v=1672241065" alt="">
    </div>
	<div class="half half-text half-text-right custom_mobile_hidden">
      <div class="text tc">

        <p class="des">LA MEJOR ESTACIÓN DE ENERGÍA PORTÁTIL.</p>

      </div>
    </div>
  </div>


  <div class="custom_mobile section-container custom_mobile_show">
    <div class="">
      <div class="text">
        <p class="title-1">Carga rápida en un abrir y cerrar de ojos</p>
        <p class="des">Todas las estaciones de energía de la serie RIVER pueden cargarse rápidamente, en menos de una hora, hasta el 80%, mediante una toma de pared de CA. ¿Se va de acampada? Puede enchufar un panel solar para cargar mediante energía solar y usar su unidad RIVER como generador solar. ¿Está ya en la carretera? También puede recargar con un cargador para vehículos.</p>
      </div>
      <div class="text">
        <p class="title-1">Suministre alimentación a todos sus dispositivos</p>
        <p class="des">Con la tecnología patentada de EcoFlow, la serie RIVER produce hasta 800W, con un pico de 1.600W, lo que le permitirá disfrutar de un equipo para interiores silencioso y apto para la mayoría de sus dispositivos. Es ideal para acampadas, viajes en caravana e incluso para la vida sin conexión a la red eléctrica. Coloque su RIVER sobre cualquier superficie y podrá suministrar alimentación para un total de hasta 10 dispositivos a la vez, gracias a su gran número de puertos.</p>
      </div>
      <div class="text">
        <p class="title-1"></p>
        <p class="des"></p>
      </div>
    </div>
	<div class="">
      <img class="" src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/image_17.png?v=1672241589" alt="">
    </div>

  </div>

  <div class="section-left-right ch mbt section-container custom_mobile_hidden">
    <div class="half half-text half-text-left">
      <div class="text">
        <p class="des">La serie RIVER se compone de estaciones de energía portátiles compactas. Son fáciles de transportar y se pueden llevar en el maletero de tu vehículo. Todos los modelos pueden manejarse y sujetarse con una sola mano, desde el más pequeño, RIVER 2, hasta el de mayor envergadura, RIVER 2 Pro.</p>
      </div>
    </div>
	<div class="half half-img half-img-right">
      <img class="" src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/image_12_1.png?v=1672241125" alt="">
    </div>

  </div>



  <div class="section-left-text pr section-container">
    <div class="half half-text half-text-left">
      <h2 class="title-h2">Carga rápida en un abrir y cerrar de ojos</h2>
      <div class="text">
        <p class="des">Todas las estaciones de energía de la serie RIVER pueden cargarse rápidamente, en menos de una hora, hasta el 80%, mediante una toma de pared de CA. ¿Se va de acampada? Puede enchufar un panel solar para cargar mediante energía solar y usar su unidad RIVER como generador solar. ¿Está ya en la carretera? También puede recargar con un cargador para vehículos.</p>
      </div>
    </div>
	<div class="half half-img half-img-right">
      <img class="custom_mobile_hidden" src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/image_13.png?v=1672241312" alt="">

    </div>

  </div>
  <div class="section-left-text pr section-container tiaoz">

    <div class="half half-img half-img-left">
      <img class="custom_mobile_hidden" src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/image_14.png?v=1672241429" alt="">

    </div>
    <div class="half half-text half-text-right-t">
      <h2 class="title-h2">Suministre alimentación a todos sus dispositivos</h2>
      <div class="text">
        <p class="des">Con la tecnología patentada de EcoFlow, la serie RIVER produce hasta 800W, con un pico de 1.600W, lo que le permitirá disfrutar de un equipo para interiores silencioso y apto para la mayoría de sus dispositivos. Es ideal para acampadas, viajes en caravana e incluso para la vida sin conexión a la red eléctrica. Coloque su RIVER sobre cualquier superficie y podrá suministrar alimentación para un total de hasta 10 dispositivos a la vez, gracias a su gran número de puertos.</p>
      </div>
    </div>


  </div>
  <div class="section-left-text pr section-container">
    <div class="half half-text half-text-left">
      <h2 class="title-h2"></h2>
      <div class="text">
        <p class="des"></p>
      </div>
    </div>
	<div class="half half-img half-img-right">
      <img class="custom_mobile_hidden" src="" alt="">

    </div>

  </div>

  <div class="section-7">
    <div class="bsection-container">
      <div class="faq-block tc">
        <h2 class="title-h2 font-gotham-bold tc">Preguntas frecuentes</h2>

        <div class="show-me" style="display: block;">
          <div class="question">
            <h3 class="title-h3 font-gotham-bold pr">¿Qué hace que la serie RIVER de EcoFlow sea mejor que un generador de gas?
            <div class="iconfont icon-xiajiantou">
              <img class="plus" src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/plus.png?v=1670234230" width="12" height="12">
              <img class="minus active" src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/minus.png?v=1670234230" width="12" height="12">
            </div>
          </h3>
            <div class="des" style="display: block;">
              <p>En pocas palabras, los generadores solares para acampada, como los de la serie RIVER, son mejores productos que los generadores de gas. Son silenciosos, limpios y no necesitan mucho mantenimiento. Si necesita aún más capacidad y potencia, puede seguir disfrutando de productos respetuosos con el medio ambiente escogiendo una estación de energía de mayor tamaño, como las de la serie DELTA de EcoFlow. Los generadores de energía antiguos son una solución anticuada para el suministro de energía en exteriores.</p>
            </div>
          </div>
          <div class="question">
            <h3 class="title-h3 font-gotham-bold pr">
              ¿Cuánta energía suministra una EcoFlow RIVER 2 Max?
              <div class="iconfont icon-shangjiantou">
                <img class="plus" src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/plus.png?v=1670234230" width="12" height="12">
                <img class="minus active" src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/minus.png?v=1670234230" width="12" height="12">
              </div>
            </h3>
            <div class="des">
              <p>Dependerá de los productos a los que se esté suministrando alimentación. Con una EcoFlow RIVER 2 Max de gama media (512 Wh), podrá suministrar energía a un dispositivo de 110W durante 3,7 horas. Por otro lado, si la utiliza como cargador portátil, puede cargar el teléfono al 100% muchas veces, o cargar un ordenador portátil al máximo hasta 6,8 veces.</p>
            </div>
          </div>
          <div class="question">
            <h3 class="title-h3 font-gotham-bold pr">¿A qué velocidad se cargan las estaciones de energía portátiles?
              <div class="iconfont icon-shangjiantou">
                <img class="plus" src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/plus.png?v=1670234230" width="12" height="12">
                <img class="minus active" src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/minus.png?v=1670234230" width="12" height="12">
              </div>
            </h3>
            <div class="des">
              <p>Las estaciones de la serie RIVER de EcoFlow cargan con una rapidez extraordinaria. Todas se cargan hasta el 80% en aproximadamente una hora desde una toma de pared, o en 3-8 horas por medio de paneles solares, en función del número de paneles que use y del tamaño de la estación de energía portátil que escoja.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="section-8" style="display: none;">
    <h2 class="title-h3 font-gotham-bold big-title tc">CARACTERÍSTICAS INCLUIDAS</h2>
    <div class="media-container custom_mobile_hidden">
      <div class="media-logo">
        <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Media-Logo.png?v=1641715228">
      </div>
<!--       <div class="media-logo">
        <img src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Media-1.jpg?v=1638467755">
      </div>
      <div class="media-logo">
        <img src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Media-2.jpg?v=1638467755">
      </div>
      <div class="media-logo">
        <img src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Media-3.jpg?v=1638467755">
      </div>
      <div class="media-logo">
        <img src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Media-4.jpg?v=1638467755">
      </div> -->
    </div>
    <div class="mobile-media-container custom_mobile_show">
      <div class="media-logo">
        <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Media-Logo-Mobile-1.png?v=1641666769">
      </div>
    </div>
  </div>
</div>


<script>
$(function() {
    $(".section-75 .show-content .title-h6").click(function() {
        if ($(this).parent(".content-slide").hasClass("active-slide"))
            return !1;
        $(this).parents(".show-content").children(".content-slide").each(function() {
            $(this).hasClass("active-slide") && ($(this).children(".des").slideToggle("slow"),
            $(this).removeClass("active-slide"))
        }),
        $(this).next(".des").slideToggle("slow"),
        $(this).parent(".content-slide").addClass("active-slide")
    })
});
//# sourceMappingURL=/s/files/1/1996/9707/t/60/assets/custom.js.map?v=13801754685275373918

</script>
{% include 'atb' zone:'Bottom' %}
{{ 'swiper.min.js' | asset_url | script_tag }}
{{ "custom.js" | asset_url | script_tag }}
