{% include 'atb', zone: 'Top' %}
{{ 'swiper.min.css' | asset_url | stylesheet_tag }}
{{ 'es-portable-power-station.css' | asset_url | stylesheet_tag }}
{{ 'jquery.min.js' | asset_url | script_tag }}


<div class="custom portable-power-stations">
  <div class="banner pr">
    <img
      src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/ecoflow-banner-portable-power-station.jpg?v=1675091207"
      alt="powerstation"
      class="overlay-img custom_mobile_hidden"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/ecoflow-banner-portable-power-station-M.jpg?v=1675091207"
      alt="powerstation"
      class="overlay-img custom_mobile_show"
    >
    <div class="text pa">
      <h1 class="title-h1 color-white big-title font-gotham-bold">
        Estaciones de energía <br>portátiles Ecoflow</h1>
      </h1>
      <div class="banner--btn">
        <a class="banner-button color-teal left" href="#solar">
          <p class="font-gotham color-teal">Seguir Leyendo</p>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM8.98242 5C8.98242 4.58579 8.64664 4.25 8.23242 4.25C7.81821 4.25 7.48242 4.58579 7.48242 5V10.0156L5.53033 8.06349C5.23744 7.77059 4.76256 7.77059 4.46967 8.06349C4.17678 8.35638 4.17678 8.83125 4.46967 9.12415L7.70185 12.3563C7.99475 12.6492 8.46962 12.6492 8.76251 12.3563L11.9947 9.12415C12.2876 8.83125 12.2876 8.35638 11.9947 8.06349C11.7018 7.77059 11.2269 7.77059 10.934 8.06349L8.98242 10.0151V5Z" fill="#0ECFE2"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="section-container-black">

  <div id="solar" class="section-2">
    <div class="text">
      <h2 class="title-h1 big-title font-gotham-bold big-title-2">¿Qué es una <br>estación de <br>energía portátil?</h2>
    </div>
  </div>
  <div class="section-3">
    <div class="text">
      <p class="des font-gotham">Una batería solar puede verse como un pequeño generador capaz de almacenar la energía producida por paneles fotovoltaicos. Por lo tanto, su función es garantizar un suministro de energía en cualquier circunstancia, de día y de noche, sin importar dónde se encuentre. Si desea utilizar un dispositivo de este tipo, la batería solar externa de EcoFlow supone la opción más interesante. Con gran cantidad de tomas eléctricas de diferentes formatos, se adapta a cada uno de sus dispositivos para brindarle una fuente de energía fiable, limpia y silenciosa.</p>
    </div>
  </div>
</div>
  {% comment %} <div class="banner-new pr">
    <img
      src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Banner-3.jpg?v=1641312027"
      alt="estacion de energia portatil"
      class="overlay-img custom_mobile_hidden banner-product-img"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-MB-Banner-2.jpg?v=1641488224"
      alt="estacion de energia portatil"
      class="overlay-img custom_mobile_show"
    >
    <div class="text pa custom_mobile_hidden">
      <h1 class="title-h1 color-white font-gotham-bold">Estaciones de energía portátiles Ecoflow</h1>
    </div>
    <div class="text pa custom_mobile_show tc">
      <h1 class="title-h1 color-white font-gotham-bold">
        Estaciones<br>
        de energía portátiles<br>
        Ecoflow
      </h1>
    </div>
  </div> {% endcomment %}
  {% comment %} <div class="new-section-2">
    <div class="text">
      <h2 class="title-h2 color-white font-gotham-bold">¿Qué es una estación de energía portátil?</h2>
      <p class="des font-gotham color-white tc">
        Una batería solar puede verse como un pequeño generador capaz de almacenar la energía producida por paneles
        fotovoltaicos. Por lo tanto, su función es garantizar un suministro de energía en cualquier circunstancia, de
        día y de noche, sin importar dónde se encuentre. Si desea utilizar un dispositivo de este tipo, la batería solar
        externa de EcoFlow supone la opción más interesante. Con gran cantidad de tomas eléctricas de diferentes
        formatos, se adapta a cada uno de sus dispositivos para brindarle una fuente de energía fiable, limpia y
        silenciosa.
      </p>
      {% comment %}
        <p class="des font-gotham custom_mobile_hidden"><span class="color-white">EcoFlow portable power stations</span> are <span class="color-white">battery-powered</span> generators that keep your gear <span class="color-white">charged up</span> and ready wherever you are. From <span class="color-white">family camping to home backup,</span> get yourself convenient power <span class="color-white">without the noise,</span> fumes, and fuss of a traditional gas generator.</p>
        <p class="des font-gotham custom_mobile_show"><span class="color-white">EcoFlow portable<br>power stations</span> are<br><span class="color-white">battery-powered</span> generators that keep<br>your gear <span class="color-white">charged up</span><br>and ready wherever<br>you are. From <span class="color-white">family<br>camping to home<br>backup,</span> get yourself<br>convenient power<br><span class="color-white">without the noise,</span><br>fumes, and fuss of a<br>traditional gas<br>generator.</p>
      {% endcomment %}
    </div>
  </div> {% endcomment %}
  <div class="new-section-3">
    <div class="custom_mobile_hidden">
      <div class="flex-container">
        <div class="icon-block tc">
          <div class="icon-img">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-section-new-icon-1.png?v=1641228919">
          </div>
          <p class="des font-gotham">
            Diseño <br>
            portátil
          </p>
        </div>
        <div class="icon-block tc">
          <div class="icon-img">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-section-new-icon-2.png?v=1641228919">
          </div>
          <p class="des font-gotham">
            Energía <br>
            renovable
          </p>
        </div>
        <div class="icon-block tc">
          <div class="icon-img">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-section-new-icon-3.png?v=1641228919">
          </div>
          <p class="des font-gotham">
            Apto para <br>
            interiores
          </p>
        </div>
        <div class="icon-block tc">
          <div class="icon-img">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-section-new-icon-4.png?v=1641228919">
          </div>
          <p class="des font-gotham">
            Carga <br>
            rápida
          </p>
        </div>
      </div>
    </div>
    <div class="custom_mobile_show">
      <div class="flex-container">
        <div class="icon-block tc">
          <div class="icon-img">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-section-new-icon-1.png?v=1641228919">
          </div>
          <p class="des font-gotham">
            DISEÑO<br>
            PORTÁTIL
          </p>
        </div>
        <div class="icon-block tc">
          <div class="icon-img">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-section-new-icon-2.png?v=1641228919">
          </div>
          <p class="des font-gotham">
            CARGAR<br>
            RENOVABLE
          </p>
        </div>
      </div>
      <div class="flex-container">
        <div class="icon-block tc">
          <div class="icon-img">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-section-new-icon-3.png?v=1641228919">
          </div>
          <p class="des font-gotham">
            ADECUADO<br>
            INTERIORMENTE
          </p>
        </div>
        <div class="icon-block tc">
          <div class="icon-img">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-section-new-icon-4.png?v=1641228919">
          </div>
          <p class="des font-gotham">
            CARGAR<br>
            RÁPIDO
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="new-section-4">
    <div class="section-4-container">
      <div class="section-left fl custom_mobile_show">
        <img
          src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Ecoflow-Delta-Series.jpg?v=1638356951"
          alt="estacion de energia delta"
        >
      </div>
      <div class="h-block">
        <h2 class="title-h2 font-gotham-bold">Una batería solar nómada para interiores y exteriores</h2>
      </div>
      <div class="section-content">
        <div class="section-left fl custom_mobile_hidden">
          <img
            src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Ecoflow-Delta-Series.jpg?v=1638356951"
            alt="estacion de energia delta"
          >
        </div>
        <div class="section-right fr">
          <div class="text">
            <h4 class="title-h4 font-gotham-bold">Una estación de energía portátil potente para sus salidas</h4>
            <p class="des font-gotham">
              Pensada y diseñada como una verdadera batería solar portátil, la serie DELTA ofrece capacidades de entre
              1024 Wh y 3600 Wh. Ordenadores, teléfonos móviles, electrodomésticos; sus diferentes salidas y su potencia
              energética le permiten adaptarse a todos sus dispositivos con total fiabilidad. Sus grandes capacidades la
              convierten en una potente batería nómada, capaz de adaptarse a todas las situaciones.
            </p>
            <h4 class="title-h4 font-gotham-bold mt48">Una batería solar para su hogar</h4>
            <p class="des font-gotham">
              En caso de corte de energía o mal tiempo, la batería de la serie EcoFlow DELTA se transforma en un
              verdadero generador de pequeño tamaño. Su potencial de almacenamiento le permite tener una fuente de
              energía adicional, que se adapta a todos sus dispositivos. Con su capacidad de 1,2 kWh, la serie DELTA
              combina la portabilidad con una eficiencia de carga que puede alimentar sus dispositivos durante horas sin
              interferencias.
            </p>
            {% comment %}
              <a class="a-button font-gotham custom_mobile_hidden" href="https://es.ecoflow.com/pages/delta-portable-power-stations" target="_blank" rel="null noopener" aria-describedby="a11y-new-window-message">En savoir plus</a>
              <div class="custom_mobile_show tc"><a class="a-button font-gotham" href="https://es.ecoflow.com/pages/delta-portable-power-stations" target="_blank" rel="null noopener" aria-describedby="a11y-new-window-message">En savoir plus</a></div>
            {% endcomment %}
          </div>
          {% comment %} <p class="des font-gotham custom_mobile_show"><span class="color-black">EcoFlow DELTA portable power stations</span> are the gold standard for portable home power. With huge power outputs, large capacities, fast-charging, and renewable charging, the DELTA series offers a reliable portable power supply that keeps your fridge, lights, and other devices running in emergencies.</p> {% endcomment %}
        </div>
        <div style="clear:both;"></div>
      </div>
    </div>
  </div>
  {% comment %}
    <div class="new-section-5 new-section-common">
      <div class="flex-container pr">
        <div class="product-serives pr">
          <a href="https://es.ecoflow.com/products/delta-mini-portable-power-station">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Ecoflow-Delta-Series-1.jpg?v=1641313807" class="custom_mobile_hidden">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Ecoflow-Delta-Series-1-Mb.jpg?v=1641660496" class="custom_mobile_show">
          </a>
          <div class="text pa tc">
            <h3 class="title-h3 font-gotham-bold">ECOFLOW DELTA MINI</h3>
            <a class="a-button font-gotham" href="https://es.ecoflow.com/products/delta-mini-portable-power-station">Comprar ahora</a>
          </div>
        </div>
        <div class="product-serives pr">
          <a href="https://es.ecoflow.com/products/delta-portable-power-station">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Ecoflow-Delta-Series-2.jpg?v=1641313807" class="custom_mobile_hidden">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Ecoflow-Delta-Series-2-Mb.jpg?v=1641660496" class="custom_mobile_show">
          </a>
          <div class="text pa tc">
            <h3 class="title-h3 font-gotham-bold">ECOFLOW DELTA</h3>
            <a class="a-button font-gotham" href="https://es.ecoflow.com/products/delta-portable-power-station">Comprar ahora</a>
          </div>
        </div>
      </div>
      <div class="flex-container pr">
        <div class="product-serives pr">
          <a href="https://es.ecoflow.com/products/delta-max-portable-power-station">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Ecoflow-Delta-Series-3.jpg?v=1641313807" class="custom_mobile_hidden">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Ecoflow-Delta-Series-3-Mb.jpg?v=1641660496" class="custom_mobile_show">
          </a>
          <div class="text pa tc">
            <h3 class="title-h3 font-gotham-bold">ECOFLOW DELTA MAX</h3>
            <a class="a-button font-gotham" href="https://es.ecoflow.com/products/delta-max-portable-power-station">Comprar ahora</a>
          </div>
        </div>
        <div class="product-serives pr">
          <a href="https://es.ecoflow.com/products/delta-pro-portable-power-station">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Ecoflow-Delta-Series-4.jpg?v=1641313807" class="custom_mobile_hidden">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Ecoflow-Delta-Series-4-Mb.jpg?v=1641660496" class="custom_mobile_show">
          </a>
          <div class="text pa tc">
            <h3 class="title-h3 font-gotham-bold">ECOFLOW DELTA PRO</h3>
            <a class="a-button font-gotham" href="https://es.ecoflow.com/products/delta-pro-portable-power-station">Comprar ahora</a>
          </div>
        </div>
      </div>
    </div>
  {% endcomment %}

  <div class="section-5 section-common">
    <div class="section-container">
      <div class="section-content">
        <div class="section-content products-container">
          <div class="show-products">
            <div class="custom_mobile_hidden">
              <div class="flex-container">
                <div class="section-product tc river2">
                  <h6 class="title-h6 product-title font-gotham-bold custom_mobile_show">EcoFlow DELTA 2</h6>
                  <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/portable-power-station-delta-2.png?v=1662436842">
                  <h6 class="title-h6 product-title font-gotham-bold custom_mobile_hidden">EcoFlow DELTA 2</h6>
                  <div class="">
                    <a
                      class="a-button font-gotham"
                      href="https://es.ecoflow.com/products/delta-2-portable-power-station"
                      >Adquirir Ahora</a
                    >
                  </div>
                </div>
                <div class="section-product tc river2">
                  <h6 class="title-h6 product-title font-gotham-bold custom_mobile_show">EcoFlow DELTA 2 Max</h6>
                  <img src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/delta2-max.png?v=1693966910">
                  <h6 class="title-h6 product-title font-gotham-bold custom_mobile_hidden">EcoFlow DELTA 2 Max</h6>
                  <div class="">
                    <a
                      class="a-button font-gotham"
                      href="https://es.ecoflow.com/products/delta-2-max-portable-power-station"
                      >Adquirir Ahora</a
                    >
                  </div>
                </div>
                <div class="section-product tc river2">
                  <h6 class="title-h6 product-title font-gotham-bold custom_mobile_show">EcoFlow DELTA Max</h6>
                  <img src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Product-Delta-s-2.png?v=1640017172">
                  <h6 class="title-h6 product-title font-gotham-bold custom_mobile_hidden">EcoFlow DELTA Max</h6>
                  <div class="">
                    <a
                      class="a-button font-gotham"
                      href="https://es.ecoflow.com/products/delta-max-portable-power-station"
                      >Adquirir Ahora</a
                    >
                  </div>
                </div>
                <div class="section-product tc river2">
                  <h6 class="title-h6 product-title font-gotham-bold custom_mobile_show">EcoFlow DELTA Pro</h6>
                  <img src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/Collection-Page-Portable-Power-Station-Product-Delta-s-ou-4.png?v=1644459366">
                  <h6 class="title-h6 product-title font-gotham-bold custom_mobile_hidden">EcoFlow DELTA Pro</h6>
                  <div class="">
                    <a
                      class="a-button font-gotham"
                      href="https://es.ecoflow.com/products/delta-pro-portable-power-station"
                      >Adquirir Ahora</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="custom_mobile_show">
              <div class="swiper-container products-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="section-product tc">
                      <div class="img-block">
                        <a href="https://es.ecoflow.com/products/delta-2-portable-power-station"
                          ><img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/portable-power-station-delta-2.png?v=1662436842"
                        ></a>
                      </div>
                      <h6 class="title-h6 product-title font-gotham-bold">EcoFlow DELTA 2</h6>
                      <div class="">
                        <a
                          class="a-button font-gotham"
                          href="https://es.ecoflow.com/products/delta-2-portable-power-station"
                          >Adquirir Ahora</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="section-product tc">
                      <div class="img-block">
                        <a href="https://es.ecoflow.com/products/delta-2-max-portable-power-station"
                          ><img src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/delta2-max.png?v=1693966910"
                        ></a>
                      </div>
                      <h6 class="title-h6 product-title font-gotham-bold">EcoFlow DELTA 2 Max</h6>
                      <div class="">
                        <a
                          class="a-button font-gotham"
                          href="https://es.ecoflow.com/products/delta-2-max-portable-power-station"
                          >Adquirir Ahora</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="section-product tc">
                      <div class="img-block">
                        <a href="https://es.ecoflow.com/products/delta-max-portable-power-station">
                          <img src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Product-Delta-s-2.png?v=1640017172"
                        ></a>
                      </div>
                      <h6 class="title-h6 product-title font-gotham-bold">EcoFlow DELTA Max</h6>
                      <div class="">
                        <a
                          class="a-button font-gotham"
                          href="https://es.ecoflow.com/products/delta-max-portable-power-station"
                          >Adquirir Ahora</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="section-product tc">
                      <div class="img-block">
                        <a href="https://es.ecoflow.com/products/delta-pro-portable-power-station">
                          <img src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/Collection-Page-Portable-Power-Station-Product-Delta-s-ou-4.png?v=1644459366"
                        ></a>
                      </div>
                      <h6 class="title-h6 product-title font-gotham-bold">EcoFlow DELTA Pro</h6>
                      <div class="">
                        <a
                          class="a-button font-gotham"
                          href="https://es.ecoflow.com/products/delta-pro-portable-power-station"
                          >Adquirir Ahora</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="new-section-6 section-show-product custom_mobile_hidden">
    <div class="product-parameters tc">
      <h3 class="title-h3 font-gotham-bold tc">
        COMPARACIÓN DE LAS ESTACIONES<br>
        DE ENERGÍA PORTÁTILES ECOFLOW DELTA
      </h3>
      <button type="button" class="show-me-button font-gotham"><i class="iconfont icon-jiahao"></i> MUÉSTRAME</button>
      <div class="show-me">
          <div class="flex-container">
              <div class="product-parameter bg-dark-gray " data-handle="delta-2-portable-power-station">
                <h6 class="title-h6 font-gotham-bold">EcoFlow DELTA 2</h6>
                <a href="https://es.ecoflow.com/products/delta-2-portable-power-station" data-bss-pl="active">
                  <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/portable-power-station-delta-2-mobile.png?v=1662437035">
                </a>
                <p class="capacity font-gotham-bold divider parameter-spacing">1024 Wh</p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Teléfono (11Wh) <br>
                  Carga 89 veces
                </p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Laptop / (60W) <br>
                  Carga 16 veces
                </p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Mini Nevera (60Wh)<br>
                  16 Horas
                </p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Batidora (500 W) <br>
                  1,8 Horas
                </p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Cafetera (1000W) <br>
                  0,8 Horas
                </p>
                <p class="other-parameter font-gotham-bold parameter-spacing">
                  Freidora sin aceite (1500 W) <br>
                  0,5 Horas
                </p>
              </div>
              <div class="product-parameter bg-light-grey " data-handle="delta-2-portable-power-station">
                <h6 class="title-h6 font-gotham-bold">EcoFlow DELTA 2 Max</h6>
                <a href="https://uk.ecoflow.com/products/delta-2-portable-power-station" data-bss-pl="active">
                  <img src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/delta-2-max-comparison.png?v=1693966910">
                </a>
                <p class="capacity font-gotham-bold divider parameter-spacing">2048Wh</p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Teléfono (11Wh) <br>
                  143 charges
                </p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Laptop (60Wh) <br>
                  25 charges
                </p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Mini Nevera (60Wh)<br>
                  27 hrs
                </p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Batidora (500 W) <br>
                  3.8 hrs
                </p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Cafetera (1000W) <br>
                  1.63 hrs
                </p>
                <p class="other-parameter font-gotham-bold parameter-spacing">
                  Freidora sin aceite (1500W) <br>
                  1.3 hrs
                </p>
              </div>
              <div class="product-parameter bg-dark-gray " data-handle="delta-max-portable-power-station">
                <h6 class="title-h6 font-gotham-bold">EcoFlow DELTA Max</h6>
                <a href="https://es.ecoflow.com/products/delta-max-portable-power-station" data-bss-pl="active">
                  <img src="https://cdn.shopifycdn.net/s/files/1/0625/0718/8450/files/Collection-Page-Portable-Power-Station-Product-Delta-s-2-small.png?v=1647159199">
                </a>
                <p class="capacity font-gotham-bold divider parameter-spacing">2016Wh</p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Teléfono (11 Wh)<br>
                  175 veces
                </p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Ordenador portátil (60 Wh)<br>
                  32 veces
                </p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Mini Nevera (60Wh)<br>
                  33 h
                </p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Batidora (500 W)<br>
                  3,8 h
                </p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Cafetera (1000 W)<br>
                  1,9 h
                </p>
                <p class="other-parameter font-gotham-bold parameter-spacing">
                  Freidora sin aceite (1500 W)<br>
                  1,2 h
                </p>
              </div>
              <div class="product-parameter bg-light-grey " data-handle="ecoflow-delta-pro-portable-power-station">
                <h6 class="title-h6 font-gotham-bold">EcoFlow DELTA Pro</h6>
                <a href="https://es.ecoflow.com/products/delta-pro-portable-power-station" data-bss-pl="active">
                  <img src="https://cdn.shopifycdn.net/s/files/1/0625/0718/8450/files/Collection-Page-Portable-Power-Station-Product-Delta-s-ou-4-small.png?v=1647157315">
                </a>
                <p class="capacity font-gotham-bold divider parameter-spacing">3600Wh</p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Teléfono (11 Wh)<br>
                  313 veces
                </p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Ordenador portátil (60 Wh)<br>
                  57 veces
                </p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Mini Nevera (60Wh)<br>
                  57 h
                </p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Batidora (500 W)<br>
                  6,5 h
                </p>
                <p class="other-parameter font-gotham-bold divider parameter-spacing">
                  Cafetera (1000 W)<br>
                  3,3 h
                </p>
                <p class="other-parameter font-gotham-bold parameter-spacing">
                  Freidora sin aceite (1500 W)<br>
                  2,2 h
                </p>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="new-section-7">
    <div class="section-7-container">
      <div class="section-left fl custom_mobile_show">
        <img
          src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/d8109560d135c13b7c218f7d103b322f.png?v=1672649160"
          alt="estacion de energia river"
        >
      </div>
      <div class="h-block">
        <h2 class="title-h2 font-gotham-bold">EcoFlow River: Una estación de energía portátil de carga rápida</h2>
      </div>
      <div class="section-content">
        <div class="section-left fl custom_mobile_hidden">
          <img
            src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/d8109560d135c13b7c218f7d103b322f.png?v=1672649160"
            alt="estacion de energia river"
            class="custom_mobile_hidden"
          >
        </div>
        <div class="section-right fr">
          <div class="text">
            <h4 class="title-h4 font-gotham-bold">Una batería solar para su hogar</h4>
            <p class="des font-gotham">
              Para poder ofrecerle una solución totalmente adaptada a sus necesidades, EcoFlow amplía su serie de
              baterías solares y le ofrece la serie RIVER; una estación de energía portátil con una capacidad de entre
              256Wh y 768Wh, ideal para sus salidas de camping. Esta estación de energía portátil consta de varios
              enchufes eléctricos, de diferentes formatos, capaces de alimentar varios dispositivos simultáneamente.
              Reconocida como la mejor batería solar de litio del mercado en términos de flexibilidad, la estación de
              energía solar portátil de EcoFlow ofrece la función patentada ‌X-Stream, que ofrece un 80%‌ ‌de carga‌
              ‌en‌ tan solo una hora.
            </p>
            <p class="des font-gotham" style="margin-top: 22px;">
              ¿Quiere aventurarse a lo desconocido? ¡Nuestra estación de energía portátil RIVER será su mejor compañera!
            </p>
            {% comment %} <p class="des font-gotham custom_mobile_show"><span class="color-white">Looking for a portable power source for<br>your next adventure?</span> EcoFlow RIVER<br>portable power stations keep everything<br>from small cooking equipment to camera<br>gear running. They charge by AC, solar,<br>and car, and they're small enough to carry<br>on the go, making them perfect portable<br>power stations for camping.</p> {% endcomment %}
          </div>
        </div>
        <div style="clear:both;"></div>
      </div>
    </div>
  </div>
  <div class="new-section-8 new-section-common custom">
    <div class="custom_mobile_hidden">
    <div class="flex-container pr">
      <div class="product-serives pr bg-light-grey">
        <a href="https://es.ecoflow.com/products/river-2-portable-power-station">
          <img
            src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_EU.png?v=1669092474"
            class="custom_mobile_hidden"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_EU.png?v=1669092474"
            class="custom_mobile_show"
          >
        </a>
        <div class="text tc">
          <h3 class="title-h3 font-gotham-bold">EcoFlow RIVER 2</h3>
          <a class="a-button font-gotham" href="https://es.ecoflow.com/products/river-2-portable-power-station"
            >Comprar Ahora</a
          >
        </div>
      </div>
      <div class="product-serives pr">
        <a href="https://es.ecoflow.com/products/river-2-max-portable-power-station">
          <img
            src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Max_EU.png?v=1669092474"
            class="custom_mobile_hidden"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Max_EU.png?v=1669092474"
            class="custom_mobile_show"
          >
        </a>
        <div class="text tc">
          <h3 class="title-h3 font-gotham-bold">EcoFlow RIVER 2 Max</h3>
          <a class="a-button font-gotham" href="https://es.ecoflow.com/products/river-2-max-portable-power-station"
            >Comprar Ahora</a
          >
        </div>
      </div>
      <div class="product-serives pr bg-light-grey">
        <a href="https://es.ecoflow.com/products/river-2-pro-portable-power-station">
          <img
            src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Pro_EU.png?v=1669092474"
            class="custom_mobile_hidden"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Pro_EU.png?v=1669092474"
            class="custom_mobile_show"
          >
        </a>
        <div class="text tc">
          <h3 class="title-h3 font-gotham-bold">EcoFlow RIVER 2 Pro</h3>
          <a class="a-button font-gotham" href="https://es.ecoflow.com/products/river-2-pro-portable-power-station"
            >Comprar Ahora</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="custom_mobile_show">
    <div class="swiper-container products-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="section-product tc">
            <div class="img-block">
              <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/EU_River2.png?v=1669626101">
            </div>
            <h6 class="title-h3 product-title font-gotham-bold">EcoFlow RIVER 2</h6>
            <div class="">
              <a class="a-button font-gotham" href="https://es.ecoflow.com/products/river-2-portable-power-station"
              >Comprar Ahora</a
            >
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section-product tc">
            <div class="img-block">
              <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/EU_River_2_Max.png?v=1669626102">
            </div>
            <h6 class="title-h3 product-title font-gotham-bold">EcoFlow RIVER 2 Max</h6>
            <div class="">
              <a class="a-button font-gotham" href="https://es.ecoflow.com/products/river-2-max-portable-power-station"
              >Comprar Ahora</a
            >
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section-product tc">
            <div class="img-block">
              <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/EU_River2_Pro.png?v=1669626102">
            </div>
            <h6 class="title-h3 product-title font-gotham-bold">EcoFlow RIVER 2 Pro</h6>
            <div class="">
              <a class="a-button font-gotham" href="https://es.ecoflow.com/products/river-2-pro-portable-power-station"
              >Comprar Ahora</a
            >
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>

  <div class="new-section-9 section-show-product custom_mobile_hidden">
    <div class="product-parameters tc">
      <h3 class="title-h3 font-gotham-bold tc">
        COMPARACIÓN DE LAS ESTACIONES<br>
        DE ENERGÍA PORTÁTILES ECOFLOW RIVER
      </h3>
      <button type="button" class="show-me-button font-gotham"><i class="iconfont icon-jiahao"></i> MUÉSTRAME</button>
      <div class="show-me">
        <div class="flex-container">
          <div class="product-parameter bg-dark-gray">
            <h6 class="title-h6 font-gotham-bold">EcoFlow RIVER 2</h6>
            <a href="https://es.ecoflow.com/products/river-2-portable-power-station">
              <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_EU.png?v=1669092474">
            </a>
            <p class="capacity font-gotham-bold divider parameter-spacing">256Wh</p>
            <p class="other-parameter font-gotham-bold divider parameter-spacing">
              Teléfono (11 Wh)<br>
              20 veces
            </p>
            <p class="other-parameter font-gotham-bold divider parameter-spacing">
              Cámara (16Wh)<br>
              12,8 veces
            </p>
            <p class="other-parameter font-gotham-bold divider parameter-spacing">
              Laptop (60Wh)<br>
              3,4 veces
            </p>
            <p class="other-parameter font-gotham-bold divider parameter-spacing">
              Luz (10W )<br>
              20,5 h
            </p>
            <p class="other-parameter font-gotham-bold divider parameter-spacing">
              Altavoz (10 W)<br>
              20,5 h
            </p>
            <p class="other-parameter font-gotham-bold parameter-spacing">
              Hervidor de agua eléctrico (1500 W)<br>
              --------
            </p>
          </div>
          <div class="product-parameter bg-light-grey">
            <h6 class="title-h6 font-gotham-bold">EcoFlow RIVER 2 Max</h6>
            <a href="https://es.ecoflow.com/products/river-2-max-portable-power-station">
              <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Max_EU.png?v=1669092474">
            </a>
            <p class="capacity font-gotham-bold divider parameter-spacing">512Wh</p>
            <p class="other-parameter font-gotham-bold divider parameter-spacing">
              Teléfono (11Wh)<br>
              41 veces
            </p>
            <p class="other-parameter font-gotham-bold divider parameter-spacing">
              Cámara (16Wh)<br>
              25,6 veces
            </p>
            <p class="other-parameter font-gotham-bold divider parameter-spacing">
              Laptop (60Wh)<br>
              6,8 veces
            </p>
            <p class="other-parameter font-gotham-bold divider parameter-spacing">
              Luz (10W )<br>
              41 h
            </p>
            <p class="other-parameter font-gotham-bold divider parameter-spacing">
              Altavoz (10 W)<br>
              41 h
            </p>
            <p class="other-parameter font-gotham-bold parameter-spacing">
              Hervidor de agua eléctrico (1500 W)<br>
              --------
            </p>
          </div>
          <div class="product-parameter bg-dark-gray">
            <h6 class="title-h6 font-gotham-bold">EcoFlow RIVER 2 Pro</h6>
            <a href="https://es.ecoflow.com/products/river-2-pro-portable-power-station">
              <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Pro_EU.png?v=1669092474">
            </a>
            <p class="capacity font-gotham-bold divider parameter-spacing">768Wh</p>
            <p class="other-parameter font-gotham-bold divider parameter-spacing">
              Teléfono (11Wh)<br>
              61,4 veces
            </p>
            <p class="other-parameter font-gotham-bold divider parameter-spacing">
              Cámara (16Wh)<br>
              38,4 veces
            </p>
            <p class="other-parameter font-gotham-bold divider parameter-spacing">
              Laptop (60Wh)<br>
              10,2 veces
            </p>
            <p class="other-parameter font-gotham-bold divider parameter-spacing">
              Luz (10W )<br>
              61,4 h
            </p>
            <p class="other-parameter font-gotham-bold divider parameter-spacing">
              Altavoz (10 W)<br>
              61,4 h
            </p>
            <p class="other-parameter font-gotham-bold parameter-spacing">
              Hervidor de agua eléctrico (1500 W)<br>
              0,8 h
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-65 section-common">
    <div class="section-container">
      <div class="top-text">
        <div class="h-block">
          <h2 class="title-h2 font-gotham-bold">Batería y paneles solares, una fuente de energía responsable</h2>
        </div>
        <p class="des">
          ¿Está buscando una fuente de energía renovable? ¡Su batería EcoFlow se convierte en una estación solar
          autónoma! Conecte sus paneles solares EcoFlow a su estación de energía solar portátil para disfrutar de una
          fuente de energía limpia y fiable.
        </p>
      </div>
      <div class="section-common">
        <div class="section-content">
          <div class="section-left fl custom_mobile_hidden">
            <img
              src="https://cdn.shopify.com/s/files/1/0649/2533/5793/files/portable-power-station-2.png?v=1678191387"
              alt="estacion de energia"
            >
          </div>
          <div class="section-left fl custom_mobile_show">
            <img
              src="https://cdn.shopify.com/s/files/1/0649/2533/5793/files/pps-2-mobile.png?v=1678191339"
              alt="estacion de energia"
            >
          </div>
          <div class="section-right fr">
            <div class="text">
              <h4 class="title-h4 font-gotham-bold">
                <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M41.5389 9.81079H10.4412C6.64127 9.81079 3.56085 12.8912 3.56085 16.6911V43.5576C3.56085 47.3575 6.64127 50.4379 10.4412 50.4379H41.5389C45.3388 50.4379 48.4192 47.3575 48.4192 43.5576V16.6911C48.4192 12.8912 45.3388 9.81079 41.5389 9.81079Z" stroke="#212121" stroke-width="3" stroke-linejoin="round"></path>
                  <path d="M48.5102 19.3948H51.4442C54.1963 19.3948 56.4453 21.6438 56.4453 24.3959V35.859C56.4453 38.6111 54.1963 40.8601 51.4442 40.8601H48.8315" stroke="#212121" stroke-width="3" stroke-linejoin="round"></path>
                  <path d="M34.6162 27.7724H28.3421V16.2668L17.3639 32.4765H23.638V43.982L34.6162 27.7724Z" fill="#0ECFE2" stroke="#0ECFE2" stroke-width="3" stroke-linejoin="round"></path>
                </svg>
                <span>Carga rápida y segura</span>
              </h4>
              <p class="des">
                Nuestras baterías para paneles solares ofrecen la posibilidad de conectar hasta 2 paneles solares
                EcoFlow, para una carga rápida y segura, utilizando únicamente energía solar.
              </p>
              <h4 class="title-h4 font-gotham-bold">
                <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.25 53.75C16.25 45.4674 22.6875 38.75 30.625 38.75C38.5625 38.75 45 45.4674 45 53.75H16.25Z" stroke="#212121" stroke-width="3" stroke-linejoin="round"></path>
                  <path d="M29.5992 28.8479L7.75763 7.00635" stroke="#0ECFE2" stroke-width="3" stroke-linejoin="round"></path>
                  <path d="M30.7579 28.8479L52.5995 7.00635" stroke="#0ECFE2" stroke-width="3" stroke-linejoin="round"></path>
                  <path d="M25.0031 11.0295C31.1957 17.2221 29.5993 28.8478 29.5993 28.8478C29.5993 28.8478 17.9672 30.4378 11.781 24.2516C5.58832 18.059 7.18476 6.43328 7.18476 6.43328C7.18476 6.43328 18.8169 4.84328 25.0031 11.0295Z" stroke="#212121" stroke-width="3" stroke-linejoin="round"></path>
                  <path d="M35.3541 11.0295C29.1615 17.2221 30.7579 28.8478 30.7579 28.8478C30.7579 28.8478 42.3901 30.4378 48.5763 24.2516C54.7689 18.059 53.1725 6.43328 53.1725 6.43328C53.1725 6.43328 41.5403 4.84328 35.3541 11.0295V11.0295Z" stroke="#212121" stroke-width="3" stroke-linejoin="round"></path>
                  <path d="M30 38.75V30" stroke="#212121" stroke-width="3" stroke-linejoin="round"></path>
                </svg>
                <span>Eco-responsable</span>
              </h4>
              <p class="des">
                Diga no a las fuentes de energía contaminantes como los generadores térmicos. Nuestras baterías solares
                EcoFlow están en sintonía con las necesidades ambientales para brindarle una solución adaptada al mundo
                moderno.
              </p>
              <h4 class="title-h4 font-gotham-bold">
                <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.65198 27.2246L29.3252 9.33228" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M7.54248 25.6709V48.5333C7.54248 51.805 10.1954 54.4579 13.4671 54.4579H52.3653" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M12.4731 21.0301V10.8332C12.4731 10.0037 13.1445 9.32568 13.9806 9.32568H16.9297C17.7591 9.32568 18.4372 9.99714 18.4372 10.8332V16.6195" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M21.5443 53.6745V40.0282C21.5443 36.3944 24.4934 33.4453 28.1272 33.4453H29.3253" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M29.3253 4.9021V56.2486" stroke="#0ECFE2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M43.1494 54.2736V24.6506" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M48.1655 30.2593L43.5641 34.8541" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M42.6358 30.1407L39.8184 27.3232" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M36.8166 30.9242C35.4342 30.0355 34.5192 28.4885 34.5192 26.7309C34.5192 23.9726 36.7508 21.741 39.509 21.741C39.509 18.9828 41.7406 16.7512 44.4988 16.7512C47.2571 16.7512 49.4887 18.9828 49.4887 21.741C49.4887 22.4191 49.3504 23.0708 49.1068 23.6567C53.1751 24.0911 56.348 27.534 56.348 31.7141C56.348 36.1905 52.7209 39.8242 48.2379 39.8242C46.3091 39.8242 44.5449 39.1528 43.1559 38.0271C42.2804 39.4753 40.7005 40.4496 38.8836 40.4496C36.1254 40.4496 33.8938 38.218 33.8938 35.4598C33.8938 33.4454 35.0919 31.7141 36.81 30.9242H36.8166Z" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span>Versátil</span>
              </h4>
              <p class="des">
                Utilizables tanto en interiores como en exteriores, nuestras baterías de paneles solares le permitirán
                almacenar la energía generada para garantizar una fuente de energía de respaldo. No necesitará nada más
                que sus paneles voltaicos y su generador solar portátil EcoFlow.
              </p>
              <h4 class="title-h4 font-gotham-bold">
                <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M47.8067 13.3267H12.1934C7.4842 13.3267 3.66669 17.1442 3.66669 21.8533V46.3066C3.66669 51.0158 7.4842 54.8333 12.1934 54.8333H47.8067C52.5158 54.8333 56.3333 51.0158 56.3333 46.3066V21.8533C56.3333 17.1442 52.5158 13.3267 47.8067 13.3267Z" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M21.6667 11.8932V10.1265C21.6667 7.93984 23.32 6.1665 25.3534 6.1665H34.6467C36.68 6.1665 38.3334 7.93984 38.3334 10.1265V11.8932" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M12.6667 14.04V54.12" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M18 14.04V54.12" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M42 14.04V54.12" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M47.3334 14.04V54.12" stroke="#212121" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M30.9546 26.8113L23.5402 29.8159L25.0425 33.5231L32.4569 30.5185L30.9546 26.8113Z" fill="#0ECFE2" stroke="#0ECFE2" stroke-width="3" stroke-linejoin="round"></path>
                  <path d="M36.5848 42.0142L33.1207 40.0142L31.1207 43.4783L34.5848 45.4783L36.5848 42.0142Z" fill="#0ECFE2" stroke="#0ECFE2" stroke-width="3" stroke-linejoin="round"></path>
                </svg>
                <span>Ideal para sus salidas</span>
              </h4>
              <p class="des">
                Diseñados para soportar cualquier tipo de salida al aire libre (excursión, campamento, viaje por
                carretera), nuestros paneles solares y nuestra batería autónoma se unen para un propósito específico e
                inamovible: ¡asegurar su tranquilidad también al aire libre!
              </p>
            </div>
          </div>
          <div style="clear:both;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-75 pr custom_mobile_hidden">
    <img
      src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Swiper-1.png?v=1638460105"
      class="overlay-img custom_mobile_hidden"
      alt="estacion electrica portatil"
    >
    <div class="half-mask pa">
      <div class="pr">
        <div class="text pa">
          <h3 class="title-h3 font-gotham-bold color-white">¿Por qué elegir la batería solar EcoFlow?</h3>
          <div class="show-content">
            <div class="content-slide active-slide">
              <h6 class="title-h6 font-gotham-bold color-white">Recarga rápida</h6>
              <p class="des font-gotham color-white">
                Las baterías externas de carga solar EcoFlow están equipadas con la tecnología X-Stream, la tecnología
                de carga más rápida del mundo. Diga adiós a los depósitos de gas de los generadores térmicos y recargue
                su generador solar autónomo al 80% en tan solo una hora.
              </p>
            </div>
            <div class="content-slide">
              <h6 class="title-h6 font-gotham-bold color-white">Mejor rendimiento</h6>
              <p class="des font-gotham color-white" style="display:none;">
                Nuestras estaciones de carga portátiles incorporan un avanzado sistema de gestión interno patentado. Al
                monitorear constantemente el voltaje, la corriente y la temperatura, este sistema garantiza el
                rendimiento de la batería solar EcoFlow a lo largo del tiempo, requiriendo de menos mantenimiento que un
                generador térmico.
              </p>
            </div>
            <div class="content-slide">
              <h6 class="title-h6 font-gotham-bold color-white">Amplia compatibilidad</h6>
              <p class="des font-gotham color-white" style="display:none;">
                Los enchufes de las baterías externas solares EcoFlow permiten alimentar todo tipo de dispositivos.
                Están dotados de potencias de salida que van desde 1800W hasta 3600W, por lo que siempre tendrá lo que
                necesita. Simplemente conecte su dispositivo y estará listo para comenzar. Todo es más sencillo con las
                baterías solares recargables EcoFlow.
              </p>
            </div>
            <div class="content-slide">
              <h6 class="title-h6 font-gotham-bold color-white">Energía limpia y renovable</h6>
              <p class="des font-gotham color-white" style="display:none;">
                Las estaciones de energía solar portátiles EcoFlow son más que simples generadores, ¡también se pueden
                utilizar como generadores solares! Al conectar un panel solar EcoFlow a su estación eléctrica se
                beneficiará de una fuente de energía completa.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-75-mb custom_mobile_show">
    <div class="section-title">
      <h2 class="title-h2 font-gotham-bold">¿Por qué elegir la batería solar EcoFlow?</h2>
    </div>
    <div class="swiper-container-outside pr">
      <div class="swiper-container protable-swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Swiper-1.png?v=1638460105">
            <div class="text">
              <h6 class="title-h6 font-gotham-bold">Recarga rápida</h6>
              <p class="des font-gotham color-white">
                Las baterías externas de carga solar EcoFlow están equipadas con la tecnología X-Stream, la tecnología
                de carga más rápida del mundo. Diga adiós a los depósitos de gas de los generadores térmicos y recargue
                su generador solar autónomo al 80% en tan solo una hora.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/pps-slider-image-3.png?v=1678514554">
            <div class="text">
              <h6 class="title-h6 font-gotham-bold">Mejor rendimiento</h6>
              <p class="des font-gotham color-white">
                Nuestras estaciones de carga portátiles incorporan un avanzado sistema de gestión interno patentado. Al
                monitorear constantemente el voltaje, la corriente y la temperatura, este sistema garantiza el
                rendimiento de la batería solar EcoFlow a lo largo del tiempo, requiriendo de menos mantenimiento que un
                generador térmico.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/pps-slider-image-2.png?v=1678271639">
            <div class="text">
              <h6 class="title-h6 font-gotham-bold">Amplia compatibilidad</h6>
              <p class="des font-gotham color-white">
                Los enchufes de las baterías externas solares EcoFlow permiten alimentar todo tipo de dispositivos.
                Están dotados de potencias de salida que van desde 1800W hasta 3600W, por lo que siempre tendrá lo que
                necesita. Simplemente conecte su dispositivo y estará listo para comenzar. Todo es más sencillo con las
                baterías solares recargables EcoFlow.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="https://cdn.shopify.com/s/files/1/0592/6004/3456/files/pps-slider-image-4.png?v=1678514554">
            <div class="text">
              <h6 class="title-h6 font-gotham-bold">Energía limpia y renovable</h6>
              <p class="des font-gotham color-white">
                Las estaciones de energía solar portátiles EcoFlow son más que simples generadores, ¡también se pueden
                utilizar como generadores solares! Al conectar un panel solar EcoFlow a su estación eléctrica se
                beneficiará de una fuente de energía completa.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    {% comment %}
      <div class="section-title">
        <h2 class="title-h2 font-gotham-bold">No es una estación de energía portátil si no es de EcoFlow</h2>
      </div>
      <div class="section-text">
        <div class="text">
          <h6 class="title-h6 font-gotham-bold">Fastest Charging</h6>
          <p class="des font-gotham">X-Stream de EcoFlow ofrece velocidades de carga récord que harán que estés listo en un abrir y cerrar de ojos. ¿Cómo de rápido? Del 0 al 80 % en apenas 1 hora. Cuentan con la tecnología de carga más rápida de todas las estaciones de energía portátiles del mercado.</p>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Section-75-1-Mb.jpg?v=1641665940">
      </div>
      <div class="section-text">
        <div class="text">
          <h6 class="title-h6 font-gotham-bold">SUMINISTRA ALIMENTACIÓN A PRÁCTICAMENTE CUALQUIER DISPOSITIVO</h6>
          <p class="des font-gotham">La mejor estación de energía portátil es la que lo hace todo. EcoFlow te ofrece toda la potencia que necesitas con solo pulsar un botón. Conecta varios dispositivos al mismo tiempo y disfruta de una fuente de alimentación portátil para cualquier situación.</p>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Section-75-2-Mb.png?v=1641665940">
      </div>
      <div class="section-text">
        <div class="text">
          <h6 class="title-h6 font-gotham-bold">POTENCIA PORTÁTIL PENSADA PARA DURAR</h6>
          <p class="des font-gotham">La mejor estación de energía portátil es la que lo hace todo. EcoFlow te ofrece toda la potencia que necesitas con solo pulsar un botón. Conecta varios dispositivos al mismo tiempo y disfruta de una fuente de alimentación portátil para cualquier situación.</p>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Section-75-3-Mb.jpg?v=1641665940">
      </div>
    {% endcomment %}
  </div>

  <div class="section-7">
    <div class="bsection-container">
      <div class="faq-block tc">
        <h2 class="title-h2 font-gotham-bold tc">Preguntas frecuentes</h2>
        {% comment %} <button type="button" class="show-me-button font-gotham"><i class="iconfont icon-jiahao"></i>MUÉSTRAME</button> {% endcomment %}
        <div class="show-me" style="display: block;">
          <div class="question">
            <div class="question-container">
              <h3 class="title-h3 font-gotham-bold pr">
                ¿Por qué las baterías solares EcoFlow son diferentes a un generador térmico?
              </h3>
              <img
                class="plus"
                src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/plus.png?v=1659531704"
                width="12"
                height="12"
              >
              <img
                class="minus active"
                src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/minus.png?v=1659531704"
                width="12"
                height="12"
              >
            </div>
            <div class="des" style="display: block;">
              <p>
                Los generadores térmicos solo se pueden utilizar al aire libre. Son pesados, ruidosos, contaminantes y
                requieren de mucho mantenimiento. Las estaciones de energía solar EcoFlow son fiables y se pueden usar
                en interiores, exteriores e incluso en movimiento. También se pueden combinar con paneles solares. ¿El
                resultado? ¡Una estación solar móvil responsable, moderna y eficiente!
              </p>
            </div>
          </div>
          <div class="question">
            <div class="question-container">
              <h3 class="title-h3 font-gotham-bold pr">
                ¿Pueden las baterías nómadas EcoFlow alimentar un refrigerador?
              </h3>
              <img
                class="plus active"
                src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/plus.png?v=1659531704"
                width="12"
                height="12"
              >
              <img
                class="minus"
                src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/minus.png?v=1659531704"
                width="12"
                height="12"
              >
            </div>
            <div class="des">
              <p>
                Sí, nuestras baterías solares pueden alimentar un refrigerador. Sin embargo, la duración de la batería
                puede variar. Si tomamos el ejemplo de la batería solar portátil EcoFlow DELTA 2, esta es capaz de
                alimentar un frigorífico de 120W durante unas 7 horas… ¡Perfecto en caso de un corte de energía!
              </p>
            </div>
          </div>
          <div class="question">
            <div class="question-container">
              <h3 class="title-h3 font-gotham-bold pr">
                ¿Es seguro usar una estación de energía solar tan grande para alimentar dispositivos?
              </h3>
              <img
                class="plus active"
                src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/plus.png?v=1659531704"
                width="12"
                height="12"
              >
              <img
                class="minus"
                src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/minus.png?v=1659531704"
                width="12"
                height="12"
              >
            </div>
            <div class="des">
              <p>
                Hemos diseñado las estaciones eléctricas portátiles EcoFlow de manera que proporcionen la máxima
                seguridad. Un avanzado sistema de gestión interno autorregula el voltaje, la corriente y la temperatura
                para garantizar un uso óptimo y seguro. Los elementos que componen nuestras estaciones eléctricas
                portátiles son fiables y robustos, dotándolas de una excelente vida útil de varios años.
              </p>
            </div>
          </div>
          <div class="question last-question">
            <div class="question-container">
              <h3 class="title-h3 font-gotham-bold pr">¿Por qué comprar una batería EcoFlow?</h3>
              <img
                class="plus active"
                src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/plus.png?v=1659531704"
                width="12"
                height="12"
              >
              <img
                class="minus"
                src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/minus.png?v=1659531704"
                width="12"
                height="12"
              >
            </div>
            <div class="des">
              <p>
                Las baterías solares EcoFlow son fáciles de usar, limpias y fiables, pero también son versátiles. En
                particular, la posibilidad de utilizar estos "mini generadores solares" en interiores es una ventaja
                definitiva. Al ser silenciosos, también son totalmente aptos para acampar, a diferencia de un generador
                térmico.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-8" style="display: none;">
    <h2 class="title-h3 font-gotham-bold big-title tc">CARACTERÍSTICAS INCLUIDAS</h2>
    <div class="media-container custom_mobile_hidden">
      <div class="media-logo">
        <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Media-Logo.png?v=1641715228">
      </div>
      {% comment %}
        <div class="media-logo">
          <img src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Media-1.jpg?v=1638467755">
        </div>
        <div class="media-logo">
          <img src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Media-2.jpg?v=1638467755">
        </div>
        <div class="media-logo">
          <img src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Media-3.jpg?v=1638467755">
        </div>
        <div class="media-logo">
          <img src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Media-4.jpg?v=1638467755">
        </div>
      {% endcomment %}
    </div>
    <div class="mobile-media-container custom_mobile_show">
      <div class="media-logo">
        <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Media-Logo-Mobile-1.png?v=1641666769">
      </div>
    </div>
  </div>

  <p class="bottom-description">Los términos “DELTA” y “RIVER”, que se mencionan en esta página, se refieren a productos fabricados exclusivamente por ECOFLOW INC.</p>
</div>
{{ 'swiper.min.js' | asset_url | script_tag }}
{{ 'custom.js' | asset_url | script_tag }}

<style>
  @media screen and (max-width: 767px) {
    .portable-power-stations .new-section-4 .section-text .title-h2 {
      font-size: 28px !important;
      color: #ffffff !important;
    }
    .portable-power-stations .new-section-7 .section-text .title-h2 {
      font-size: 28px !important;
      color: #ffffff !important;
    }
  }

  .section-7 .faq-block .question {
    display: block;
  }
</style>
{% include 'atb', zone: 'Bottom' %}
